﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FunQuizWeb.Controllers;
@using FunQuizWeb.Models;
@using FunQuizWeb.Language;

@model AccountModel
<link data-chunk="main" rel="stylesheet" href="~/Content/assets/css/account.css">
@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {
        String isSub = Session["isSub"] as String;
        List<String> listServices = Session["packetReg"] as List<String>;
        //String convertPacket = packetReg == UtilsController.Constant.REGISTER_DAILY_2 ? Lang.packetDaily2Info :
        //     packetReg == UtilsController.Constant.REGISTER_DAILY_3 ? Lang.packetDaily3Info :
        //     packetReg == UtilsController.Constant.REGISTER_DAILY_5 ? Lang.packetDaily5Info : Lang.freePacketInfo;

        // check service
        Boolean service10 = listServices.Find(x => x == UtilsController.Constant.FUNNY_QUIZZ10) == UtilsController.Constant.FUNNY_QUIZZ10 ? true : false;
        Boolean service15 = listServices.Find(x => x == UtilsController.Constant.FUNNY_QUIZZ15) == UtilsController.Constant.FUNNY_QUIZZ15 ? true : false;

        <div class="account-settings-container">
            <div class="account-setting-content">
                <div class="account-setting-page">
                    @*<h1 class="account-setting-title">Settings</h1>*@

                    <div class="accInfo-component">
                        <h2 class="section-h2">@Lang.accountInformation</h2>
                        <div class="accInfo-component-list">
                            <div class="contact-info-container" style="width:100%;">
                                <div class="row row-info">
                                    <div class="col-md-6">
                                        <span class="text-info-style">@Lang.fullName</span>
                                    </div>
                                    <div class="col-md-6">
                                        <!--<span class="contact-name text-info-style">-->@*Bui Trung Hieu*@<!--</span>-->
                                        <input type="hidden" id="name-data" value="@Model.profile.fullname" />

                                        <input class="input-text enter-name" placeholder="@Model.profile.fullname" type="text" id="personal-name"
                                               value="@Model.profile.fullname" name="name" onclick="name_click()" onmouseover="name_over()" />
                                        <span class="line-name input-line"></span>
                                        <script>
                                            $(".enter-name").change(function () {
                                            })
                                            function name_click() {
                                                $(".line-name").removeClass("input-line");
                                                $(".line-name").addClass("input-line-change");
                                            }
                                            function name_over() {
                                                $(".line-name").addClass("input-line");
                                                $(".line-name").removeClass("input-line-change");
                                            }
                                        </script>
                                    </div>
                                </div>

                                <div class="row row-info ">
                                    <div class="col-md-6 picture-container">
                                        <span class="text-info-style pituer-account">@Lang.yourImage</span>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <img style="width:250px;" src="@Model.profile.picture" />
                                            <input type="file" name="image" class="image" id="image" style=" font-size: 18px; margin-top:10px;" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-info ">
                                    <div class="col-md-6">
                                        <span class="text-info-style">@Lang.phoneNumber</span>
                                    </div>
                                    <div class="col-md-6">
                                        <span class="contact-name text-info-style" id="personal-phone">@Model.profile.msisdn</span>
                                    </div>
                                </div>
                                <div class="row row-info ">
                                    <div class="col-md-6">
                                        <span class="text-info-style">@Lang.birthday</span>
                                    </div>
                                    <div class="col-md-6">
                                        @*<span class="contact-name text-info-style">29/08/1995</span>*@
                                        <input type="hidden" id="birthday-data" value="@Model.profile.birthday" />
                                        <input type="date" id="personal-birthday" name="birthday" data-date-format="mm/dd/yyyy"
                                               class="birthday-box" value="">
                                        @*<span class="line-date input-line"></span>*@
                                        <script>
                                            // convert birthday
                                            var birthday = $("#birthday-data").val();
                                            var d = new Date(birthday);
                                            var nd = d.getDate();
                                            var nm = d.getMonth() + 1;
                                            var ny = d.getFullYear();
                                            console.log("nd ", nd);
                                            console.log("nm ", nm);
                                            console.log("ny ", ny);

                                            var cd = nd, cm = nm;
                                            if (nd < 10) {
                                                cd = "0" + nd;
                                            }
                                            if (nm < 10) {
                                                cm = "0" + nm;
                                            }
                                            var res = ny + "-" + cm + "-" + cd;
                                            document.getElementById('personal-birthday').value = res;
                                            var birthday21 = $("#personal-birthday").val();
                                            //document.getElementById("personal-birthday").value = "2014-02-09";
                                            console.log("birthday ", birthday21);
                                            console.log("res ", res);

                                        </script>
                                    </div>
                                </div>

                                <div class="row row-info ">
                                    <div class="col-md-6">
                                        <span class="text-info-style">@Lang.totalScore</span>
                                    </div>
                                    <div class="col-md-3" style="padding: 5px;margin:5px 0;">
                                        <span class="contact-name text-info-style detail-score-style" id="personal-phone">@Model.profile.point Points</span>
                                    </div>
                                    <div class="col-md-3" style="margin:5px 0;">
                                        <button class="contact-name box-detail-score-style button-score-style exchangebtn">@Lang.exchange</button>
                                    </div>
                                </div>

                                <div class="row row-info-style ">
                                    <div class="col-md-6">
                                        <button id="updateBtn" disabled class="submit first save-change check-sub-dim">@Lang.update</button>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="accInfo-component" style="margin:50px auto;">
                            <h2 class="section-h2">@Lang.accountPlan</h2>
                            <div class="accInfo-component-list">
                                <div class="contact-info-container" style="width:100%;">

                                    <div class="row row-info-style ">
                                        <div class="col-md-6" style="height:70px;">
                                            <span class="text-info-style" style=" padding-left: 20px;">@Lang.yourPlan  </span>
                                        </div>
                                        <div class="col-md-6">
                                            @{ if (isSub == "false" || isSub == null)
                                                {
                                                    <p class="contact-name text-info-style plan-info" id="personal-phone" style="margin:0;">
                                                        @Lang.freeSubscriber
                                                    </p>
                                                }
                                                else
                                                {
                                                    for (int s = 0; s < listServices.Count; s++)
                                                    {
                                                        <p class="contact-name text-info-style plan-info" id="personal-phone" style=" margin: 5px 0;">
                                                            @listServices[s]
                                                        </p>
                                                    }

                                                }
                                            }
                                        </div>
                                    </div>

                                    <div class="row row-info-style ">

                                        <div class="col-md-6 column-info">
                                            <div class="packet">
                                                <div class="title">@Lang.daily10</div>
                                                <div class="price">@Lang.daily10Fee</div>
                                                <hr class="topBar register-btn">

                                                <div class="description">@Lang.packetDaily10Info</div>
                                                <button type="button" class="od-Button od-Button--primary choosePlanBtnAccount grey btn send-fault btn-cancel-nav-modal
                                                        @(service10 == true ? "check-sub-dim" : "")" value=@UtilsController.Constant.FUNNY_QUIZZ10>
                                                    <span>@Lang.register</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column-info">
                                            <div class="packet">
                                                <div class="title">@Lang.daily15</div>
                                                <div class="price">@Lang.daily15Fee</div>
                                                <hr class="topBar register-btn">

                                                <div class="description">@Lang.packetDaily15Info</div>
                                                <button type="button" class="od-Button od-Button--primary choosePlanBtnAccount grey btn send-fault btn-cancel-nav-modal
                                                        @(service15 == true ? "check-sub-dim" : "")" value=@UtilsController.Constant.FUNNY_QUIZZ15>
                                                    <span>@Lang.register</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        $(".choosePlanBtnAccount").on("click", function () {
                            var packetType = $(this).attr("value");

                            $.ajax({
                                url: urlConfig("/Account/RegisterAction"),
                                type: "POST",
                                data: {
                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                    packettype: packetType,
                                },
                                success: function (data) {
                                    console.log(data);
                                    $("#choose-plan-modal").modal("hide");

                                    if (data.error_code == "0") {
                                        $("#active-code-modal").modal("show");
                                    } else {
                                        $("#response-modal").modal("show");
                                        $("#response-modal-content").html(data.error_content);
                                    }
                                }
                            });
                        })
                    </script>

                    <div class="account-setting-section" style="margin:50px auto;">
                        <div class="list-component-wrapper">
                            <h2 class="section-h2">@Lang.accountSettings</h2>
                            <div class="row row-info-style ">
                                <div class="col-md-6">
                                    <a href="#" class="changePass text-info-style" style=" padding-left: 20px;">@Lang.changePass</a>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @section scripts{
                <script src="~/Content/assets/js/config.js"></script>
                <script src="~/Content/assets/js/account.js"></script>
            }
        </div>
    }
}

