﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FunQuizWeb.Language;
<div class="register-container">
    <div class="">
        <h1>Login</h1>
        <p class="form-title-header">@Lang.fillToLogin</p>
        <hr>

        <label for="phonenumber"><b class="form-title">Phone number</b></label>
        <input id="phonenumber" class="input-form input-font-size-20" type="number" placeholder="@Lang.enterPhoneNumber" name="phonenumber" required>

        <label for="psw"><b class="form-title">Password</b></label>
        <input id="password" class="input-form input-font-size-20" type="password" placeholder="@Lang.enterPass" name="psw" required>

        @*<label for="psw-repeat"><b class="form-title">Repeat Password</b></label>
        <input class="input-form" type="password" placeholder="Repeat Password" name="psw-repeat" required>*@
        <div style=" text-align: right; color: white; margin: 0 0 20px 0;">
            <a href="#" style=" text-align: right; color: white; font-size: 18px;" id="forgotPassword">
                @Lang.forgotPass
            </a>
        </div>
        <div class="clearfix">
            <button id="login_button" type="submit" class="acceptbtn loginbtn button-disable">@Lang.login</button>
            <button type="button" class="cancelbtn"><a href="/Account/Register" style="color: white;">@Lang.register</a></button>

        </div>
    </div>
    <script type="text/javascript" src="~/Content/assets/js/login.js"></script>

</div>

