﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FunQuizWeb.Language;

<style>
    .input-form {
        font-size: 18px;
    }
</style>

<div class="register-container">

    <form action="/Account/RegisterAction">
        <div class="">
            <h1>Sign Up</h1>
            <p class="form-title-header">@Lang.fillToRegister</p>
            <hr>

            @*<label for="email"><b class="form-title">Email</b></label>
                <input id="email" class="input-form" type="text" placeholder="Enter Email" name="email" required>*@

            <label for="phonenumber"><b class="form-title">Phone number</b></label>
            <input id="phonenumber" class="input-form" type="number" placeholder="@Lang.enterPhoneNumber" name="phonenumber" required>

            @*<label for="psw"><b class="form-title">Password</b></label>
                <input class="input-form" type="password" placeholder="Enter Password" name="psw" required>

                <label for="psw-repeat"><b class="form-title">Repeat Password</b></label>
                <input class="input-form" type="password" placeholder="Repeat Password" name="psw-repeat" required>*@

            <p style="font-size:18px;">@Lang.agreeOur <a href="#" style="color:dodgerblue">@Lang.policy</a>.</p>

            <input type="hidden" name="packetType" class="packetType" id="packetType" value="" />

            <input type="hidden" name="captcha" id="captcha" value="" />
            <form id="register-sub-captcha" action="?" method="POST">
                <div id="html_element"></div>
                <br />
                @*<input type="submit" value="Submit" />*@
            </form>

            <div class="clearfix">
                <button type="button" class="cancelbtn freeBtn button-disable">@Lang.createFree</button>
                <button type="submit" class="acceptbtn signupbtn button-disable">@Lang.signUp</button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="~/Content/assets/js/register.js"></script>

</div>