﻿
@{
    ViewBag.Title = "AdminAdding";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@model FunQuizWeb.Models.AdminAddingModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Admin";
        </script>
    }
    else
    {
        List<String> status = new List<string>();
        status.Add("0");
        status.Add("1");

        List<String> typeOf = new List<string>();
        typeOf.Add("0");
        typeOf.Add("1");
        typeOf.Add("2");
        typeOf.Add("3");
        typeOf.Add("4");
        typeOf.Add("5");

        List<String> isPlayed = new List<string>();
        isPlayed.Add("0");
        isPlayed.Add("1");


        <link rel="stylesheet" type="text/css" href="~/Content/admin/css/admin.css" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/Content/admin/css/editing.css" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/Content/admin/css/adding.css" charset="utf-8" />

        <input type="hidden" id="level" value="@Model.level" />

        if (Model.parent != null)
        {
            <input type="hidden" id="parentID" value="@Model.parent.id" />
        }
        else
        {
            <input type="hidden" id="parentID" value="-1" />
        }


        <input type="hidden" name="previous-href" id="previous-href" value="@Model.previous_href" />


        <div class="content-wrapper" style="margin-bottom:50px;">

            <div class="row match-height" style="margin-left: 0px; margin-bottom: 50px;">
                <div class="col-md-2  title-action-box" style="background: #27AE60; max-width:200px">
                    <span class="title-action">Adding</span>
                </div>
                <div class="col-md-2  title-action-box" style="margin-left: 15px; max-width: 200px">
                    @{
                        if (Model.level == UtilsController.Constant.LEVEL_ONE)
                        {
                            <span class="title-action">Menus</span>
                        }
                        else if (Model.level == UtilsController.Constant.LEVEL_TWO)
                        {
                            <span class="title-action">Topics</span>
                        }
                        else if (Model.level == UtilsController.Constant.LEVEL_THREE)
                        {
                            <span class="title-action">Games</span>
                        }
                        else if (Model.level == UtilsController.Constant.LEVEL_FOUR)
                        {
                            <span class="title-action">Questions</span>
                        }
                        else if (Model.level == UtilsController.Constant.LEVEL_FIVE)
                        {
                            <span class="title-action">Answers</span>
                        }
                    }
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="eventName">Name global</label>
                        <input class="form-control" type="text" id="nameGlobal" name="eventName" autocomplete="on" value="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="eventName">Name local</label>
                        <input class="form-control" type="text" id="nameLocal" name="eventName" autocomplete="on" value="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fromDate">Image ICON</label>
                        @*@using (Ajax.BeginForm("UploadAction", "Admin", new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "result" }, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <input class="form-control" type="file" id="imageIcon" name="file">
                        <input type="submit" id="submitIcon" value="Upload Image" style="margin: 10px 0px 10px 0px; display: none;" />
                        <input type="hidden" name="level" value="@Model.level" />
                        <input type="hidden" name="view" value="Adding" />
                        <input type="hidden" name="iconName" id="iconName" value="" />
                    }*@
                        @using (Html.BeginForm("UploadAction", "Admin", FormMethod.Post, new { id = "iconForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="form-control" type="file" id="imageIcon" name="file">
                            <input type="submit" id="submitIcon" value="Upload Image" style="margin: 10px 0px 10px 0px; display: none;" />
                            <input type="hidden" name="level" value="@Model.level" />
                            <input type="hidden" name="view" value="Adding" />
                            <input type="hidden" name="iconName" id="iconName" value="" />
                        }
                        <img id="previewIcon" class="w-100 img-icon" src="0">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fromDate">Image LOGO</label>
                        @using (Html.BeginForm("UploadAction", "Admin", FormMethod.Post, new { id = "logoForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="form-control" type="file" id="imageLogo" name="file">
                            <input type="submit" id="submitLogo" value="Upload Image" style="margin: 10px 0px 10px 0px; display: none;" />
                            <input type="hidden" name="level" value="@Model.level" />
                            <input type="hidden" name="logoName" id="logoName" value="" />
                            <input type="hidden" name="view" value="Adding" />

                        }
                        <img id="previewLogo" class="w-100 img-icon" src="0">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="toDate">Created date</label>
                        <input type="datetime-local" id="createdDate" name="created-date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="toDate">Update date</label>
                        <input type="datetime-local" id="updateDate" name="update-date">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Introduction global</label>
                        <textarea class="form-control" id="introductionGlobal" name="introduction-global" placeholder="">
                </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Introduction local</label>
                        <textarea class="form-control" id="introductionLocal" name="introduction-local" placeholder="">
                </textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Description global</label>
                        <textarea class="form-control" id="descriptionGlobal" name="description-global" placeholder="">
                </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Description local</label>
                        <textarea class="form-control" id="descriptionLocal" name="description-local" placeholder="">
                </textarea>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label for="eventName">Content type</label>
                        <select class="option-box"
                                id="contentType"
                                name="jump">
                            <option value="-1">
                                - Choose -
                            </option>
                            @{
                                for (int i = 0; i < Model.types.Count; i++)
                                {
                                    String type = Model.types[i];

                                    <option value="@type">
                                        @UtilsController.ConvertContentType(type)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="eventName">Code</label>
                        <input class="form-control" type="text" id="code" name="eventName" autocomplete="on" value="">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="eventName">Status</label>
                        <select class="option-box"
                                id="status"
                                name="jump">
                            <option value="-1">
                                - Choose -
                            </option>
                            @{
                                for (int i = 0; i < status.Count; i++)
                                {
                                    String s = status[i];

                                    <option value="@s">
                                        @UtilsController.ConvertStatus(s)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="eventName">Type</label>
                        <select class="option-box"
                                id="typeOf"
                                name="jump">
                            <option value="-1">
                                - Choose -
                            </option>
                            @{
                                for (int i = 0; i < typeOf.Count; i++)
                                {
                                    String type = typeOf[i];

                                    <option value="@type">
                                        @UtilsController.ConvertTypeOf(type)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="eventName">Set play</label>
                        <select class="option-box"
                                id="isPlayed"
                                name="jump">
                            <option value="-1">
                                - Choose -
                            </option>
                            @{
                                for (int i = 0; i < isPlayed.Count; i++)
                                {
                                    String type = isPlayed[i];

                                    <option value="@type">
                                        @UtilsController.ConvertIsPlayed(type)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Content</label>

                        <div id="editor">
                            Enter your content here.
                        </div>

                        <script>
                            let editorAdd;

                            ClassicEditor
                                .create(document.querySelector('#editor'))
                                .then(newEditor => {
                                    editorAdd = newEditor;
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                        </script>

                        <!--<textarea class="form-control textarea-editor" id="htmlContent" name="htmlContent"
                          style="display: none;"></textarea>

                <textarea class="pastehtml-area" id="paste_html_value" name="paste_html_value" cols="100" rows="6" style="visibility: hidden; display: none;"></textarea><span id="cke_paste_html_value" class="cke_skin_kama cke_1 cke_editor_paste_html_value" dir="ltr" title="" lang="en" tabindex="0" role="application" aria-labelledby="cke_paste_html_value_arialbl">
                    <span id="cke_paste_html_value_arialbl" class="cke_voice_label">
                        Rich Text
                        Editor
                    </span>
                    <span class="cke_browser_webkit" role="presentation">
                        <span class="cke_wrapper cke_ltr" role="presentation" style="padding:0px;">
                            <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>-->
                        <!-- <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script> -->
                        <!--<textarea name="content" id="editor1">
                </textarea>
                                                    <script>
                                                        CKEDITOR.replace('editor1');
                                                    </script>
                                                    <style>
                                                        .cke_skin_kama {
                                                            visibility: hidden;
                                                        }
                                                    </style>
                                                </span>
                                            </span>
                                        </span>-->

                    </div>
                </div>
            </div>


            <div class="row hidden" id="div-published">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Already Published!</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary btn btn-success" style="background:#ff0000; color:#ffffff; border:none"
                        onclick="closeEditing()">
                    Close
                </button>
                <button id="checkBtn" type="button" class="btn btn-outline-primary btn btn-success"
                        onclick="checkEditing(@Model.level)">
                    Check
                </button>
                <button id="saveBtn" type="button" class="btn btn-outline-primary btn btn-success hide"
                        onclick="saveEditing(@Model.level)">
                    Save
                </button>
            </div>

            @section scripts{
                <script src="~/Content/assets/js/config.js"></script>
                <script src="~/Scripts/admin/adding.js"></script>
            }

        </div>
    }
}


