﻿@{
    ViewBag.Title = "AdminByParentID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@model FunQuizWeb.Models.AdminHomeModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Admin";
        </script>
    }
    else
    {
        int pageNow = 1;
        if (Model.pageNow != null)
        {
            pageNow = int.Parse(Model.pageNow);
        }

        List<String> nameParent = Session["parents-name"] as List<String>;
        List<Parent> parents = Session["parents"] as List<Parent>;

        <link rel="stylesheet" type="text/css" href="~/Content/admin/css/child.css" charset="utf-8" />

        <input type="hidden" id="redirection" value="" />

        <div class="content-wrapper">

            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12 table-responsive" style="margin:0 0 30px 0">
                            <div class="col-md-2 title-action-box" style="padding-left:15px; max-width:200px;">
                                <span class="title-action">@nameParent[int.Parse(Model.level) - 1]</span>
                            </div>
                            @{
                                if (Model.recent != null)
                                {
                                    <div class="col-md-10">
                                        <div class="card">
                                            <div class="card-body collapse in">
                                                <div class="card-block">
                                                    <form action="/Admin/Adding" method="post" id="admin-adding-from">
                                                        <input type="hidden" name="level" value="@Model.level" />
                                                    </form>
                                                    <button type="button" class="btn btn-success btn-add adding-action" onclick="addEvent()"
                                                            style="border-radius: 50%; height: 50px; width: 50px; max-width: 200px;">
                                                        <img class="normal-icon" src="~/Content/admin/images/icons8-plus-math-90.png" style="margin:0px" />
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>


                        <div class="row" style="margin:0px;">
                            <input type="hidden" id="levelNow" value="@Model.level" />
                            <input type="hidden" id="levelChoose" value="" />
                            <input type="hidden" id="parentID" value="" />

                            @{
                                for (int i = 0; i < Model.parents.Count; i++)
                                {
                                    if (Model.parents[i] != null)
                                    {
                                        <div class="col-md-4" style="display: @(parents.Count >= i ? " " : " none") ">
                                            <div class="form-group">
                                                <label for="eventName">Choose the @i @nameParent[i] ID</label>
                                                <select class="option-box select-parent-@Model.parents[i].level"
                                                        name="jump">
                                                    @{
                                                        if (@Model.parents[i].name == null)
                                                        {
                                                            <option value="-2" level="@Model.parents[i].level">
                                                                - Choose -
                                                            </option>
                                                        }
                                                        else
                                                        {
                                                            <option value="-2" level="@Model.parents[i].level">
                                                                - @Model.parents[i].name -
                                                            </option>
                                                        }
                                                    }
                                                    @{
                                                        for (int j = 0; j < Model.parents[i].data.games.Count; j++)
                                                        {
                                                            Game parent = Model.parents[i].data.games[j];
                                                            <option value="@parent.id" level="@Model.parents[i].level">
                                                                @parent.nameGlobal
                                                            </option>
                                                        }
                                                    }
                                                </select>
                                                @*<button id="nextBtn" class="next-btn">GO</button>*@
                                                <form action="/Admin/Child" method="get" class="to-admin-level-form">
                                                    @*<input type="hidden" id="parentID" value="" />*@
                                                </form>
                                                <script>
                                                $(".select-parent-@Model.parents[i].level").change(function () {
                                                    var levelChoose = $(".select-parent-@Model.parents[i].level").find(':selected').attr('level');
                                                    var parentID = $(".select-parent-@Model.parents[i].level :selected").val();
                                                    var levelNow = document.getElementById("levelNow").value;

                                                    $("#levelChoose").val(levelChoose);
                                                    $("#parentID").val(parentID);

                                                    $("#redirection").val("/Admin/Child?levelChoose=" + levelChoose + "&levelNow=" + levelNow + "&parentID=" + parentID);

                                                    $('<input>').attr({
                                                        type: 'hidden',
                                                        id: 'levelChoose',
                                                        name: 'levelChoose',
                                                        value: levelChoose,
                                                    }).appendTo(".to-admin-level-form");
                                                    $('<input>').attr({
                                                        type: 'hidden',
                                                        id: 'levelNow',
                                                        name: 'levelNow',
                                                        value: levelNow,
                                                    }).appendTo(".to-admin-level-form");
                                                    $('<input>').attr({
                                                        type: 'hidden',
                                                        id: 'parentID',
                                                        name: 'parentID',
                                                        value: parentID,
                                                    }).appendTo(".to-admin-level-form");
                                                    $(".to-admin-level-form").submit();
                                                })
                                                </script>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        </div>



                        @{
                            if (Model.recent != null)
                            {
                                <div class="col-md-12 table-responsive">
                                    <table class="table table-striped table-hover">
                                        <thead class="thead-inverse">
                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col" class="text-center">Modify</th>
                                                <th scope="col" class="text-center">Delete</th>
                                                <th scope="col" class="text-left">Title</th>
                                                <th scope="col" class="text-left">Description</th>
                                                <th scope="col" class="text-center">Last update</th>
                                            </tr>
                                        </thead>
                                        <tbody id="gridbody">
                                            @{
                                                for (int i = 0; i < Model.recent.games.Count; i++)
                                                {
                                                    Game prayer = Model.recent.games[i];
                                                    <tr>
                                                        <td scope="row">@i</td>
                                                        <td class="text-center">
                                                            @*<span class="icon-edit" onclick="editEvent(28)"></span>*@
                                                            <form action="/Admin/Editing" method="post" id="admin-editing-from-@prayer.id">
                                                                <input type="hidden" name="level" value="@prayer.level" />
                                                                <input type="hidden" name="id" value="@prayer.id" />
                                                            </form>
                                                            <img class="admin-menu-icon modify-action" value="@prayer.id" src="~/Content/admin/images/icons8-edit-90.png" />
                                                        </td>
                                                        <td class="text-center">
                                                            @*<span class="icon-remove red" style="cursor:pointer"
                                                                onclick="deleteEvent(28)"></span>*@
                                                            @*<form action="/Admin/Delete" method="post" id="admin-delete-from-@prayer.id">
                                                                    <input type="hidden" name="level" value="@prayer.level" />
                                                                    <input type="hidden" name="id" value="@prayer.id" />
                                                                </form>*@
                                                            <img class="admin-menu-icon delete-action" value="@prayer.id" src="~/Content/admin/images/icons8-delete-bin-48.png" />
                                                        </td>
                                                        <td class="text-left">
                                                            @prayer.nameGlobal
                                                        </td>
                                                        <td class="text-left">
                                                            @prayer.introductionGlobal
                                                        </td>
                                                        <td class="text-center">@prayer.updateDate</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <input type="hidden" name="idForDelete" id="idForDelete" value="" />


                                    @*<nav aria-label="Page navigation">
                                        <ul class="pagination">

                                            <li class="page-item active">
                                                <a class="page-link"
                                                   href=/AdminSun/NewsWebManagement?page =1>1</a>
                                            </li>
                                        </ul>
                                    </nav>*@

                                    <style>
                                        .pagination-style {
                                            max-width: 1200px;
                                            margin: auto;
                                            position: relative;
                                            padding: 0;
                                            float: none;
                                            padding-right: 0;
                                            text-align: center;
                                        }
                                    </style>

                                    @{
                                        int totalPage = Model.pageTotal != null ? int.Parse(Model.pageTotal) : 1;
                                        String levelNow = Session["levelNow"] as String;
                                        String levelChoose = Session["levelChoose"] as String;
                                        String parentID = Session["parentID"] as String;

                                        <div class="category-post-pagination col-xs-12 pagination-style">
                                            @{
                                                <ul class="pagination clearfix pagination-ul">
                                                    <li class="pagination-prev">
                                                        <a href="/Admin/Child?levelChoose=@levelChoose&levelNow=@levelNow&parentID=@parentID&page=1">‹‹</a>
                                                    </li>
                                                    <li class="pagination-prev @(pageNow == 1 ? "disabled pagination-disable" : "")">
                                                        <a href="/Admin/Child?levelChoose=@levelChoose&levelNow=@levelNow&parentID=@parentID&page=@(pageNow-1)">‹</a>
                                                    </li>
                                                    @{
                                                        if (totalPage <= 4)
                                                        {
                                                            for (int k = 1; k <= totalPage; k++)
                                                            {
                                                                <li class="@(pageNow == k ? "current" : "")">
                                                                    <a class="@(pageNow == k ? "pagination-active" : "")" href="/Admin/Child?levelChoose=@levelChoose&levelNow=@levelNow&parentID=@parentID&page=@k">@k</a>
                                                                </li>
                                                            }
                                                        }
                                                        else if (pageNow <= totalPage - 4)
                                                        {
                                                            for (int k = pageNow; (k <= pageNow + 4 && k <= totalPage); k++)
                                                            {
                                                                <li class="@(pageNow == k ? "current" : "")">
                                                                    <a class="@(pageNow == k ? "pagination-active" : "")" href="/Admin/Child?levelChoose=@levelChoose&levelNow=@levelNow&parentID=@parentID&page=@k">@k</a>
                                                                </li>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            for (int k = totalPage - 4; k <= totalPage; k++)
                                                            {
                                                                <li class="@(pageNow == k ? "current" : "")">
                                                                    <a class="@(pageNow == k ? "pagination-active" : "")" href="/Admin/Child?levelChoose=@levelChoose&levelNow=@levelNow&parentID=@parentID&page=@k">@k</a>

                                                                </li>
                                                            }
                                                        }
                                                    }
                                                    <li class="pagination-next @(pageNow == totalPage ? "disabled pagination-disable" : "")">
                                                        <a href="/Admin/Child?levelChoose=@levelChoose&levelNow=@levelNow&parentID=@parentID&page=@(pageNow+1)">›</a>
                                                    </li>
                                                    <li class="pagination-next ">
                                                        <a href="/Admin/Child?levelChoose=@levelChoose&levelNow=@levelNow&parentID=@parentID&page=@totalPage">››</a>
                                                    </li>
                                                </ul>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        }

                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>

            @section scripts{
                <script src="~/Content/assets/js/config.js"></script>
                <script src="~/Scripts/admin/child.js"></script>
                <script src="~/Scripts/admin/admin.js"></script>

            }

        </div>
    }
}


