﻿
@{
    ViewBag.Title = "Config";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using FunQuizWeb.Class;
@using FunQuizWeb.Models;
@using FunQuizWeb.Controllers;

@model AdminConfigModel



<link rel="stylesheet" type="text/css" href="~/Content/admin/css/admin.css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="~/Content/admin/css/editing.css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="~/Content/admin/css/adding.css" charset="utf-8" />
<div class="content-wrapper" style="margin-bottom:50px;">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="eventName">Off Reward</label>
                <select class="option-box"
                        id="reward"
                        name="jump">
                    <option value="@Model.rewardEnable.para_value">
                        @UtilsController.ConvertAction(int.Parse(Model.rewardEnable.para_value))
                    </option>
                    @{
                        for (int i = 0; i < 2; i++)
                        {
                            if (i.ToString() != Model.rewardEnable.para_value)
                            {
                                <option value="@i">
                                    @UtilsController.ConvertAction(i)
                                </option>
                            }
                        }
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button id="checkBtn" type="button" class="btn btn-outline-primary btn btn-success"
                onclick="updateConfig()">
            Update
        </button>
    </div>

</div>
@section scripts{
    <script src="~/Content/assets/js/config.js"></script>
    <script src="~/Scripts/admin/adding.js"></script>
}
<script>
    function updateConfig() {
        var status = $("#reward").val();
        console.log("status: ", status);
        $.ajax({
            url: urlConfig("/Admin/ConfigAction"),
            type: "POST",
            data: {
                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                status: status,
            }
        }).success(function (data) {
            console.log(data);
            $('#response-dialog').modal('show');
            $('#response-content').html(data.error_content);
            //$("#redirection").val(data.href);
        });
    }
</script>
