﻿
@{
    ViewBag.Title = "AdminEdit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@using System.Globalization;

@model FunQuizWeb.Models.AdminEditingModel
@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Admin";
        </script>
    }
    else
    {
        DateTime oDateFrom = DateTime.ParseExact(Model.game.fromDate, "yyyy-MM-dd HH:mm:ss.f", CultureInfo.InvariantCulture);
        var from_date = oDateFrom.ToString("yyyy-MM-dd'T'HH:mm:ss.fffK", CultureInfo.InvariantCulture);

        DateTime oDateTo = DateTime.ParseExact(Model.game.toDate, "yyyy-MM-dd HH:mm:ss.f", CultureInfo.InvariantCulture);
        var to_date = oDateTo.ToString("yyyy-MM-dd'T'HH:mm:ss.fffK", CultureInfo.InvariantCulture);

        List<String> types = new List<string>();
        types.Add(UtilsController.GetContentType.AUDIO_FILE);
        types.Add(UtilsController.GetContentType.AUDIO_LINK);
        types.Add(UtilsController.GetContentType.PICTURE_FILE);
        types.Add(UtilsController.GetContentType.TEXT_TYPE);
        types.Add(UtilsController.GetContentType.VIDEO_FILE);
        types.Add(UtilsController.GetContentType.VIDEO_LINK);

        List<String> status = new List<string>();
        status.Add("0");
        status.Add("1");

        List<String> typeOf = new List<string>();
        typeOf.Add("0");
        typeOf.Add("1");
        typeOf.Add("2");
        typeOf.Add("3");
        typeOf.Add("4");
        typeOf.Add("5");

        List<String> isPlayed = new List<string>();
        isPlayed.Add("0");
        isPlayed.Add("1");

        <link rel="stylesheet" type="text/css" href="~/Content/admin/css/admin.css" charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="~/Content/admin/css/editing.css" charset="utf-8" />

        @* unchanged parameters *@
        <input type="hidden" name="ID" id="ID" value="@Model.game.id" />
        <input type="hidden" name="PARENT_ID" id="PARENT_ID" value="@Model.game.parentId" />
        <input type="hidden" name="SV_ID" id="SV_ID" value="@Model.game.serviceId" />
        <input type="hidden" name="CODE" id="CODE" value="@Model.game.code" />
        @*<input type="hidden" name="CONTENT_TYPE" id="CONTENT_TYPE" value="@Model.prayer.content_type" />*@
        <input type="hidden" name="LEVEL" id="LEVEL" value="@Model.game.level" />
        <input type="hidden" name="IS_READ" id="IS_READ" value="@Model.game.isPlayed" />

        <input type="hidden" name="previous-href" id="previous-href" value="@Model.previous_href" />


        <div class="content-wrapper" style="margin-bottom:50px;">

            <div class="row match-height" style="margin-left: 0px; margin-bottom: 50px;">
                <div class="col-md-2  title-action-box" style="background: #27AE60">
                    <span class="title-action">Editing</span>
                </div>
                <div class="col-md-2  title-action-box" style="margin-left: 15px;">
                    @{
                        if (Model.game.level == UtilsController.Constant.LEVEL_ONE)
                        {
                            <span class="title-action">Menus</span>
                        }
                        else if (Model.game.level == UtilsController.Constant.LEVEL_TWO)
                        {
                            <span class="title-action">Topics</span>
                        }
                        else if (Model.game.level == UtilsController.Constant.LEVEL_THREE)
                        {
                            <span class="title-action">Games</span>
                        }
                        else if (Model.game.level == UtilsController.Constant.LEVEL_FOUR)
                        {
                            <span class="title-action">Questions</span>
                        }
                        else if (Model.game.level == UtilsController.Constant.LEVEL_FIVE)
                        {
                            <span class="title-action">Answers</span>
                        }
                    }
                </div>
            </div>



            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="eventName">Name global</label>
                        <input class="form-control" type="text" id="nameGlobal" name="eventName" autocomplete="on" value="@Model.game.nameGlobal">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="eventName">Name local</label>
                        <input class="form-control" type="text" id="nameLocal" name="eventName" autocomplete="on" value="@Model.game.nameGlobal">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fromDate">Image ICON</label>
                        @using (Html.BeginForm("UploadAction", "Admin", FormMethod.Post, new { id = "iconForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="form-control" type="file" id="imageIcon" name="file">
                            <input type="submit" id="submitIcon" value="Upload Image" style="margin: 10px 0px 10px 0px; display: none;" />
                            <input type="hidden" name="level" value="@Model.game.level" />
                            <input type="hidden" name="view" value="Editing" />

                            <input type="hidden" name="iconName" id="iconName" value="" />
                        }
                        <img id="previewIcon" class="w-100 img-icon" src="@Model.game.icon">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fromDate">Image LOGO</label>
                        @using (Html.BeginForm("UploadAction", "Admin", FormMethod.Post, new { id = "logoForm", enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            <input class="form-control" type="file" id="imageLogo" name="file">
                            <input type="submit" id="submitLogo" value="Upload Image" style="margin: 10px 0px 10px 0px; display: none;" />
                            <input type="hidden" name="level" value="@Model.game.level" />
                            <input type="hidden" name="view" value="Editing" />

                            <input type="hidden" name="logoName" id="logoName" value="" />

                        }
                        <img id="previewLogo" class="w-100 img-icon" src="@Model.game.logo">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="toDate">From date</label>
                        <input type="datetime-local" id="createdDate" name="created-date" value="@from_date">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="toDate">To date</label>
                        <input type="datetime-local" id="updateDate" name="update-date" value="@to_date">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Introduction global</label>
                        <textarea class="form-control" id="introductionGlobal" name="introduction-global" placeholder="@Model.game.introductionGlobal">
@Model.game.introductionGlobal
                </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Introduction local</label>
                        <textarea class="form-control" id="introductionLocal" name="introduction-local" placeholder="@Model.game.introductionLocal">
@Model.game.introductionLocal
                </textarea>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Description global</label>
                        <textarea class="form-control" id="descriptionGlobal" name="description-global" placeholder="@Model.game.descriptionGlobal">
@Model.game.descriptionGlobal
                </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Description local</label>
                        <textarea class="form-control" id="descriptionLocal" name="description-local" placeholder="@Model.game.descriptionLocal">
@Model.game.descriptionLocal
                </textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="eventName">Content type</label>
                        <select class="option-box"
                                id="contentType"
                                name="jump">
                            <option value="@Model.game.contentType">
                                - @UtilsController.ConvertContentType(Model.game.contentType) -
                            </option>
                            @{
                                for (int i = 0; i < types.Count; i++)
                                {
                                    String type = types[i];

                                    <option value="@type">
                                        @UtilsController.ConvertContentType(type)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="eventName">Status</label>
                        <select class="option-box"
                                id="status"
                                name="jump">
                            <option value="@Model.game.status">
                                - @UtilsController.ConvertStatus(Model.game.status) -
                            </option>
                            @{
                                for (int i = 0; i < status.Count; i++)
                                {
                                    String s = status[i];

                                    <option value="@s">
                                        @UtilsController.ConvertStatus(s)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="eventName">Type</label>
                        <select class="option-box"
                                id="typeOf"
                                name="jump">
                            <option value="@Model.game.typeOf">
                                - @UtilsController.ConvertTypeOf(Model.game.typeOf) -
                            </option>
                            @{
                                for (int i = 0; i < typeOf.Count; i++)
                                {
                                    String type = typeOf[i];

                                    <option value="@type">
                                        @UtilsController.ConvertTypeOf(type)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="eventName">Set play</label>
                        <select class="option-box"
                                id="isPlayed"
                                name="jump">
                            <option value="@Model.game.isPlayed">
                                - @UtilsController.ConvertIsPlayed(Model.game.isPlayed) -
                            </option>
                            @{
                                for (int i = 0; i < isPlayed.Count; i++)
                                {
                                    String type = isPlayed[i];

                                    <option value="@type">
                                        @UtilsController.ConvertIsPlayed(type)
                                    </option>
                                }
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="toDate">Content</label>

                        <div id="editor">
                            @Html.Raw(Model.game.content)
                        </div>

                        <script>
                            let editorEdit;

                            ClassicEditor
                                .create(document.querySelector('#editor'))
                                .then(newEditor => {
                                    editorEdit = newEditor;
                                })
                                .catch(error => {
                                    console.error(error);
                                });
                        </script>

                        <!--<textarea class="form-control textarea-editor" id="htmlContent" name="htmlContent"
                                  style="display: none;"></textarea>

                        <textarea class="pastehtml-area" id="paste_html_value" name="paste_html_value" cols="100" rows="6" style="visibility: hidden; display: none;"></textarea><span id="cke_paste_html_value" class="cke_skin_kama cke_1 cke_editor_paste_html_value" dir="ltr" title="" lang="en" tabindex="0" role="application" aria-labelledby="cke_paste_html_value_arialbl">
                            <span id="cke_paste_html_value_arialbl" class="cke_voice_label">
                                Rich Text
                                Editor
                            </span>
                            <span class="cke_browser_webkit" role="presentation">
                                <span class="cke_wrapper cke_ltr" role="presentation" style="padding:0px;">
                                    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>-->
                        <!-- <script src="https://cdn.ckeditor.com/ckeditor5/20.0.0/classic/ckeditor.js"></script> -->
                        <!--<textarea name="content" id="editor1">
                        @Model.game.content
                        </textarea>
                                                            <script>
                                                                CKEDITOR.replace('editor1');
                                                            </script>
                                                            <style>
                                                                .cke_skin_kama {
                                                                    visibility: hidden;
                                                                }
                                                            </style>
                                                        </span>
                                                    </span>
                                                </span>-->

                    </div>
                </div>
            </div>


            <div class="row hidden" id="div-published">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Already Published!</label>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn grey btn-outline-secondary btn btn-success" style="background:#ff0000; color:#ffffff!important; border:none"
                        onclick="closeEditing()">
                    Close
                </button>
                <button id="checkBtn" type="button" class="btn btn-outline-primary btn btn-success"
                        onclick="checkEditing()">
                    Check
                </button>
                <button id="saveBtn" type="button" class="btn btn-outline-primary btn btn-success hide"
                        onclick="saveEditing()">
                    Save
                </button>
            </div>

            @section scripts{
                <script src="~/Content/assets/js/config.js"></script>
                <script src="~/Scripts/admin/editing.js"></script>
            }

        </div>
    }
}

