﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using FunQuizWeb.Class;
@model FunQuizWeb.Models.AdminHomeModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Admin";
        </script>
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Content/admin/css/admin.css" charset="utf-8" />

        <div class="content-wrapper">

            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12 table-responsive" style="margin-bottom:30px;">
                            <div class="col-md-2 title-action-box" style="padding-left:15px; max-width:200px;">
                                <span class="title-action">Prayers</span>
                            </div>
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-body collapse in">
                                        <div class="card-block">
                                            <form action="/Admin/Adding" method="post" id="admin-adding-from">
                                                <input type="hidden" name="level" value="@Model.level" />
                                            </form>
                                            <button type="button" class="btn btn-success btn-add adding-action" onclick="addEvent()"
                                                    style="border-radius: 50%; height: 50px; width: 50px; max-width: 200px;">
                                                <img class="normal-icon" src="~/Content/admin/images/icons8-plus-math-90.png" style="margin:0px" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-hover">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col" class="text-center">Modify</th>
                                        <th scope="col" class="text-center">Delete</th>
                                        <th scope="col" class="text-left">Title</th>
                                        <th scope="col" class="text-left">Description</th>
                                        <th scope="col" class="text-center">Last update</th>
                                    </tr>
                                </thead>
                                <tbody id="gridbody">
                                    @{
                                        for (int i = 0; i < Model.recent.games.Count; i++)
                                        {
                                            Game prayer = Model.recent.games[i];
                                            <tr>
                                                <td scope="row">@i</td>
                                                <td class="text-center">
                                                    @*<span class="icon-edit" onclick="editEvent(28)"></span>*@
                                                    <form action="/Admin/Editing" method="post" id="admin-editing-from-@prayer.id">
                                                        <input type="hidden" name="level" value="@prayer.level" />
                                                        <input type="hidden" name="id" value="@prayer.id" />
                                                    </form>
                                                    <img class="admin-menu-icon modify-action" value="@prayer.id" src="~/Content/admin/images/icons8-edit-90.png" />
                                                </td>
                                                <td class="text-center">
                                                    @*<span class="icon-remove red" style="cursor:pointer"
                                                        onclick="deleteEvent(28)"></span>*@
                                                    @*<form action="/Admin/Delete" method="post" id="admin-delete-from-@prayer.id">
                                                            <input type="hidden" name="level" value="@prayer.level" />
                                                            <input type="hidden" name="id" value="@prayer.id" />
                                                        </form>*@
                                                    <img class="admin-menu-icon delete-action" value="@prayer.id" src="~/Content/admin/images/icons8-delete-bin-48.png" />
                                                </td>
                                                <td class="text-left">
                                                    @prayer.nameGlobal
                                                </td>
                                                <td class="text-left">
                                                    @prayer.introductionGlobal
                                                </td>
                                                <td class="text-center">@prayer.updateDate</td>
                                            </tr>
                                        }
                                    }

                                </tbody>
                            </table>
                            <input type="hidden" name="idForDelete" id="idForDelete" value="" />

                            <nav aria-label="Page navigation">
                                <ul class="pagination">

                                    <li class="page-item active">
                                        <a class="page-link"
                                           href=/AdminSun/NewsWebManagement?page =1>1</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>

            <div class="modal fade text-xs-left" id="modal-add-event" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel17" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <h4 class="modal-title" id="modalLabelEvent">New Event</h4>
                        </div>
                        <hidden id="eventId"></hidden>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="eventName">Title</label>
                                        <input class="form-control" type="text" id="eventName" name="eventName"
                                               autocomplete="on">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fromDate">Image avatar</label>
                                        <input class="form-control" type="file" id="avatarImg" name="avatarImg">
                                        <img id="img-avatar" class="w-100" />
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="toDate">Description</label>
                                        <textarea class="form-control" id="eventContent" name="eventContent"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="toDate">Content</label>
                                        <textarea class="form-control textarea-editor" id="htmlContent"
                                                  name="htmlContent"></textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="row hidden" id="div-published">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Already Published!</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn grey btn-outline-secondary"
                                    data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" id="btnAddEvent" class="btn btn-outline-primary"
                                    onclick="addNewNewsWeb()">
                                Add
                            </button>
                            <button type="button" id="btnChangeEvent" class="btn btn-outline-primary"
                                    onclick="saveChangeNewsWeb()">
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            @section scripts{
                <script src="~/Content/assets/js/config.js"></script>
                <script src="~/Scripts/admin/admin.js"></script>
            }

        </div>
    }
}



