﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_NothingLayout.cshtml";
}

<div class="app-content content container-fluid">
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section class="flexbox-container">
                <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1  box-shadow-2 p-0 body-login">
                    <div class="card border-grey border-lighten-3 m-0" style="border:none!important">
                        <div class="card-header no-border">
                            <div class="card-title text-xs-center">
                                <div class="p-1"><img src="/Content/app-assets/images/logo/robust-logo-dark.png" alt="Admin login"></div>
                            </div>
                        </div>
                        <div class="card-body collapse in" style="margin-top:30px;">
                            <div class="card-block">
                                <form action="/Admin/LoginAction" class="form-horizontal form-simple" method="post" id="login-admin-form">
                                    <fieldset class="form-group position-relative has-icon-left mb-0">
                                        <input type="text" class="form-control form-control-lg input-lg" id="account" name="account" placeholder="Your Username" required="" style="font-size:20px">
                                        <div class="form-control-position">
                                            <i class="icon-head"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group position-relative has-icon-left">
                                        <input type="password" class="form-control form-control-lg input-lg" id="password" name="password" placeholder="Enter Password" required="">
                                        <div class="form-control-position">
                                            <i class="icon-key3"></i>
                                        </div>
                                    </fieldset>
                                    <fieldset class="form-group row">
                                        <div class="col-md-12">
                                            <p class="text-danger"></p>
                                        </div>
                                    </fieldset>
                                    <button type="submit" class="btn btn-primary btn-lg btn-block " id="login-admin-btn"><i class="icon-unlock2"></i> Login</button>
                                </form>
                                <script>
                                    //document.getElementById("__RequestVerificationToken").value = $('input[name=__RequestVerificationToken]').val();
                                    $("#login-admin-btn").on("click", function (e) {
                                        e.preventDefault();
                                        $('<input>').attr({
                                            type: 'hidden',
                                            id: '__RequestVerificationToken',
                                            name: '__RequestVerificationToken',
                                            value: $('input[name=__RequestVerificationToken]').val(),
                                        }).appendTo("#login-admin-form");
                                        $("#login-admin-form").submit();
                                    })
                                </script>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
