﻿@{
    ViewBag.Title = "_AdminLayout";
}

<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description"
          content="Robust admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords"
          content="admin template, robust admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="PIXINVENT">
    <title>Admin</title>

    @*<link rel="preload" href="//cdn.staticsfly.com/js/lib/jquery/jquery-1.10.2.min.js" as="script">
        <link rel="preload" href="//cdn.staticsfly.com/css/jquery/jquery-ui-1.10.2.css" as="style">*@
    @*<script type="text/javascript" src="//cdn.staticsfly.com/js/lib/jquery/jquery-1.10.2.min.js"></script>*@


    <script type="text/javascript" src="~/Scripts/ckediter.js"></script>
    <script type="text/javascript" src="~/Scripts/adapters_jquery.js"></script>

    @*<script type='text/javascript' src="https://my.sendinblue.com/public/theme/version4/assets/js/dependencies/editor/ckeditor_3.6/ckeditor.js"></script>
        <script type='text/javascript' src="https://my.sendinblue.com/public/theme/version4/assets/js/dependencies/editor/ckeditor_3.6/adapters/jquery.js"></script>*@

    <script src="https://cdn.ckeditor.com/ckeditor5/23.0.0/classic/ckeditor.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>

    <link rel="apple-touch-icon" sizes="60x60" href="~/Content/admin/images/apple-icon-60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/admin/images/apple-icon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/admin/images/apple-icon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/Content/admin/images/apple-icon-152.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/admin/images/favicon.ico">
    <link rel="shortcut icon" type="image/png" href="~/Content/admin/images/favicon-32.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <!-- BEGIN VENDOR CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css">
    <!-- font icons-->
    <link rel="stylesheet" type="text/css" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/Content/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/pace.css">
    <!-- END VENDOR CSS-->
    <!-- BEGIN ROBUST CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/Content/app.css">
    @*<link rel="stylesheet" type="text/css" href="~/Content/color.css">*@
    <!-- END ROBUST CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/vertical-overlay-menu.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="~/Content/spin.css">

    <!-- END Page Level CSS-->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />

    <!-- BEGIN Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/admin/css/admin.css" charset="utf-8" />

    <!-- END Custom CSS-->
</head>


@{
    List<String> listPara = new List<string>();
    listPara.Add("parentIdModal");
    listPara.Add("nameGlobalModal");
    listPara.Add("nameLocalModal");
    listPara.Add("introductionGlobalModal");
    listPara.Add("introductionLocalModal");
    listPara.Add("descriptionGlobalModal");
    listPara.Add("descriptionLocalModal");
    listPara.Add("imageIconModal");
    listPara.Add("imageLogoModal");
    listPara.Add("createdDateModal");
    listPara.Add("updateDateModal");
    listPara.Add("contentModal");
    listPara.Add("contentTypeModal");
    listPara.Add("statusModal");
    listPara.Add("typeOfModal");
    listPara.Add("isPlayedModal");
    listPara.Add("codeModal");



    List<String> listNamePara = new List<string>();
    listNamePara.Add("Parent ID");
    listNamePara.Add("Name Global");
    listNamePara.Add("Name Local");
    listNamePara.Add("Introduction Global");
    listNamePara.Add("Introduction Local");
    listNamePara.Add("Description Global");
    listNamePara.Add("Description Local");
    listNamePara.Add("Image Icon");
    listNamePara.Add("Image Logo");
    listNamePara.Add("Created Date");
    listNamePara.Add("Update date");
    listNamePara.Add("Content");
    listNamePara.Add("Content Type");
    listNamePara.Add("Status");
    listNamePara.Add("Type");
    listNamePara.Add("Is played");
    listNamePara.Add("Code");


}

<body data-open="click" data-menu="vertical-menu" data-col="2-columns"
      class="vertical-layout vertical-menu 2-columns  fixed-navbar">
    <!-- navbar-fixed-top-->
    @Html.AntiForgeryToken()

    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                @*<ul class="nav navbar-nav">
                        <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs">
                                <i class="icon-menu5 font-large-1"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/AdminSun" class="navbar-brand nav-link">
                                <img alt="branding logo"
                                     src="../Content/app-assets/images/logo/robust-logo-light.png"
                                     data-expand="../Content/app-assets/images/logo/robust-logo-light.png"
                                     data-collapse="../Content/app-assets/images/logo/robust-logo-small.png"
                                     class="brand-logo">
                            </a>
                        </li>
                        <li class="nav-item hidden-md-up float-xs-right">
                            <a data-toggle="collapse"
                               data-target="#navbar-mobile" class="nav-link open-navbar-container">
                                <i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i>
                            </a>
                        </li>
                    </ul>*@
            </div>
            <div class="navbar-container content container-fluid" style="padding:0px;">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs">
                                <i class="icon-menu5"></i>
                            </a>
                        </li>


                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                @*<span class="avatar avatar-online">
                                        <img src="../Content/app-assets/images/portrait/small/avatar-s-1.png"
                                             alt="avatar"><i></i>
                                    </span><span class="user-name">John Doe</span>*@
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="/UserSun/Logout" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
        <!-- main menu header-->
        <div class="main-menu-header">
            <input type="text" placeholder="Search" class="menu-search form-control round" />
        </div>
        <!-- / main menu header-->
        <!-- main menu content-->

        <div class="main-menu-content">

            <div style="background:#ffffff; height:1px; margin:20px 0;"></div>


            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

                <li class="nav-item">
                    <a href="/Admin/Config">
                        <img class="admin-menu-icon" src="~/Content/admin/images/icons8-book-50.png" />
                        <span class="menu-title">
                            Config
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/">
                        <img class="admin-menu-icon" src="~/Content/admin/images/icons8-book-50.png" />
                        <span class="menu-title">
                            Menu
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Child?levelNow=2">
                        <img class="admin-menu-icon" src="~/Content/admin/images/icons8-book-50.png" />
                        <span class="menu-title">
                            Topics
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Child?levelNow=3">
                        <img class="admin-menu-icon" src="~/Content/admin/images/icons8-book-50.png" />
                        <span class="menu-title">
                            Games
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Child?levelNow=4">
                        <img class="admin-menu-icon" src="~/Content/admin/images/icons8-book-50.png" />
                        <span class="menu-title">
                            Questions
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Admin/Child?levelNow=5">
                        <img class="admin-menu-icon" src="~/Content/admin/images/icons8-book-50.png" />
                        <span class="menu-title">
                            Answers
                        </span>
                    </a>
                </li>
            </ul>

            <div style="background:#ffffff; height:1px; margin:20px 0;"></div>

            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

                <li class="nav-item">
                    <a href="/AdminSun/NewsWebManagement">
                        <i class="fa fa-2x fa-upload"></i><span class="menu-title">
                            Upload from excel
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/AdminSun/NewsSmsManagement">
                        <i class="fa fa-2x fa-cogs"></i>
                        <span class="menu-title">
                            Settings
                        </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/Home">
                        <img class="admin-menu-icon" src="~/Content/admin/images/icons8-sign-out-50.png" />
                        <span class="menu-title">
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- /main menu content-->
        <!-- main menu footer-->
        <!-- include includes/menu-footer-->
        <!-- main menu footer-->
    </div>
    <!-- / main menu-->

    <div class="header-nav">
        @RenderSection("menu", false)
    </div>

    <div class="app-content content container-fluid">
        @RenderBody()
    </div>

    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <!--message dialog-->
    <div id="message-dialog" class="modal login fade " tabindex="-1" role="dialog">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">

                    <p class="fault-title text-center"><span style="font-size:25px">Checked</span> </p>
                    <div class="modal-body">

                        @{
                            for (int i = 0; i < listPara.Count; i++)
                            {
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="eventName" class="@listPara[i] pass">@listNamePara[i]</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <p class="fault-subtitle pass" id="@listPara[i]">OK</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        @*<div class="modal-footer">
                                <button type="button" class="btn grey btn-outline-secondary btn btn-success send-fault" data-dismiss="modal" style="background:#ff0000; color:#ffffff; border:none">
                                    Close
                                </button>
                            </div>*@
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    @*<button id="acceptBtn" disabled="true" type="button" class="btn grey btn-outline-secondary btn btn-success send-fault" data-dismiss="modal" style=" background: #00A5B5;color: #ffffff; border: none; margin:10px 0;">
                                            Accept
                                        </button>*@
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn grey btn-outline-secondary btn btn-success send-fault btn-cancel-nav-modal" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="response-dialog" class="modal login fade " tabindex="-1" role="dialog" style="margin-top:100px;">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">

                    <p class="fault-title text-center" style="margin-top:20px;"><span style="font-size:25px">Response</span> </p>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="fault-subtitle pass" id="response-content"></p>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    @*<button id="acceptBtn" disabled="true" type="button" class="btn grey btn-outline-secondary btn btn-success send-fault" data-dismiss="modal" style=" background: #00A5B5;color: #ffffff; border: none; margin:10px 0;">
                                            Accept
                                        </button>*@
                                </div>
                                <div class="col-md-6">
                                    <button id="closeResponseBtn" type="button" class="btn grey btn-outline-secondary btn btn-success send-fault btn-cancel-nav-modal" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="redirection" value="" />
                        <script>
                            $("#closeResponseBtn").on("click", function () {
                                window.location.href = $("#redirection").val();
                            })
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="delete-dialog" class="modal login fade " tabindex="-1" role="dialog" style="margin-top:100px;">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">

                    <p class="fault-title text-center" style="margin-top:20px;"><span style="font-size:25px">Response</span> </p>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="fault-subtitle pass" id="delete-content"></p>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <button id="acceptDeleteBtn" type="button" class="btn grey btn-outline-secondary btn btn-success send-fault btn-accept-nav-modal" data-dismiss="modal">
                                        Accept
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button id="closeDeleteBtn" type="button" class="btn grey btn-outline-secondary btn btn-success send-fault btn-cancel-nav-modal" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="redirection" value="" />
                        <script>
                            $("#closeDeleteBtn").on("click", function () {
                                //window.location.href = $("#redirection").val();
                                location.reload();
                            })
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer footer-static footer-light navbar-border " style="margin-top: auto !important; position: fixed; width: 100%; bottom: 0px;">
        <p class="clearfix text-muted text-sm-center mb-0 px-2">
            <span class="float-md-left d-xs-block d-md-inline-block">
                Copyright &copy; 2020 Interland, All rights reserved.
            </span>
            <span class="float-md-right d-xs-block d-md-inline-block">Interland</span>
        </p>
    </footer>


    @RenderSection("scripts", required: false)

    <!-- BEGIN VENDOR JS-->
    @*<script src="/Content/app-assets/js/core/libraries/jquery.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/ui/tether.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/js/core/libraries/bootstrap.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/ui/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/ui/unison.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/ui/blockUI.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/ui/jquery.matchHeight-min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/ui/screenfull.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/extensions/pace.min.js" type="text/javascript"></script>*@
    <!-- BEGIN VENDOR JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha256-98vAGjEDGN79TjHkYWVD4s87rvWkdWLHPs5MC3FvFX4=" crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data-2012-2022.min.js"></script>
    <script type="text/javascript"
            src="https://tempusdominus.github.io/bootstrap-4/theme/js/tempusdominus-bootstrap-4.js"></script>

    <!-- BEGIN PAGE VENDOR JS-->
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN ROBUST JS-->
    @*<script src="/Content/app-assets/js/core/app-menu.js" type="text/javascript"></script>
        <script src="/Content/app-assets/js/core/app.js" type="text/javascript"></script>*@
    <!-- END ROBUST JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->
    @*<script src="/Content/app-assets/vendors/editor/encoder.js" type="text/javascript"></script>
        <script src="/Content/app-assets/js/admin.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/sweetalert.min.js" type="text/javascript"></script>
        <script src="/Content/app-assets/vendors/js/bootstrap-datepicker.js" type="text/javascript"></script>

        <script type="text/javascript" src="/Content/app-assets/vendors/js/spin.js"></script>*@

    <script>


        function hideModal(modalName) {
            $("#" + modalName).modal('hide');
        }
        function showModal(modalName) {
            $("#" + modalName).modal('show');
        }

    </script>


    @*<link href="/Content/app-assets/vendors/editor/summernote.css" rel="stylesheet">
        <script type="text/javascript" src="/Content/app-assets/vendors/editor/summernote.js"></script>*@

    <script>
        var opts = {
            lines: 8, // The number of lines to draw
            length: 5, // The length of each line
            width: 3, // The line thickness
            radius: 5, // The radius of the inner circle
            scale: 1, // Scales overall size of the spinner
            corners: 1, // Corner roundness (0..1)
            color: '#ffffff', // CSS color or array of colors
            fadeColor: 'transparent', // CSS color or array of colors
            speed: 1, // Rounds per second
            rotate: 0, // The rotation offset
            animation: 'spinner-line-fade-quick', // The CSS animation name for the lines
            direction: 1, // 1: clockwise, -1: counterclockwise
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            className: 'spinner', // The CSS class to assign to the spinner
            //top: '50%', // Top position relative to parent
            //left: '50%', // Left position relative to parent
            shadow: '0 0 1px transparent', // Box-shadow for the lines
            //position: 'absolute' // Element positioning
        };

        //var spinner = new Spinner(opts);

        //$('.datepicker').datepicker({
        //    startDate: '01/01/1970'
        //});

        //$('.datetimepicker-input').datetimepicker({
        //    format: 'DD/MM/YYYY HH:mm'
        //});

        function addEvent() {
            // clear data
            $("#eventName").val("");
            $("#avatarImg").val("");
            $("#img-avatar").attr("src", "");
            $("#eventContent").val("");
            $("#htmlContent").val("");
            $("#htmlContent").summernote("code", "");

            $("#div-published").hide();
            $("#div-publish").show();
            $("#btnAddEvent").show();
            $("#btnChangeEvent").hide();
            $("#modalLabelEvent").html("New Event");
            // show modal
            showModal("modal-add-event");
        }

        function editEvent(id) {
            // get event info
            $.ajax({
                url: "/AdminSun/GetNewsWebById",
                data: {
                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                    id: id
                },
                type: "POST",
                success: function (data) {
                    if (data.error != "0") {
                        setTimeout(function () {
                            showModal('message-dialog');
                            $('#message-content').html(data.content.split("\n").join("<br />"));
                        }, 1000);
                    } else {
                        var event = data.news;
                        // change data
                        $("#eventName").val(event.title);
                        $("#avatarImg").val("");
                        $("#backgroundImg").val("");
                        $("#img-avatar").attr("src", event.urlPicture);
                        //$("#img-background").attr("src", event.backgroundImg);
                        $("#eventContent").val(event.description);
                        $("#htmlContent").val(Encoder.htmlDecode(event.content));
                        $("#htmlContent").summernote("code", Encoder.htmlDecode(event.content));
                        $("#modalLabelEvent").html("Edit News");

                        if (event.status > 0) {
                            //$("#div-published").show();
                            //$("#div-publish").hide();
                            $("#btnChangeEvent").show();
                        } else {
                            //$("#div-published").hide();
                            //$("#div-publish").show();
                            $("#btnChangeEvent").show();
                        }
                        $("#btnAddEvent").hide();
                        $("#eventId").val(id);
                        // show modal
                        showModal("modal-add-event");
                    }
                },
                error: function (data) {
                    console.log(data.error);
                }
            })
        }

        function updateGridData(val) {
            $("#gridbody").html("");
            var html = "";
            if (val != undefined) {
                for (var i = 0; i < val.length; i++) {
                    var event = val[i];
                    html += "<tr>";
                    html += "<td scope = 'row'> " + (i + 1) + "</td>";
                    html += "<td class='text-center'> <span class='icon-edit' onclick='editEvent(" + event.id + ")'></span></td> ";
                    html += "<td class='text-center'> <span class='icon-remove red' style='cursor:pointer' onclick='deleteEvent(" + event.id + ")'></span></td> ";
                    html += "<td class='text-left'> " + event.title + "</td> ";
                    html += "<td class='text-center'> " + event.description + "</td> ";
                    html += "<td class='text-center'> " + event.sysdate + "</td>";
                    html += "</tr>";
                }
            }
            $("#gridbody").html(html);
        }

        function deleteEvent(id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        deleteNewsWeb(id);
                    }
                });
        }

        function startSpinner(obj) {
            var target = document.getElementById(obj);
            $("#" + obj).prop("disabled", true);
            spinner.spin(target);
        }


        function stopSpinner(obj) {
            $("#" + obj).prop("disabled", false);
            if (spinner != undefined) {
                spinner.stop();
            }
        }

        //$(document).ready(function () {
        //    // Initialize Editor
        //    //$('.textarea-editor').wysihtml5();
        //    $('.textarea-editor').summernote(
        //        {
        //            height: 250,                 // set editor height
        //            minHeight: null,             // set minimum height of editor
        //            maxHeight: null,             // set maximum height of editor
        //            focus: false,                  // set focus to editable area after initializing summernote
        //            popover: {}
        //        });

        //    $('.note-editor').css({ "width": '100%' })
        //});

    </script>

</body>

</html>

