﻿@using FunQuizWeb.Language;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQuiz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="SHORTCUT ICON" href="~/Content/assets/images/icon.png" />

    <link data-chunk="main" rel="preload" as="style" href="~/Content/assets/css/client.css">
    <link data-chunk="main" rel="stylesheet" href="~/Content/assets/css/client.css">
    <link data-chunk="main" rel="preload" as="script" href="~/Content/assets/js/main.js">
    <link data-chunk="main" rel="stylesheet" href="~/Content/assets/css/main.css">
    <link data-chunk="main" rel="stylesheet" href="~/Content/assets/css/animate.css">

    <!-- Tags from Helmet (defined in components/HelmetHtml/HelmetHtml.js) -->
    <title data-react-helmet="true">Quizzes | Try Our Free Fun Online Quizzes</title>
    <meta data-react-helmet="true" name="viewport" content="width=device-width, initial-scale=1" />
    <meta data-react-helmet="true" property="og:url" content="http://equizz.tls.tl/" />
    <meta data-react-helmet="true" property="og:title" content="Equiz - Funny Stuff Every Day!" />
    <meta data-react-helmet="true" property="og:type" content="website" />
    <meta data-react-helmet="true" property="og:image"
          content="https://funquiz.natcom.com.ht/Content/assets/images/FunQuiz.png" />
    <meta data-react-helmet="true" name="apple-mobile-web-app-capable" content="yes" />
    <meta data-react-helmet="true" name="apple-mobile-web-app-title" content="FunQuiz" />
    <meta data-react-helmet="true" name="application-name" content="EQuiz" />
    <meta data-react-helmet="true" name="google-site-verification"
          content="o64qhN720s4_g0ZfjTacQZFmly9BzkaSPQbdxi3Hwqw" />
    <meta data-react-helmet="true" name="msvalidate.01" content="E828A5843F9C91BA5AFD668B2C003702" />
    <meta data-react-helmet="true" name="theme-color" content="#ffe300" />
    <meta data-react-helmet="true" name="description"
          content="Thousands of free, fun quizzes on your favourite characters, TV shows, YouTubers and more. From personality quizzes to trivia quizzes, we&#x27;ve got a quiz for you!" />
    <meta data-react-helmet="true" property="og:description"
          content="Thousands of free, fun quizzes on your favourite characters, TV shows, YouTubers and more. From personality quizzes to trivia quizzes, we&#x27;ve got a quiz for you!" />

    <style type="text/css">
        iframe#_hjRemoteVarsFrame {
            display: none !important;
            width: 1px !important;
            height: 1px !important;
            opacity: 0 !important;
            pointer-events: none !important;
        }
    </style>
    @*<link rel="preload" href="https://adservice.google.com.vn/adsid/integrator.js?domain=www.beano.com" as="script">
        <script type="text/javascript"
                src="https://adservice.google.com.vn/adsid/integrator.js?domain=www.beano.com"></script>
        <link rel="preload" href="https://adservice.google.com/adsid/integrator.js?domain=www.beano.com" as="script">
        <script type="text/javascript" src="https://adservice.google.com/adsid/integrator.js?domain=www.beano.com"></script>
        <script src="https://securepubads.g.doubleclick.net/gpt/pubads_impl_2020081301.js" async=""></script>*@

    <script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/js/config.js"></script>

    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="~/Content/jquery.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap.min.js"></script>


    @*<script type="text/javascript" src="~/Content/assets/js/captcha.js"></script>*@
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
    </script>
</head>

@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@using FunQuizCore.Model;

@{
    Game categoryNow = Session["category-now"] as Game;
    Games categories = Session["categories"] as Games;
    string packetReg = "";

    int isLogined = 0;
    AccountUser profile = Session["profile"] as AccountUser;
    //RegisterInfo register = Session["register-info"] as RegisterInfo;
    List<String> listServices = Session["packetReg"] as List<String>;
    if (profile != null)
    {
        isLogined = 1;
    }
}

<body style="background-color: #2d3069;">
    @Html.AntiForgeryToken()
    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <script>
      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "224491271057409");
      chatbox.setAttribute("attribution", "biz_inbox");
    </script>

    <!-- Your SDK code -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v14.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.Properties.Item("allowCredentials").Value = true;
          js.id = id;
          js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="react-root">
        <div class="">
            <div>
                <div class="SimpleLayout-stickyHeader-y573b">
                    <div class="PrimaryNav-root-3xDAC">
                        <a class="PrimaryNav-skipLink-2p5el" href="#main-content">
                            @Lang.skip
                        </a>
                        <header class="SecondaryNav-menuButton-1Mr4X SecondaryNav-root-uJfI2" style="width:100%;">
                            <div class="SecondaryNav-topRow-fSgWa">
                                <div class="SecondaryNav-logoHomeWrap-2XdYn">
                                    <a aria-hidden="true" tabindex="-1"
                                       href="/">
                                        <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40"
                                             height="40" viewBox="0 0 40 40" class="SecondaryNav-navItemLogo-R-el8">
                                            <path d="M39 19L21 1a2 2 0 0 0-2 0L1 19a2 2 0 0 0 0 3 2 2 0 0 0 2 0l1-1v16c0 2 1 3 2 3h8l1-1V26l1-1h8l1 1v13l1 1h8c1 0 2-1 2-3V21l1 1h2a2 2 0 0 0 0-3">
                                            </path>
                                        </svg>
                                    </a>
                                    <a aria-hidden="true" tabindex="-1" href="/">
                                        <div class="Logo-logoWrap-2LDhu Logo-logoWrapSecondary-dU58K">
                                            <img alt="" src="~/Content/assets/images/logo.png" style="height: 80px; width: 80px; display:none" />
                                        </div>
                                    </a>
                                </div>
                                @*<div class="SecondaryNav-stuffSearchWrap-wC0ju">
                                        <div class="SecondaryNav-searchWrap-3OoHV">
                                            <button class="DummySearchInput-root-3PKcR" type="button">
                                                <span class="VisuallyHidden-visuallyHidden-3qpy4">Open</span>
                                                <span class="utils-fixBaseline-MRdHf">Search</span>
                                            </button>
                                        </div>
                                    </div>*@
                                <button type="button" class="SecondaryNav-menuButton-1Mr4X button-header-small" aria-controls="menu"
                                        aria-expanded="false" aria-haspopup="true" aria-label="Menu"
                                        id="secondary-nav-menu-button" style=" position: absolute; right: 10px; top: 5px;">
                                    <span aria-hidden="true"
                                          class="SecondaryNav-menuButtonIcon-1VJfL">
                                    </span>
                                </button>
                            </div>

                        </header>

                        <nav id="secondary-nav-menu" aria-labelledby="secondary-nav-menu-button" class="SecondaryNav-menu-3V2S8 hide">
                            <ul role="menu" style="width:100%;">
                                @{
                                    if (isLogined == 0)
                                    {
                                        <li role="none" style="width:100%;">
                                            <a class="SecondaryNav-menuLink-1CTkc" role="menuitem" href="/Account/Login" style="text-align:center;">@Lang.login</a>
                                        </li>
                                        <li role="none" style="width:100%;">
                                            <a class="SecondaryNav-menuLink-1CTkc" role="menuitem"
                                               href="/Account/Register" style="text-align:center;">
                                                @Lang.register
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li role="none" style="width:100%;">
                                            <a class="SecondaryNav-menuLink-1CTkc" role="menuitem" style="text-align:center;" href="/Account">@(profile.fullname != null ? profile.fullname : profile.msisdn)</a>
                                        </li>
                                        <li role="none" style="width:100%;">
                                            <a class="SecondaryNav-menuLink-1CTkc" role="menuitem"
                                               href="/Account/Logout" style="text-align:center;">
                                                @Lang.logout
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </nav>

                        <script>
                            $("#secondary-nav-menu-button").on("click", function () {
                                if ($("#secondary-nav-menu").hasClass("hide")) {
                                    $("#secondary-nav-menu").removeClass("hide")
                                } else {
                                    $("#secondary-nav-menu").addClass("hide")
                                }
                            })
                        </script>

                        <div class="PrimaryNav-primaryNavWrap-36PWR">
                            <nav class="PrimaryNav-primaryNav-2ITl9">
                                <a aria-hidden="true" tabindex="-1" href="/">
                                    <div class="Logo-logoWrap-2LDhu Logo-logoWrapPrimary-2jcKk">
                                        <img alt=""
                                             src="~/Content/assets/images/logo.png" style="height: 80px; width: 80px;" />
                                    </div>
                                </a>

                                @*@RenderSection("navMenu", false)*@
                                <ul class="PrimaryNav-horizontalNavItems-29F0q PrimaryNav-navItems-3zEYg">
                                    @{
                                        if (categories != null)
                                        {
                                            for (int i = 0; i < categories.games.Count(); i++)
                                            {
                                                Game category = categories.games[i];
                                                if (category.id == categoryNow.id)
                                                {
                                                    <li class="PrimaryNav-navItem-1_u-3">
                                                        <a class="PrimaryNav-active-m86mZ"
                                                           href="/@UtilsController.GetCategoryPath(category.id)">
                                                            @{
                                                                if (category.id == UtilsController.Constant.HOME_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path d="M39 19L21 1a2 2 0 0 0-2 0L1 19a2 2 0 0 0 0 3 2 2 0 0 0 2 0l1-1v16c0 2 1 3 2 3h8l1-1V26l1-1h8l1 1v13l1 1h8c1 0 2-1 2-3V21l1 1h2a2 2 0 0 0 0-3">
                                                                        </path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Home</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.QUIZZES_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M0 19.5C0 9 8.7.5 19.5.5c10.7 0 19.4 8.5 19.4 19 0 10.4-8.7 19-19.4 19A19.2 19.2 0 0 1 0 19.5zM17.7 21l-.2 1.4v2.5h3.9v-3.2l5-2.3a8 8 0 0 0 1.2-.7 3.5 3.5 0 0 0 1.4-2l.1-1.4v-3.2A3.7 3.7 0 0 0 28 9.4l-1.3-.8c-.4-.2-1-.3-1.5-.3H16l-1.5.3-1.2.8a3.7 3.7 0 0 0-1.1 2.7v3.4h3.8V12h9.3V16l-5 2.3-1.2.8-.8.8-.5 1.1zm4.2 6.8h-4.7v4.5H22v-4.5z">
                                                                        </path>
                                                                        <path d="M32.9 24.8l6.3 14.7-15.6-4.9 9.3-9.8z"></path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Quizes</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.TESTS_CATEGORY)
                                                                {
                                                                    <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg" class="PrimaryNav-navItemLogo-3TRLQ" viewBox="0 0 20 22">
                                                                        <path d="M13.375 10.5c.621 0 1.125-1.287 1.125-2.875s-.504-2.875-1.125-2.875-1.125 1.287-1.125 2.875.504 2.875 1.125 2.875m-5.75 0c.621 0 1.125-1.287 1.125-2.875S8.246 4.75 7.625 4.75 6.5 6.037 6.5 7.625 7.004 10.5 7.625 10.5m2.875 7.75c3.866 0 6.75-2.73 6.75-6.25 0-.375-2.884.856-6.75.856S3.75 11.626 3.75 12c0 3.52 2.884 6.25 6.75 6.25m0 2.75C16.3 21 21 16.299 21 10.5S16.3 0 10.5 0C4.701 0 0 4.701 0 10.5S4.701 21 10.5 21"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Test</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.WINS_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path d="M5.6 8.8c-.2-.8-.4-1.6-.4-2.4V4c-.2-.4-.7-.7-1.3-.9-.4-.1-.9-.2-1.3 0-.3.2-.5.6-.6 1-.2.8.4 2 1.5 3l2 1.6M18 4.1v2.3c0 .8-.2 1.6-.4 2.4l2-1.6c1.1-1 1.8-2.2 1.6-3-.1-.4-.3-.8-.7-1-.4-.2-.8-.1-1.2 0-.6.2-1.1.5-1.3.9m-5.2 13.3h2.4c.2 0 .4.1.5.3l1 3.5c.1.3 0 .6-.3.7H7a.5.5 0 0 1-.5-.5v-.2l1.1-3.5c0-.2.3-.3.5-.3h2.4v-3.5a8.5 8.5 0 0 1-3.2-2.3c-1.8-.5-3.7-1.7-5-3C.5 7.1-.4 5.3 0 3.6c.3-.9.7-1.6 1.6-2 .4-.3 1-.5 1.4-.5.5 0 1 0 1.4.2l.7.3V.5c0-.3.2-.5.5-.5h11.8c.2 0 .5.2.5.5v1.1l.7-.3c.9-.2 1.9-.2 2.7.2 1 .5 1.4 1.2 1.7 2.2.4 1.6-.5 3.4-2 5a13.5 13.5 0 0 1-5.2 3c-.9 1-2 1.8-3.1 2.2v3.5z"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Wins</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.MINIGAMES_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" width="58" height="40" viewBox="0 0 58 40" xmlns="http://www.w3.org/2000/svg"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path d="M47.6 15.4a2.2 2.2 0 1 1 0-4.4 2.2 2.2 0 0 1 0 4.4zM43 19.8a2.2 2.2 0 1 1 0-4.4 2.2 2.2 0 0 1 0 4.4zm-4.4-4.4a2.2 2.2 0 1 1 0-4.4 2.2 2.2 0 0 1 0 4.4zm-16.6 0h-4.4v4.4h-4.4v-4.4H9V11h4.4V6.6h4.4V11h4.4v4.4zm21-8.8a2.2 2.2 0 1 1 0 4.4 2.2 2.2 0 0 1 0-4.4zm12 5.5C54.7 5.3 49 0 42 0H15.5C8.6 0 3 5.3 2.4 12L0 33.5A6.6 6.6 0 0 0 12.6 36l6.3-9.6h19.7l6.3 9.6a6.6 6.6 0 0 0 12.6-2.7L55.2 12z">
                                                                        </path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Minigame</span>
                                                                }
                                                            }

                                                        </a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="PrimaryNav-navItem-1_u-3 PrimaryNav-games-2fGjW">
                                                        <a href="/@UtilsController.GetCategoryPath(category.id)">
                                                            @{
                                                                if (category.id == UtilsController.Constant.HOME_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path d="M39 19L21 1a2 2 0 0 0-2 0L1 19a2 2 0 0 0 0 3 2 2 0 0 0 2 0l1-1v16c0 2 1 3 2 3h8l1-1V26l1-1h8l1 1v13l1 1h8c1 0 2-1 2-3V21l1 1h2a2 2 0 0 0 0-3">
                                                                        </path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Home</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.QUIZZES_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M0 19.5C0 9 8.7.5 19.5.5c10.7 0 19.4 8.5 19.4 19 0 10.4-8.7 19-19.4 19A19.2 19.2 0 0 1 0 19.5zM17.7 21l-.2 1.4v2.5h3.9v-3.2l5-2.3a8 8 0 0 0 1.2-.7 3.5 3.5 0 0 0 1.4-2l.1-1.4v-3.2A3.7 3.7 0 0 0 28 9.4l-1.3-.8c-.4-.2-1-.3-1.5-.3H16l-1.5.3-1.2.8a3.7 3.7 0 0 0-1.1 2.7v3.4h3.8V12h9.3V16l-5 2.3-1.2.8-.8.8-.5 1.1zm4.2 6.8h-4.7v4.5H22v-4.5z">
                                                                        </path>
                                                                        <path d="M32.9 24.8l6.3 14.7-15.6-4.9 9.3-9.8z"></path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Quizes</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.TESTS_CATEGORY)
                                                                {
                                                                    <svg width="21" height="21" xmlns="http://www.w3.org/2000/svg" class="PrimaryNav-navItemLogo-3TRLQ" viewBox="0 0 20 22">
                                                                        <path d="M13.375 10.5c.621 0 1.125-1.287 1.125-2.875s-.504-2.875-1.125-2.875-1.125 1.287-1.125 2.875.504 2.875 1.125 2.875m-5.75 0c.621 0 1.125-1.287 1.125-2.875S8.246 4.75 7.625 4.75 6.5 6.037 6.5 7.625 7.004 10.5 7.625 10.5m2.875 7.75c3.866 0 6.75-2.73 6.75-6.25 0-.375-2.884.856-6.75.856S3.75 11.626 3.75 12c0 3.52 2.884 6.25 6.75 6.25m0 2.75C16.3 21 21 16.299 21 10.5S16.3 0 10.5 0C4.701 0 0 4.701 0 10.5S4.701 21 10.5 21"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Test</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.WINS_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="22" viewBox="0 0 24 22"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path d="M5.6 8.8c-.2-.8-.4-1.6-.4-2.4V4c-.2-.4-.7-.7-1.3-.9-.4-.1-.9-.2-1.3 0-.3.2-.5.6-.6 1-.2.8.4 2 1.5 3l2 1.6M18 4.1v2.3c0 .8-.2 1.6-.4 2.4l2-1.6c1.1-1 1.8-2.2 1.6-3-.1-.4-.3-.8-.7-1-.4-.2-.8-.1-1.2 0-.6.2-1.1.5-1.3.9m-5.2 13.3h2.4c.2 0 .4.1.5.3l1 3.5c.1.3 0 .6-.3.7H7a.5.5 0 0 1-.5-.5v-.2l1.1-3.5c0-.2.3-.3.5-.3h2.4v-3.5a8.5 8.5 0 0 1-3.2-2.3c-1.8-.5-3.7-1.7-5-3C.5 7.1-.4 5.3 0 3.6c.3-.9.7-1.6 1.6-2 .4-.3 1-.5 1.4-.5.5 0 1 0 1.4.2l.7.3V.5c0-.3.2-.5.5-.5h11.8c.2 0 .5.2.5.5v1.1l.7-.3c.9-.2 1.9-.2 2.7.2 1 .5 1.4 1.2 1.7 2.2.4 1.6-.5 3.4-2 5a13.5 13.5 0 0 1-5.2 3c-.9 1-2 1.8-3.1 2.2v3.5z"
                                                                              fill-rule="evenodd"></path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Wins</span>
                                                                }
                                                                else if (category.id == UtilsController.Constant.MINIGAMES_CATEGORY)
                                                                {
                                                                    <svg aria-hidden="true" width="58" height="40" viewBox="0 0 58 40" xmlns="http://www.w3.org/2000/svg"
                                                                         class="PrimaryNav-navItemLogo-3TRLQ">
                                                                        <path d="M47.6 15.4a2.2 2.2 0 1 1 0-4.4 2.2 2.2 0 0 1 0 4.4zM43 19.8a2.2 2.2 0 1 1 0-4.4 2.2 2.2 0 0 1 0 4.4zm-4.4-4.4a2.2 2.2 0 1 1 0-4.4 2.2 2.2 0 0 1 0 4.4zm-16.6 0h-4.4v4.4h-4.4v-4.4H9V11h4.4V6.6h4.4V11h4.4v4.4zm21-8.8a2.2 2.2 0 1 1 0 4.4 2.2 2.2 0 0 1 0-4.4zm12 5.5C54.7 5.3 49 0 42 0H15.5C8.6 0 3 5.3 2.4 12L0 33.5A6.6 6.6 0 0 0 12.6 36l6.3-9.6h19.7l6.3 9.6a6.6 6.6 0 0 0 12.6-2.7L55.2 12z">
                                                                        </path>
                                                                    </svg>
                                                                    <span class="utils-fixBaseline-MRdHf">@Lang.Minigame</span>
                                                                }
                                                            }

                                                        </a>
                                                    </li>
                                                }
                                            }
                                        }
                                    }
                                </ul>

                                <div class="SecondaryNav-topRow-fSgWa" style=" text-align: center;">
                                    <div class="SecondaryNav-stuffSearchWrap-wC0ju">
                                        <div class="SecondaryNav-searchWrap-3OoHV">
                                            @{
                                                if (isLogined == 0)
                                                {
                                                    <nav id="menu" aria-labelledby="secondary-nav-menu-button"
                                                         class="SecondaryNav-menu-3V2S8 SecondaryNav-horizontalMenu-1lZry">
                                                        <ul role="menu" style="width:100%;">
                                                            <li role="none" style="width:100%;">
                                                                <a class="SecondaryNav-menuLink-1CTkc nav-header" role="menuitem"
                                                                   href="/Account/Login" style="text-align:center;">
                                                                    @Lang.login
                                                                </a>
                                                            </li>
                                                            <li role="none" style="width:100%;">
                                                                <a class="SecondaryNav-menuLink-1CTkc nav-header" role="menuitem"
                                                                   href="/Account/Register" style="text-align:center;">
                                                                    @Lang.register
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                }
                                                else
                                                {
                                                    <nav id="menu" aria-labelledby="secondary-nav-menu-button"
                                                         class="SecondaryNav-menu-3V2S8 SecondaryNav-horizontalMenu-1lZry">
                                                        <ul role="menu" style="width:100%;">
                                                            <li role="none" style="width:100%;">
                                                                <a class="SecondaryNav-menuLink-1CTkc nav-header" role="menuitem"
                                                                   href="/Account" style="text-align:center;">
                                                                    @Lang.profile
                                                                </a>
                                                            </li>
                                                            <li role="none" style="width:100%;">
                                                                <a class="SecondaryNav-menuLink-1CTkc nav-header" role="menuitem"
                                                                   href="/Account/Logout" style="text-align:center;">
                                                                    @Lang.logout
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </nav>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>

                            </nav>
                        </div>
                    </div>
                </div>
                <div class="MainContentWrap-root-1MCKJ">
                    <main id="main-content">
                        @RenderBody()
                    </main>
                    <footer class="SimpleLayout-footers-30-nN">
                        <nav class="HomepageFooter-root-FNqVQ">
                            <div class="Grid-container-3utXw HomepageFooter-innerContainer-EH9YA">
                                <div class="WhoopeeCushionButton-root-18P-H">
                                    <button class="WhoopeeCushionButton-whoopeeCushionButton-rkXMo" type="button">
                                        <img src="~/Content/assets/images/whoopee-cushion.c8ffefaa4216369e73dff3bb50c53371.svg" />
                                    </button>
                                    @*<audio preload="none">
                                            <track kind="captions">
                                            <source src="/_/src/components/HomepageFooter/sounds/fart.f83b634f4568ff79ada7e25836fe3930.mp3">
                                        </audio>*@
                                </div>
                                @*<div class="Grid-row-2D_Ha HomepageFooter-textLinks-GeD1O">
                                        <div class="Grid-colSm4-2O5lr Grid-col-2W7mE HomepageFooter-linkWrap-RraJO">
                                            <span class="utils-fixBaseline-MRdHf">
                                                <a href="/external-link-warning?to=https%3A%2F%2Fshop.beano.com%2F%3Futm_source%3Dbeano%26utm_medium%3Dreferral%26utm_campaign%3DCP&amp;eventLabel=Beano%20Shop">
                                                    Beano
                                                    Shop
                                                </a>
                                            </span>
                                        </div>
                                        <div class="Grid-colSm4-2O5lr Grid-col-2W7mE HomepageFooter-linkWrap-RraJO">
                                            <span class="utils-fixBaseline-MRdHf">
                                                <a href="/subscribe">
                                                    Subscribe to
                                                    Comic
                                                </a>
                                            </span>
                                        </div>
                                        <div class="Grid-colSm4-2O5lr Grid-col-2W7mE HomepageFooter-linkWrap-RraJO">
                                            <span class="utils-fixBaseline-MRdHf">
                                                <a href="/parent-zone">
                                                    Parent
                                                    Zone
                                                </a>
                                            </span>
                                        </div>
                                    </div>*@
                                @*<div class="Grid-row-2D_Ha HomepageFooter-imageLinks-oJ4c2">
                                        <div class="HomepageFooter-imageLinkWrap-2GsVN">
                                            <a href="/external-link-warning?to=https%3A%2F%2Fwww.superawesome.com%2Fkidaware&amp;eventLabel=Outbound%20link%20https%3A%2F%2Fwww.superawesome.com%2Fkidaware">
                                                <div role="img" aria-label="KidAware Certified"
                                                     style="width: 1px; height: 1px;"></div>
                                            </a>
                                        </div>
                                        <div class="HomepageFooter-imageLinkWrap-2GsVN">
                                            <a href="/external-link-warning?to=https%3A%2F%2Fcert.privo.com%2F%23%2Fcompanies%2Fbeano_studios&amp;eventLabel=Outbound%20link%20https%3A%2F%2Fcert.privo.com%2F%23%2Fcompanies%2Fbeano_studios">
                                                <div role="img"
                                                     aria-label="COPPA - Safe Harbor Certification (Kids' Privacy Assured Privo)"
                                                     style="width: 1px; height: 1px;"></div>
                                            </a>
                                        </div>
                                        <div class="HomepageFooter-imageLinkWrap-2GsVN">
                                            <a href="/external-link-warning?to=https%3A%2F%2Fcert.privo.com%2F%23%2Fcompanies%2Fbeano_studios&amp;eventLabel=Outbound%20link%20https%3A%2F%2Fcert.privo.com%2F%23%2Fcompanies%2Fbeano_studios">
                                                <div role="img"
                                                     aria-label="GDPR - General Data Protection (Kids' Privacy Assured Privo)"
                                                     style="width: 1px; height: 1px;"></div>
                                            </a>
                                        </div>
                                    </div>*@
                            </div>
                        </nav>
                        <nav class="Footer-root-3aD-K">
                            <div class="Footer-links-2BP4P Footer-linksMain--AHKD">
                                <div class="Footer-linksWrapper-22Yt4">
                                    @{
                                        if (categories != null)
                                        {
                                            for (int i = 0; i < categories.games.Count; i++)
                                            {
                                                if (categories.games[i].id == UtilsController.Constant.HOME_CATEGORY)
                                                {
                                                    <a href="/@UtilsController.GetCategoryPath(categories.games[i].id)">@Lang.Home</a>
                                                }
                                                else if (categories.games[i].id == UtilsController.Constant.QUIZZES_CATEGORY)
                                                {
                                                    <a href="/@UtilsController.GetCategoryPath(categories.games[i].id)">@Lang.Quizes</a>
                                                }
                                                else if (categories.games[i].id == UtilsController.Constant.TESTS_CATEGORY)
                                                {
                                                    <a href="/@UtilsController.GetCategoryPath(categories.games[i].id)">@Lang.Test</a>
                                                }
                                                else if (categories.games[i].id == UtilsController.Constant.WINS_CATEGORY)
                                                {
                                                    <a href="/@UtilsController.GetCategoryPath(categories.games[i].id)">@Lang.Wins</a>
                                                }
                                                else if (categories.games[i].id == UtilsController.Constant.MINIGAMES_CATEGORY)
                                                {
                                                    <a href="/@UtilsController.GetCategoryPath(categories.games[i].id)">@Lang.Minigame</a>
                                                }
                                            }
                                        }
                                    }

                                    @*<a href="/">Home</a>
                                        <a href="/categories/videos">Videos</a>
                                        <a href="/categories/quizzes">Quizzes</a>
                                        <a href="/categories/games">Games</a>
                                        <a href="/categories/beanotown">Beanotown</a>
                                        <a href="/categories/jokes">Jokes</a>
                                        <a href="/categories">More stuff</a>*@
                                </div>
                            </div>
                            <!--<div class="Footer-links-2BP4P Footer-linksOther-owEaO">
                            <div class="Footer-linksWrapper-22Yt4">-->
                            @*<a href="/faq">FAQs</a>*@
                            <!--<a href="/Common/About">About Us</a>
                                    <a href="/Common/Services">Our services</a>
                                    <a href="/Common/Contact">Contact Us</a>
                                    <a target="_blank" rel="noopener" href="/Common/Document">Document</a>
                                    <a href="/cookie-policy">Policy</a>
                                </div>
                            </div>-->

                            <div class="row" style="max-width:1200px; margin:20px auto;">
                                <div class="col-xs-8 col-sm-4 col-md-8">
                                    <p class="footer-title title-footer-level-1">@Lang.About</p>
                                    <p class="footer-link">
                                        <b class="title-footer-level-3">
                                            @Lang.description1
                                        </b>
                                    </p>
                                    <p class="footer-link title-footer-level-3">
                                        @Lang.description2
                                    </p>
                                    <p class="footer-link title-footer-level-3">
                                        @Lang.description3
                                    </p>
                                    <p class="footer-link title-footer-level-3">
                                        @Lang.description4
                                    </p>
                                </div>
                                <div class="col-xs-4 col-sm-3 col-md-4">
                                    <p class="footer-title title-footer-level-1">@Lang.Products</p>
                                    <p class="footer-link title-footer-level-2">
                                        @Lang.Quizzes
                                    </p>
                                    <p class="footer-link title-footer-level-2">
                                        @Lang.Tests
                                    </p>
                                    <p class="footer-link title-footer-level-2">
                                        @Lang.Minigames
                                    </p>
                                </div>
                            </div>

                            <div class="language" style="text-align:center;">
                                <div class="new-footer-img-ad ">
                                    <a href="" class="btn setLang" data-lang="ca" lang="ca" style="width:80px;">
                                        <img src="../Content/assets/images/ca_flag.png" style="width:80px;height:40px;" />
                                    </a>
                                    <a href="" class="btn setLang" data-lang="fr" lang="fr" style="width:80px;">
                                        <img src="../Content/assets/images/fr_flag.png" style="width:80px;height:40px;" />
                                    </a>
                                    <a href="" class="btn setLang" data-lang="en" lang="en" style="width:80px;">
                                        <img src="../Content/assets/images/en_flag.png" style="width:80px;height:40px;" />
                                    </a>
                                </div>
                            </div>
                            <style>
                                .language {
                                    display: none
                                }

                                @@media (max-width: 768px) {
                                    .language {
                                        display: inherit
                                    }
                                }
                            </style>

                            <script>
                                $(document).ready(function () {

                                    $(".setLang").on("click", function (event) {
                                        var lang = $(this).attr("data-lang");
                                        var language = $(this).attr("lang");
                                        document.cookie = "Language" + "=" + language + ";"
                                        console.log(language);

                                        $.ajax({
                                            url: urlConfig("/Language/ChangeLanguage"),
                                            data: {
                                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                                LanguageAbbrevation: language
                                            },
                                            type: "POST"
                                        }).success(function (data) {
                                        });
                                    })
                                });
                            </script>
                            <p class="footer-bottom  title-footer-level-3" style="text-align:center;">© 2021 TELEMOR | All Rights Reserved</p>

                        </nav>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" style="margin-top:100px;"
         aria-labelledby="myModalLabel">
        <div class="modal-dialog fault-dialog model-style">
            <div id='myModalContent'>
            </div>
        </div>
    </div>

    <div id="choose-plan-modal" class="modal login fade model-containter" tabindex="-1" role="dialog">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">
                    @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                    @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                            <h1 style="text-align:center;margin:auto;">
                                <span class="desktop-view title-modal">@Lang.choosePlan</span>
                            </h1>
                        </p>*@
                    <div class="HubHeader-root-1lcEV">
                        <div class="Grid-container-3utXw">
                            <div class="HubHeader-textWrap-2aRn2">
                                <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.choosePlan</h1>
                                @*<p class="HubHeader-subtitle-3PWnJ">
                                        @categoryNow.description
                                    </p>*@
                            </div>
                        </div>
                    </div>
                    <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                    <div class="modal-body">
                        <div>
                            <form autocomplete="on">
                                <div class="wrapper signin-wrapper">

                                    <div class="row row-info-style ">
                                        <div class="col-md-6 column-info">
                                            <div class="packet">
                                                <div class="title">@Lang.daily10</div>
                                                <div class="price">@Lang.daily10Fee</div>
                                                <hr class="topBar register-btn">

                                                <div class="description">@Lang.packetDaily10Info</div>
                                                <button type="button" class="od-Button od-Button--primary choosePlanBtn grey btn send-fault btn-cancel-nav-modal
                                                        @(packetReg == UtilsController.Constant.REGISTER_DAILY_2 ? "check-sub-dim" : "")" value=@UtilsController.Constant.FUNNY_QUIZZ10>
                                                    <span class="register-btn">@Lang.register</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column-info">
                                            <div class="packet">
                                                <div class="title">@Lang.daily15</div>
                                                <div class="price">@Lang.daily15Fee</div>
                                                <hr class="topBar register-btn">

                                                <div class="description">@Lang.packetDaily15Info</div>
                                                <button type="button" class="od-Button od-Button--primary choosePlanBtn grey btn send-fault btn-cancel-nav-modal
                                                        @(packetReg == UtilsController.Constant.REGISTER_DAILY_3 ? "check-sub-dim" : "")" value=@UtilsController.Constant.FUNNY_QUIZZ15>
                                                    <span class="register-btn">@Lang.register</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer" style="border:none;">
                            <div class="row">
                                <div class="col-md-6">
                                    @*<button disabled type="button" class="btn grey btn send-fault btn-accept-nav-modal" data-dismiss="modal">
                                            @Lang.accept
                                        </button>*@
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal register-btn" data-dismiss="modal">
                                        @Lang.close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(".choosePlanBtn").on("click", function () {
                                var packetType = $(this).attr("value");
                                var captcha = $("#captcha").val();
                                var email = $("#email").val();
                                var phonenumber = $("#phonenumber").val();

                                console.log("packet type: ", packetType);
                                console.log("captcha: ", captcha);
                                console.log("email: ", email);
                                console.log("phonenumber: ", phonenumber);

                                if (captcha != "0" && email != "" && phonenumber != "") {
                                    $.ajax({
                                        url: urlConfig("/Account/RegisterAction"),
                                        type: "POST",
                                        data: {
                                            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                            captcha: captcha,
                                            packettype: packetType,
                                            email: email,
                                            phonenumber: phonenumber,
                                        },
                                        success: function (data) {
                                            console.log(data);
                                            $("#choose-plan-modal").modal("hide");
                                            if (data.error_code == "0") {
                                                $("#active-code-modal").modal("show");
                                            } else {
                                                $("#response-modal").modal("show");
                                                $("#response-modal-content").html(data.error_content);
                                            }
                                        }
                                    });
                                }
                            })
                            $(".closeBtnModal").on("click", function () {
                                location.reload();
                            })
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="choose-plan-active-modal" class="modal login fade model-containter" tabindex="-1" role="dialog" data-focus=false>
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">
                    @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                    <p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                        <h1 style="text-align:center;margin:auto;">
                            <span class="desktop-view title-modal">@Lang.choosePlan</span>
                        </h1>
                    </p>
                    <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                    <div class="modal-body">
                        <div>
                            <form autocomplete="on">
                                <div class="wrapper signin-wrapper">

                                    <div class="row row-info-style ">
                                        <div class="col-md-6 column-info">
                                            <div class="packet">
                                                <div class="title">@Lang.daily10</div>
                                                <div class="price">@Lang.daily10Fee</div>
                                                <hr class="topBar register-btn">

                                                <div class="description">@Lang.packetDaily10Info</div>
                                                <button type="button" class="od-Button od-Button--primary choosePlanBtnLogin grey btn send-fault btn-cancel-nav-modal
                                                        @(packetReg == UtilsController.Constant.REGISTER_DAILY_2 ? "check-sub-dim" : "")" value=@UtilsController.Constant.FUNNY_QUIZZ10>
                                                    <span class="register-btn">@Lang.register</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-md-6 column-info">
                                            <div class="packet">
                                                <div class="title">@Lang.daily15</div>
                                                <div class="price">@Lang.daily15Fee</div>
                                                <hr class="topBar register-btn">

                                                <div class="description">@Lang.packetDaily15Info</div>
                                                <button type="button" class="od-Button od-Button--primary choosePlanBtnLogin grey btn send-fault btn-cancel-nav-modal
                                                        @(packetReg == UtilsController.Constant.REGISTER_DAILY_3 ? "check-sub-dim" : "")" value=@UtilsController.Constant.FUNNY_QUIZZ15>
                                                    <span class="register-btn">@Lang.register</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <input type="hidden" name="captcha" id="captcha" value="0" />
                        <input type="hidden" name="package" id="package" value="" />

                        <form id="change-choose-plan-captcha" action="?" method="POST">
                            <div id="ChoosePlan_html"></div>
                            <br />
                        </form>
                        <div class="modal-footer" style="border:none;">
                            <div class="row">
                                <div class="col-md-12" style="margin: auto; text-align: center;">
                                    <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal register-btn" data-dismiss="modal"
                                            style="max-width:200px">
                                        @Lang.close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(".choosePlanBtnLogin").on("click", function (e) {
                                e.preventDefault();
                                var packetType = $(this).attr("value");
                                document.getElementById("package").value = packetType;
                                console.log("packet type: ", packetType);
                                $.ajax({
                                    url: urlConfig("/Account/RegisterAction"),
                                    type: "POST",
                                    data: {
                                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                        packettype: packetType,
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        $("#choose-plan-active-modal").modal("hide");

                                        if (data.error_code == "0") {
                                            $("#active-code-modal").modal("show");
                                        } else {
                                            $("#response-modal").modal("show");
                                            $("#response-modal-content").html(data.error_content);
                                        }
                                    }
                                });
                            })
                            $(".closeBtnModal").on("click", function () {
                                location.reload();
                            })
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div id="active-code-modal" class="modal login fade model-containter" tabindex="-1" role="dialog">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">
                    @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                    @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                            <h1 style="text-align:center;margin:auto;">
                                <span class="desktop-view title-modal">@Lang.activeCode</span>
                            </h1>
                        </p>*@
                    <div class="HubHeader-root-1lcEV">
                        <div class="Grid-container-3utXw">
                            <div class="HubHeader-textWrap-2aRn2">
                                <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.activeCode</h1>
                                @*<p class="HubHeader-subtitle-3PWnJ">
                                        @categoryNow.description
                                    </p>*@
                            </div>
                        </div>
                    </div>
                    <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                    <div class="modal-body">
                        <div>
                            <form autocomplete="on">
                                <div class="wrapper signin-wrapper">
                                    <input id="active-code" class="input-form" type="password" placeholder="@Lang.enterOtp" name="psw-repeat" required>
                                </div>
                            </form>
                        </div>

                        <div class="modal-footer" style="border:none;">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn grey btn send-fault btn-accept-nav-modal button-disable" data-dismiss="modal">
                                        @Lang.accept
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                        @Lang.close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $("#active-code").on("input", function () {
                                var active = $("#active-code").val();
                                if (active.length == 0) {
                                    $(".btn-accept-nav-modal").addClass("button-disable");
                                } else {
                                    $(".btn-accept-nav-modal").removeClass("button-disable");
                                }
                            })

                            $(".btn-accept-nav-modal").on("click", function () {
                                var activecode = $("#active-code").val();

                                if (activecode != "") {
                                    $.ajax({
                                        url: urlConfig("/Account/RegisterAction"),
                                        type: "POST",
                                        data: {
                                            __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                            activateCode: activecode,
                                        },
                                        success: function (data) {
                                            console.log(data);
                                            $("#active-code-modal").modal("hide");

                                            if (data.error_code == "0") {
                                                window.location.href = data.href;
                                            }
                                            else {
                                                $("#response-modal").modal("show");
                                                $("#response-modal-content").html(data.error_content);
                                            }
                                        }
                                    });
                                }
                            })
                            $(".closeBtnModal").on("click", function () {
                                location.reload();
                            })
                        </script>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--<div id="buy-code-modal" class="modal login fade model-containter" tabindex="-1" role="dialog">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">-->
    @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
    @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
            <h1 style="text-align:center;margin:auto;">
                <span class="desktop-view title-modal">@Lang.response</span>
            </h1>
        </p>*@

    <!--<div class="HubHeader-root-1lcEV">
        <div class="Grid-container-3utXw">
            <div class="HubHeader-textWrap-2aRn2">
                <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.buyMore</h1>-->
    @*<p class="HubHeader-subtitle-3PWnJ">
            @categoryNow.description
        </p>*@
    <!--</div>
                        </div>
                    </div>

                    <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                    <div class="modal-body">
                        <div>
                            <div>
                                <p id="buy-code-content"></p>
                            </div>
                        </div>

                        <div class="modal-footer" style="border:none;">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="button" class="btn grey btn send-fault btn-accept-nav-modal buyMoreBtn" data-dismiss="modal">
                                        @Lang.buyMore
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                        @Lang.close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(".buyMoreBtn").on("click", function () {
                                $.ajax({
                                    url: urlConfig("/Account/BuyCodeAction"),
                                    type: "POST",
                                    data: {
                                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        $("#buy-code-modal").modal("hide");
                                        $("#response-modal").modal("show");
                                        $("#response-modal-content").html(data.error_content);
                                        //if (data.error_code == "0") {
                                        //    $("#active-code-modal").modal("show");
                                        //} else {
                                        //    $("#response-modal").modal("show");
                                        //    $("#response-modal-content").html(data.error_content);
                                        //}
                                    }
                                });
                            })

                            $(".closeBtnModal").on("click", function () {
                                location.reload();
                            })
                        </script>
                    </div>


                </div>
            </div>
        </div>
    </div>-->
    <!--<div id="invite-modal" class="modal login fade model-containter" tabindex="-1" role="dialog">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">-->
    @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@

    <!--<div class="HubHeader-root-1lcEV">
        <div class="Grid-container-3utXw">
            <div class="HubHeader-textWrap-2aRn2">
                <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.invite</h1>-->
    @*<p class="HubHeader-subtitle-3PWnJ">
            @categoryNow.description
        </p>*@
    <!--</div>
        </div>
    </div>-->
    @*<h2 class="Spotlight-title-1CGG4 text-style-level-1">@Lang.invite</h2>*@

    @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
            <h1 style="text-align:center;margin:auto;">
                <span class="desktop-view title-modal">Invite your friend</span>
            </h1>
        </p>*@
    <!--<div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                    <div class="modal-body">
                        <div>
                            <form autocomplete="on">
                                <div class="wrapper signin-wrapper">
                                    <input id="friendNumber" class="input-form Spotlight-title-1CGG4" type="number"
                                           placeholder="Enter your friend's phone number"
                                           name="psw-repeat" required>
                                </div>
                            </form>
                        </div>
                        <input type="hidden" name="captcha" id="captcha" value="0" />
                        <form id="invite-captcha" action="?" method="POST">
                            <div id="invite_html_element"></div>
                            <br />
                        </form>
                        <div class="modal-footer" style="border:none;">
                            <div class="row">
                                <div class="col-md-6">
                                    <button disabled type="button" class="btn grey btn-danger send-fault btn-accept-nav-modal inviteBtn" data-dismiss="modal">
                                        @Lang.invite
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn grey send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                        @Lang.close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $("#friendNumber").on("input", function () {
                                var phonenumber = $("#friendNumber").val();
                                var captcha = $("#captcha").val();

                                if (phonenumber != "" && captcha != "0")
                                    $('.inviteBtn').prop('disabled', false);
                                else {
                                    $('.inviteBtn').prop('disabled', true);
                                }
                            })
                            var onloadCallback = function () {
                                var captInvite = grecaptcha.render('invite_html_element', {
                                    'sitekey': '6LfLP8QZAAAAAOt97lEBrfUNMv6SJa1igLfKitXF',
                                    'callback': function (response) {
                                        //$("#password-box").show();
                                        document.getElementById("captcha").value = grecaptcha.getResponse(captInvite);
                                        var phonenumber = $("#friendNumber").val();
                                        if (phonenumber != "" && phonenumber != null) {
                                            $('.inviteBtn').prop('disabled', false);
                                        } else {
                                            $('.inviteBtn').prop('disabled', true);
                                        }
                                    },
                                    'expired-callback': function (response) {
                                        document.getElementById("captcha").value = "s";
                                        $('.inviteBtn').prop('disabled', true);

                                    },
                                });
                            }
                            $(".inviteBtn").on("click", function () {
                                var phonenumber = $("#friendNumber").val();
                                $.ajax({
                                    url: urlConfig("/Account/InviteAction"),
                                    type: "POST",
                                    data: {
                                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                        phonenumber: phonenumber,
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        $("#response-modal").modal("show");
                                        $("#response-modal-content").html(data.error_content);
                                    }
                                });
                            })

                            $(".closeBtnModal").on("click", function () {
                                location.reload();
                            })
                        </script>
                    </div>


                </div>
            </div>
        </div>
    </div>-->

    <div id="response-modal" class="modal login fade model-containter" tabindex="-1" role="dialog">
        <div class="modal-dialog fault-dialog">
            <div class="modal-content" style="margin:10px;">
                <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

                <div class="modal-content-feedback">
                    @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                    @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                            <h1 style="text-align:center;margin:auto;">
                                <span class="desktop-view title-modal">@Lang.response</span>
                            </h1>
                        </p>*@

                    <div class="HubHeader-root-1lcEV">
                        <div class="Grid-container-3utXw">
                            <div class="HubHeader-textWrap-2aRn2">
                                <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.response</h1>
                                @*<p class="HubHeader-subtitle-3PWnJ">
                                        @categoryNow.description
                                    </p>*@
                            </div>
                        </div>
                    </div>

                    <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                    <div class="modal-body">
                        <div>
                            <div>
                                <p id="response-modal-content"></p>
                            </div>
                        </div>

                        <div class="modal-footer" style="border:none;">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                        @Lang.close
                                    </button>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(".closeBtnModal").on("click", function () {
                                location.reload();
                            })
                        </script>
                    </div>


                </div>
            </div>
        </div>
    </div>

</body>

<script type="text/javascript" src="~/Content/assets/js/global.js"></script>
@RenderSection("scripts", required: false)
</html>
