﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@using FunQuizWeb.Language;
@using FunQuizWeb.Models;


@model WinsModel

@{
    string seqPage = "1";
}

<link type="text/css" rel="stylesheet" href="~/Content/assets/css/ranking.css" />

<div style="max-width: 1200px;margin: auto;height: 100%;">
    <!-- begin top rank content-->
    <div class="ranking-content">
        <div class="">
            @*<div class="row subtitle">
                <div class="col-xs-12">
                    <div class="line-orange"></div>
                    <p class="ranking-subtitle" style="text-align:center;">TOP 3</p>
                </div>
            </div>*@
            <div class="HubHeader-root-1lcEV">
                <div class="Grid-container-3utXw">
                    <div class="HubHeader-textWrap-2aRn2" style="max-width: 100%; text-align: center; ">
                        <h1 class="HubHeader-title-3i6hM">@Lang.top3</h1>
                        <p class="HubHeader-subtitle-3PWnJ">
                            @Lang.descriptionTop3_1
                        </p>
                        <p class="HubHeader-subtitle-3PWnJ">
                            @Lang.descriptionTop3_2
                        </p>
                    </div>
                </div>
            </div>

            @*<div class="row top-rank-group">
                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                    @if (Model.ranking != null && Model.ranking.Count >= 2)
                    {
                        <div class="text-center rank-box" style="padding-top:80px;float:right;">
                            <div class="top-rank top-rank-second">
                                2
                            </div>
                            <div class="top-rank-info top-rank-info-second">
                                <div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>
                                <p class="rank-avatar">
                                    <img src="@Model.ranking[1].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.ranking[1].fullname</a></p>
                                <div class="rank-number-group rank-number-group-second">
                                    <div class="top-rank-word">
                                        <p>Tổng điểm: @Model.ranking[1].totalScore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                    @if (Model.ranking != null && Model.ranking.Count >= 1)
                    {
                        <div class="text-center rank-box">
                            <div class="top-rank">
                                1
                            </div>
                            <div class="top-rank-info">
                                <div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>
                                <p class="rank-avatar">
                                    <img src="@Model.ranking[0].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.ranking[0].fullname</a></p>
                                <div class="rank-number-group">
                                    <div class="top-rank-word">
                                        <p>Tổng điểm: @Model.ranking[0].totalScore</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                    @if (Model.ranking != null && Model.ranking.Count >= 3)
                    {
                        <div class="text-center rank-box" style="padding-top:160px;float:left">
                            <div class="top-rank top-rank-third">
                                3
                            </div>
                            <div class="top-rank-info top-rank-info-third">
                                <div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>
                                <p class="rank-avatar">
                                    <img src="@Model.ranking[2].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.ranking[2].fullname</a></p>
                                <div class="rank-number-group rank-number-group-third">
                                    <div class="top-rank-word">
                                        <p>Tổng điểm: @Model.ranking[2].totalScore</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>*@

            <div style="margin: auto; text-align: center;">

                @{
                    for (int i = 0; i < Model.topWon.accounts.Count; i++)
                    {
                        <div class="animate__animated animate__bounce animate__flipInY" style="width:40%; display:inline-block; max-width:200px; margin: 10px;">
                            <div class="top-rank top-rank-second">
                                @(i+1)
                            </div>
                            <div class="top-rank-info-small top-rank-info-first-small" style="background:orangered">
                                @*<div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>*@
                                <p class="rank-avatar">
                                    <img src="@Model.topWon.accounts[i].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.topWon.accounts[i].msisdn.Remove(Model.topWon.accounts[i].msisdn.Length - 3)***</a></p>
                                <div class="rank-number-group">
                                    <div class="top-rank-word">
                                        <p>@Lang.totalScore: @Model.topWon.accounts[i].point</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @*<div class="animate__animated animate__bounce animate__flipInY" style="width:30%; display:inline-block; max-width:200px;">
                    @if (Model.ranking != null && Model.ranking.accounts.Count >= 2)
                    {
                        <div class="top-rank top-rank-second">
                            2
                        </div>
                        <div class="top-rank-info-small  top-rank-info-second-small" style="">
                            <p class="rank-avatar">
                                <img src="@Model.ranking.accounts[1].picture" />
                            </p>
                            <p class="rank-name"><a href="#">@Model.ranking.accounts[1].msisdn.Remove(Model.ranking.accounts[1].msisdn.Length - 3)***</a></p>
                            <div class="rank-number-group rank-number-group-second">
                                <div class="top-rank-word">
                                    <p>@Lang.totalScore: @Model.ranking.accounts[1].point</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="animate__animated animate__bounce animate__flipInY" style="width:30%; display:inline-block; max-width:200px;">
                    @if (Model.ranking != null && Model.ranking.accounts.Count >= 1)
                    {
                        <div class="top-rank top-rank-second">
                            1
                        </div>
                        <div class="top-rank-info-small top-rank-info-first-small">
                            <div>
                                <p class="cup-img-group">
                                    <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                </p>
                            </div>
                            <p class="rank-avatar">
                                <img src="@Model.ranking.accounts[0].picture" />
                            </p>
                            <p class="rank-name"><a href="#">@Model.ranking.accounts[0].msisdn.Remove(Model.ranking.accounts[0].msisdn.Length - 3)***</a></p>
                            <div class="rank-number-group">
                                <div class="top-rank-word">
                                    <p>@Lang.totalScore: @Model.ranking.accounts[0].point</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="animate__animated animate__bounce animate__flipInY" style="width:30%; display:inline-block; max-width:200px;">
                    @if (Model.ranking != null && Model.ranking.accounts.Count >= 3)
                    {
                        <div class="top-rank top-rank-second">
                            3
                        </div>
                        <div class="top-rank-info-small  top-rank-info-third-small">
                            <p class="rank-avatar">
                                <img src="@Model.ranking.accounts[2].picture" />
                            </p>
                            <p class="rank-name"><a href="#">@Model.ranking.accounts[2].msisdn.Remove(Model.ranking.accounts[2].msisdn.Length - 3)***</a></p>
                            <div class="rank-number-group rank-number-group-third">
                                <div class="top-rank-word">
                                    <p>@Lang.totalScore: @Model.ranking.accounts[2].point</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>*@
            </div>
        </div>


        <div class="">
            @*<div class="row subtitle">
                <div class="col-xs-12">
                    <div class="line-orange"></div>
                    <p class="ranking-subtitle" style="text-align:center;">TOP 3</p>
                </div>
            </div>*@
            <div class="HubHeader-root-1lcEV">
                <div class="Grid-container-3utXw">
                    <div class="HubHeader-textWrap-2aRn2" style="max-width: 100%; text-align: center; ">
                        <h1 class="HubHeader-title-3i6hM">@Lang.top10</h1>
                        <p class="HubHeader-subtitle-3PWnJ">
                            @Lang.descriptionTop10
                        </p>
                    </div>
                </div>
            </div>

            @*<div class="row top-rank-group">
                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                    @if (Model.ranking != null && Model.ranking.Count >= 2)
                    {
                        <div class="text-center rank-box" style="padding-top:80px;float:right;">
                            <div class="top-rank top-rank-second">
                                2
                            </div>
                            <div class="top-rank-info top-rank-info-second">
                                <div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>
                                <p class="rank-avatar">
                                    <img src="@Model.ranking[1].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.ranking[1].fullname</a></p>
                                <div class="rank-number-group rank-number-group-second">
                                    <div class="top-rank-word">
                                        <p>Tổng điểm: @Model.ranking[1].totalScore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                    @if (Model.ranking != null && Model.ranking.Count >= 1)
                    {
                        <div class="text-center rank-box">
                            <div class="top-rank">
                                1
                            </div>
                            <div class="top-rank-info">
                                <div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>
                                <p class="rank-avatar">
                                    <img src="@Model.ranking[0].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.ranking[0].fullname</a></p>
                                <div class="rank-number-group">
                                    <div class="top-rank-word">
                                        <p>Tổng điểm: @Model.ranking[0].totalScore</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 top-ranking-item">
                    @if (Model.ranking != null && Model.ranking.Count >= 3)
                    {
                        <div class="text-center rank-box" style="padding-top:160px;float:left">
                            <div class="top-rank top-rank-third">
                                3
                            </div>
                            <div class="top-rank-info top-rank-info-third">
                                <div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>
                                <p class="rank-avatar">
                                    <img src="@Model.ranking[2].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.ranking[2].fullname</a></p>
                                <div class="rank-number-group rank-number-group-third">
                                    <div class="top-rank-word">
                                        <p>Tổng điểm: @Model.ranking[2].totalScore</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>*@

            <div style="margin: auto; text-align: center;">

                @{
                    for (int i = 0; i < Model.topPlay.accounts.Count; i++)
                    {
                        <div class="animate__animated animate__bounce animate__flipInY" style="width:40%; display:inline-block; max-width:200px; margin: 10px;">
                            <div class="top-rank top-rank-second">
                                @(i+1)
                            </div>
                            <div class="top-rank-info-small top-rank-info-first-small">
                                @*<div>
                                    <p class="cup-img-group">
                                        <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                    </p>
                                </div>*@
                                <p class="rank-avatar">
                                    <img src="@Model.topPlay.accounts[i].picture" />
                                </p>
                                <p class="rank-name"><a href="#">@Model.topPlay.accounts[i].msisdn.Remove(Model.topPlay.accounts[i].msisdn.Length - 3)***</a></p>
                                <div class="rank-number-group">
                                    <div class="top-rank-word">
                                        <p>@Lang.totalSpin: @Model.topPlay.accounts[i].totalSpin</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

                @*<div class="animate__animated animate__bounce animate__flipInY" style="width:30%; display:inline-block; max-width:200px;">
                    @if (Model.ranking != null && Model.ranking.accounts.Count >= 2)
                    {
                        <div class="top-rank top-rank-second">
                            2
                        </div>
                        <div class="top-rank-info-small  top-rank-info-second-small" style="">
                            <p class="rank-avatar">
                                <img src="@Model.ranking.accounts[1].picture" />
                            </p>
                            <p class="rank-name"><a href="#">@Model.ranking.accounts[1].msisdn.Remove(Model.ranking.accounts[1].msisdn.Length - 3)***</a></p>
                            <div class="rank-number-group rank-number-group-second">
                                <div class="top-rank-word">
                                    <p>@Lang.totalScore: @Model.ranking.accounts[1].point</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="animate__animated animate__bounce animate__flipInY" style="width:30%; display:inline-block; max-width:200px;">
                    @if (Model.ranking != null && Model.ranking.accounts.Count >= 1)
                    {
                        <div class="top-rank top-rank-second">
                            1
                        </div>
                        <div class="top-rank-info-small top-rank-info-first-small">
                            <div>
                                <p class="cup-img-group">
                                    <img class="cup-img" src="~/Content/assets/images/cup-image.png" />
                                </p>
                            </div>
                            <p class="rank-avatar">
                                <img src="@Model.ranking.accounts[0].picture" />
                            </p>
                            <p class="rank-name"><a href="#">@Model.ranking.accounts[0].msisdn.Remove(Model.ranking.accounts[0].msisdn.Length - 3)***</a></p>
                            <div class="rank-number-group">
                                <div class="top-rank-word">
                                    <p>@Lang.totalScore: @Model.ranking.accounts[0].point</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="animate__animated animate__bounce animate__flipInY" style="width:30%; display:inline-block; max-width:200px;">
                    @if (Model.ranking != null && Model.ranking.accounts.Count >= 3)
                    {
                        <div class="top-rank top-rank-second">
                            3
                        </div>
                        <div class="top-rank-info-small  top-rank-info-third-small">
                            <p class="rank-avatar">
                                <img src="@Model.ranking.accounts[2].picture" />
                            </p>
                            <p class="rank-name"><a href="#">@Model.ranking.accounts[2].msisdn.Remove(Model.ranking.accounts[2].msisdn.Length - 3)***</a></p>
                            <div class="rank-number-group rank-number-group-third">
                                <div class="top-rank-word">
                                    <p>@Lang.totalScore: @Model.ranking.accounts[2].point</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>*@
            </div>
        </div>

        <!--<div class="">-->
        @*<div class="row subtitle">
            <div class="col-xs-12">
                <div class="line-green"></div>
                <p class="ranking-subtitle" style="text-align:center;">TOP 10</p>
            </div>
        </div>*@
        <!--<div class="HubHeader-root-1lcEV">
        <div class="Grid-container-3utXw">
            <div class="HubHeader-textWrap-2aRn2">
                <h1 class="HubHeader-title-3i6hM">@Lang.top10</h1>
                <p class="HubHeader-subtitle-3PWnJ">
                    @Lang.descriptionTop10
                </p>
            </div>
        </div>
    </div>-->
        <!--begin ranking item-->
        <!--<table id="customers">
        <tr>
            <th><span class="name-title">@Lang.Ranking</span></th>
            <th><span class="name-title">@Lang.fullName</span></th>
            <th><span class="name-title">@Lang.totalScore</span></th>
        </tr>
        @if (Model.recent != null && int.Parse(Model.recent.ranking) > 2)
        {
            AccountUser user = Model.recent;
            <tr class="row-ranking-style">
                <td><span class="name-title" style="font-weight:800;">*** @user.ranking</span></td>
                <td><span class="name-title" style="font-weight: 800;">@user.msisdn.Remove(user.msisdn.Length - 3)***</span></td>
                <td><span class="name-title" style="font-weight: 800;">@user.point</span></td>
            </tr>
        }
        @{
            if (Model.topPlay != null && Model.topPlay.accounts.Count >= 4)
            {
                for (int i = 3; i < Model.topPlay.accounts.Count; i++)
                {
                    AccountUser user = Model.topPlay.accounts[i];
                    <tr class="row-ranking-style">
                        <td><span class="name-title">@(i + 1)</span></td>
                        <td><span class="name-title">@user.msisdn.Remove(user.msisdn.Length - 3)***</span></td>
                        <td><span class="name-title">@user.point</span></td>
                    </tr>
                }
            }
        }
    </table>-->
        <!--end ranking item-->
        <!--</div>-->
    </div>

    @*<div class="category-post-pagination col-xs-12 pagination-style">
        <ul class="pagination clearfix pagination-ul">
            <li class="pagination-prev">
                <a href="/Wins?seqPage=1" class="nav-pointer">‹‹</a>
            </li>
            <li class="pagination-prev ">
                <a href="/Wins?seqPage=@(int.Parse(seqPage) - 1)" class="nav-pointer @(int.Parse(seqPage) < 2 ? "check-sub-dim" : "")">‹</a>
            </li>
            <li class="current"><a href="/Wins?seqPage=@(int.Parse(seqPage))" class="pagination-active nav-pointer">@seqPage</a></li>
            <li><a href="/Wins?seqPage=@(int.Parse(seqPage) + 1)" class="nav-pointer">@(int.Parse(seqPage) + 1)</a></li>
            <li><a href="/Wins?seqPage=@(int.Parse(seqPage) + 2)" class="nav-pointer">@(int.Parse(seqPage) + 2)</a></li>
            <li><a href="/Wins?seqPage=@(int.Parse(seqPage) + 3)" class="nav-pointer">@(int.Parse(seqPage) + 3)</a></li>
            <li><a href="/Wins?seqPage=@(int.Parse(seqPage) + 4)" class="nav-pointer">@(int.Parse(seqPage) + 4)</a></li>
            <li class="pagination-next ">
                <a href="/Wins?seqPage=@(int.Parse(seqPage) + 1)" class="nav-pointer">›</a>
            </li>
            <li class="pagination-next ">
                <a href="/Wins?seqPage=@(int.Parse(seqPage) + 1)" class="nav-pointer">››</a>
            </li>
        </ul>
    </div>*@
    <!-- begin top rank content-->
</div>


