﻿
@using FunQuizWeb.Language;
@using FunQuizWeb.Models;

@model AnswerPopupModel

<div class="modal-content" style="margin:10px;">
    <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

    <div class="modal-content-feedback">
        @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
        <p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
            <h1 style="text-align:center;margin:auto;">
                <span class="desktop-view title-modal">@Lang.result</span>
            </h1>
        </p>
        <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
        <div class="modal-body">
            <div>
                <h2>@Model.answer.name</h2>
                <h3>@Model.answer.description</h3>
            </div>

            <div class="modal-footer" style="border:none;">
                <div class="row">
                    <div class="col-md-6">
                        <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal reCheckBtnModal" data-dismiss="modal">
                            @Lang.retake
                        </button>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                            @Lang.close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".reCheckBtnModal").on("click", function () {
                window.location.href = "/Game?gameId=@Model.questions.games[0].parentId&finish=1"
            })
            $(".closeBtnModal").on("click", function () {
                window.location.href = "/Home"
            })
        </script>
    </div>
</div>