﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using FunQuizWeb.Models;
@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@using FunQuizWeb.Language;

@model GamesModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {
        Game categoryNow = Session["category-now"] as Game;
        List<Answer> listAnswer = Session["answers-of-user"] as List<Answer>;
        String finished = Session["finished"] as String;

        <div id="gameModal" class="modal login fade model-containter" tabindex="-1" role="dialog">
            <div class="modal-dialog fault-dialog">
                <div id='gameModalContent'>
                </div>
            </div>
        </div>

        <div class="MainContentWrap-root-1MCKJ">
            <div>
                <div class="PostLayout-containerBg-Y1mrY">
                    <div class="Grid-container-3utXw">
                        <div class="Grid-row-2D_Ha">
                            <div class="Grid-colSm12-2SCob Grid-col-2W7mE Grid-colLg8-2K5_b Grid-col-2W7mE PostLayout-videoWrap-2Fhe5">
                                <div>
                                    <div class="PostDetail-root-3iynL">
                                        <div>
                                            <h1 class="PostTitle-title-1Mb5c">@Model.question.name</h1>
                                            <h2 class="PostTitle-subtitle-3BcXZ">
                                                @Model.question.introduction
                                            </h2>
                                        </div>
                                        <div>
                                            <div>
                                                <div>
                                                    <form action="/Game" method="post" id="game-form">
                                                        <input type="hidden" name="gameId" class="gameId" value="@Model.game.id" />
                                                        <input type="hidden" name="questionNow" class="questionNow" value="@Model.questionNow" />
                                                        <input type="hidden" name="questionId" class="questionId" value="" />
                                                        <input type="hidden" name="answerId" class="answerId" value="" />
                                                    </form>
                                                    @{
                                                        if (Model.result == null)
                                                        {
                                                            <div>
                                                                @*<h3 class="name-game">Good luck</h3>*@
                                                                @{
                                                                    Game question = Model.question;
                                                                    // get al questions of it's content
                                                                    List<Game> answers = Model.answers.games.FindAll(x => x.parentId == question.id);
                                                                    for (int i = 0; i < Model.questions.games.Count(); i++)
                                                                    {
                                                                        // get answer
                                                                        Answer answerUser = listAnswer.Find(x => x.answer.parentId == Model.questions.games[i].id);
                                                                        Boolean checkAnswer = answerUser != null && answerUser.rightAnswer != null ? answerUser.answer.content == answerUser.rightAnswer.content : false;
                                                                        // check
                                                                        if (finished == "true")
                                                                        {
                                                                            if (checkAnswer)
                                                                            {
                                                                                <div class="question-circle right-answer" value="@(i)">
                                                                                    <a>@(i+1)</a>
                                                                                </div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="question-circle wrong-answer" value="@(i)">
                                                                                    <a>@(i+1)</a>
                                                                                </div>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            if (i == int.Parse(Model.questionNow))
                                                                            {
                                                                                <div class="question-circle now-answer" value="@(i)">
                                                                                    <a>@(i+1)</a>
                                                                                </div>
                                                                            }
                                                                            else if (answerUser == null || answerUser.answer == null)
                                                                            {
                                                                                <div class="question-circle not-answer" value="@(i)">
                                                                                    <a>@(i+1)</a>
                                                                                </div>
                                                                            }
                                                                            else
                                                                            {
                                                                                <div class="question-circle" value="@(i)">
                                                                                    <a>@(i+1)</a>
                                                                                </div>
                                                                            }
                                                                        }
                                                                    }
                                                                    <script>
                                                                        $(".question-circle").on("click", function () {
                                                                            var questionId = $(this).attr("value");
                                                                            $(".questionNow").val(questionId);
                                                                            $("#game-form").submit();
                                                                        })
                                                                    </script>
                                                                    <div style="margin-top:20px;">

                                                                        <section class="QuizQuestion-question-wPrZR">
                                                                            <div class="QuizQuestionMedia-root-1Ja_2">
                                                                                <div class="QuizQuestionMedia-counterWrap-1XKnX">
                                                                                    <span class="QuizQuestionCounter-root-8IwyW">
                                                                                        <span class="utils-fixBaseline-MRdHf">
                                                                                            @(int.Parse(Model.questionNow) + 1 + "/" + Model.questions.games.Count())
                                                                                        </span>
                                                                                    </span>
                                                                                </div>
                                                                                <div class="VideoWithFallbackImage-imageWrap-1t_Jo AspectRatioPaddingWrap-root-1xKVH"
                                                                                     style="padding-top: @(question.contentType == UtilsController.GetContentType.TEXT_TYPE ? "20px" : "56.25%"); background-color: rgb(199, 190, 181);">
                                                                                    @{
                                                                                        if (int.Parse(Model.questionNow) > 0)
                                                                                        {
                                                                                            <button class="Carousel-prevButton-2-bgw Carousel-button-20q-s horizon-prev"
                                                                                                    aria-label="Previous" type="button">
                                                                                                <img src="~/Content/assets/images/icons8-chevron-right-100.png" />
                                                                                            </button>
                                                                                        }
                                                                                    }

                                                                                    @{
                                                                                        if (question.contentType == UtilsController.GetContentType.TEXT_TYPE)
                                                                                        {
                                                                                            <p class="question-partial-content">@question.content</p>
                                                                                        }
                                                                                        else if (question.contentType == UtilsController.GetContentType.PICTURE_FILE)
                                                                                        {
                                                                                            //QuizQuestionMediaSingleImage - image - 3uGu9
                                                                                            <img class="QuizQuestionMediaSingleImage-image-3uGu9"
                                                                                                 alt=""
                                                                                                 src="@question.content"
                                                                                                 width="780">
                                                                                        }
                                                                                        else if (question.contentType == UtilsController.GetContentType.VIDEO_FILE || question.contentType == UtilsController.GetContentType.VIDEO_LINK)
                                                                                        {
                                                                                            <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                                                                                   src="@question.content"
                                                                                                   loop="" autoplay="">
                                                                                            </video>
                                                                                        }
                                                                                        else if (question.contentType == UtilsController.GetContentType.AUDIO_FILE || question.contentType == UtilsController.GetContentType.AUDIO_LINK)
                                                                                        {
                                                                                            <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                                                                                   src="@question.content"
                                                                                                   loop="" autoplay="">
                                                                                            </video>
                                                                                        }
                                                                                    }

                                                                                    @{
                                                                                        if (int.Parse(Model.questionNow) < Model.questions.games.Count() - 1)
                                                                                        {
                                                                                            <button class="Carousel-nextButton-10hqT Carousel-button-20q-s horizon-next"
                                                                                                    aria-label="Next" type="button">
                                                                                                <img src="~/Content/assets/images/icons8-chevron-right-100.png" />
                                                                                            </button>
                                                                                        }
                                                                                    }
                                                                                </div>

                                                                                <script>
                                                                                        $('.horizon-prev').click(function () {
                                                                                            console.log("prev")
                                                                                            if (@int.Parse(Model.questionNow) > 0) {
                                                                                                $(".questionNow").val("@(int.Parse(Model.questionNow)-1)")
                                                                                                $("#game-form").submit();
                                                                                            }
                                                                                        });

                                                                                        $('.horizon-next').click(function () {
                                                                                            console.log("next")
                                                                                            if (@int.Parse(Model.questionNow) < @Model.questions.games.Count()) {
                                                                                                $(".questionNow").val("@(int.Parse(Model.questionNow)+1)")
                                                                                                $("#game-form").submit();
                                                                                            }
                                                                                        });
                                                                                </script>
                                                                            </div>
                                                                            <div class="QuizQuestionText-root-2LppL" style="padding-top:5%;">
                                                                                <div class="QuizQuestionText-text-3exbC">
                                                                                    <p class="description-game">
                                                                                        @question.description
                                                                                    </p>
                                                                                </div>
                                                                            </div>

                                                                            <style>
                                                                                .picture-form {
                                                                                    margin: auto;
                                                                                }

                                                                                .picture-type {
                                                                                    width: 45%;
                                                                                    padding: 5px;
                                                                                }
                                                                            </style>
                                                                            <div class="QuizQuestion-answers-wMhTA" style="margin:auto;text-align: center;">
                                                                                @{
                                                                                    // get answer
                                                                                    Answer answerUserGet = listAnswer.Find(x => x.answer.parentId == Model.questions.games[int.Parse(Model.questionNow)].id);
                                                                                    Boolean checkAnswerGet = answerUserGet != null && answerUserGet.rightAnswer != null ? answerUserGet.answer.content == answerUserGet.rightAnswer.content : false;
                                                                                    for (int a = 0; a < answers.Count(); a++)
                                                                                    {
                                                                                        Game answer = answers[a];
                                                                                        if (answer.typeOf != UtilsController.Constant.ANSWER_RIGHT)
                                                                                        {
                                                                                            <button type="button"
                                                                                                    class="QuizAnswer-root-uv88q answer-next
                                                                                                    @(answer.contentType == UtilsController.GetContentType.PICTURE_FILE ? "picture-type" : "")
                                                                                                    @(finished == "true" && answerUserGet.answer.id == answer.id ? checkAnswerGet ? "right-answer" : "wrong-answer": "" )
                                                                                                    @(finished == "true" && answerUserGet.rightAnswer.content == answer.content ? "right-answer" : "" )

                                                                                                    " value="@answer.id" typeof="@answer.typeOf">
                                                                                                <div class="QuizAnswer-text-xkC2H">
                                                                                                    @{
                                                                                                        if (answer.contentType == UtilsController.GetContentType.TEXT_TYPE)
                                                                                                        {
                                                                                                            @answer.content
                                                                                                        }
                                                                                                        else if (answer.contentType == UtilsController.GetContentType.PICTURE_FILE)
                                                                                                        {
                                                                                                            //QuizQuestionMediaSingleImage - image - 3uGu9
                                                                                                            <img class=""
                                                                                                                 alt=""
                                                                                                                 src="@(answer.content)"
                                                                                                                 width="780">
                                                                                                        }
                                                                                                        else if (answer.contentType == UtilsController.GetContentType.VIDEO_FILE || question.contentType == UtilsController.GetContentType.VIDEO_LINK)
                                                                                                        {
                                                                                                            <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                                                                                                   src="@(answer.content)"
                                                                                                                   loop="" autoplay="">
                                                                                                            </video>
                                                                                                        }
                                                                                                        else if (answer.contentType == UtilsController.GetContentType.AUDIO_FILE || question.contentType == UtilsController.GetContentType.AUDIO_LINK)
                                                                                                        {
                                                                                                            <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                                                                                                   src="@(answer.content)"
                                                                                                                   loop="" autoplay="">
                                                                                                            </video>
                                                                                                        }
                                                                                                    }
                                                                                                </div>
                                                                                            </button>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </div>
                                                                            <script>
                                                                                    $(".answer-next").on("click", function () {
                                                                                        var answer = $(this).attr("value");
                                                                                        var typeOf = $(this).attr("typeof");
                                                                                        if (typeOf == @UtilsController.Constant.ANSWER_POPUP || @int.Parse(Model.questionNow) + 1 >= @Model.questions.games.Count()) {
                                                                                            $.ajax({
                                                                                                url: urlConfig("/Game"),
                                                                                                type: "POST",
                                                                                                data: {
                                                                                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                                                                                    gameId: @Model.game.id,
                                                                                                    answerId: answer,
                                                                                                    questionId: @Model.question.id,
                                                                                                    questionNow: @(int.Parse(Model.questionNow)+1),
                                                                                                },
                                                                                                success: function (data) {
                                                                                                    console.log(data);
                                                                                                    $('#gameModalContent').html(data);
                                                                                                    $('#gameModal').modal({ "backdrop": "static", keyboard: true });
                                                                                                    $('#gameModal').modal('show');
                                                                                                }
                                                                                            });
                                                                                        } else {
                                                                                            $(".answerId").val(answer);
                                                                                            $(".questionId").val("@Model.question.id");
                                                                                            $(".questionNow").val("@(int.Parse(Model.questionNow)+1)");
                                                                                            $("#game-form").submit();
                                                                                        }
                                                                                    })
                                                                            </script>
                                                                        </section>
                                                                    </div>
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div>
                                                                <h3 class="name-game">@Model.game.name</h3>
                                                                <div>
                                                                    <div class="QuizResult-root-S5m6U QuizResult-animationComplete-117FV">
                                                                        <div class="QuizResult-wrap-1HUV7">
                                                                            <div class="QuizResult-animateIn-1au_Y">
                                                                                <div class="QuizResult-imageWrap-3S5e2">
                                                                                    <img class="QuizResult-image-3KQrH"
                                                                                         src="@Model.game.icon"
                                                                                         alt="Princess Jasmine">
                                                                                    <div class="QuizResult-attributionContainer-1Fan-">
                                                                                        <div class="Attribution-root-3Fbi6 Attribution-light-213sN">
                                                                                            <div class="Attribution-attribution-1DCl5">
                                                                                                @Model.result.introduction
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <h3 class="QuizResult-title-1lATT name-game">
                                                                                    @Model.result.name
                                                                                </h3>
                                                                                <div class="QuizResult-description-ndVuw description-game">
                                                                                    <p>@Model.result.description</p>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="Quiz-restartWrap-2-GqJ">
                                                                    <button class="Button-largeButton-3Cey_ retake-quiz" type="button">
                                                                        <span class="utils-fixBaseline-MRdHf">@Lang.retake</span>
                                                                        <img class="Button-icon-2cTsv"
                                                                             src="/images/icon--quiz-retake.43c86d3957dd3920faa551949eb8224a.svg"
                                                                             alt="">
                                                                    </button>
                                                                </div>
                                                                <script>
                                                                    $(".retake-quiz").on("click", function () {
                                                                        $(".questionNow").val("0");
                                                                        $("#game-form").submit();
                                                                    })
                                                                </script>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="Grid-colSm12-2SCob Grid-col-2W7mE Grid-colLg4-2gUpB Grid-col-2W7mE PostLayout-playlistWrap-2hkeT">
                                <div class="PostLayout-inner-4q1CV">
                                    <h3><span class="utils-fixBaseline-MRdHf">More Stuff</span></h3>
                                    <div class="PostButtons-buttonWrapOuter-1Q8rm">
                                        <div class="PostButtons-buttonWrapInner-ZV4LT">
                                            @{
                                                for (int g = 0; g < (Model.games.games.Count() > 10 ? 10 : Model.games.games.Count()); g++)
                                                {
                                                    Game game = Model.games.games[g];
                                                    <a class="PostButtons-link-13wpb"
                                                       href="#"
                                                       id="/Game?gameId=@game.id"
                                                       onclick="checkForRedirect(this);">
                                                        <button class="PostButtons-postButton-3li_z"
                                                                type="button">
                                                            <div class="PostButtons-buttonInner-36BLE">
                                                                <div class="PostButtons-postButtonImageWrap-2JJvk"
                                                                     style="background-color: rgb(205, 18, 56);">

                                                                    <img class="PostButtons-postButtonImage-2MF74" alt=""
                                                                         src="@game.icon"
                                                                         width="195"><span class="FormatIcon-icon-UGfMR PostButtons-icon-36vOS">
                                                                        <svg aria-hidden="true" class="FormatIcon-image-3oqAv"
                                                                             xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                                                                             viewBox="0 0 60 60">
                                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                                  d="M25.7 33.8c0-.7 0-1.4.2-2a5.2 5.2 0 0 1 2-2.9 10 10 0 0 1 1.7-1l7.3-3.5v-5.7H23.4v5h-5.7v-5a5.3 5.3 0 0 1 1.7-3.9 6 6 0 0 1 4-1.6h13.5c.8 0 1.5.1 2.2.4a6 6 0 0 1 1.9 1.2 5.4 5.4 0 0 1 1.6 4v4.7c0 .7 0 1.4-.2 2l-.7 1.6a5 5 0 0 1-1.2 1.3l-1.8 1-7.4 3.4v4.7h-5.6v-3.7zm-.4 7.9H32v6.6h-6.8v-6.6z">
                                                                            </path>
                                                                        </svg>
                                                                    </span>
                                                                </div>
                                                                <p class="PostButtons-postButtonText-RMxf0">@game.name</p>
                                                            </div>
                                                        </button>
                                                    </a>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Grid-container-3utXw">
                    <div class="Grid-row-2D_Ha">
                        <div class="Grid-colSm12-2SCob Grid-col-2W7mE">
                            <div class="BorderWrap-root-3PNCc ShelfTitleBar-wrap-29h90 ShelfTitleBar-wrap-29h90">
                                <h2 class="ShelfTitleBar-title-3pXS5">
                                    <span class="utils-fixBaseline-MRdHf">@Lang.moreStuff</span>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Grid-container-3utXw">
                    <div class="Grid-row-2D_Ha">
                        @{
                            for (int k = 0; k < Model.moreGames.games.Count(); k++)
                            {
                                Game game = Model.moreGames.games[k];
                                <div class="Grid-colSm6-3XhWL Grid-col-2W7mE Grid-colMd4-2_ssN Grid-col-2W7mE Grid-colLg3-1zOuG Grid-col-2W7mE HubPostGrid-col-VIsxg">
                                    <a class="PostTile-root-1Tkuk"
                                       href="#"
                                       id="/Game?gameId=@game.id"
                                       onclick="checkForRedirect(this);">
                                        <div class="PostTile-imageContainer-1gqgX">
                                            <img class="PostTile-image-BiNtj" alt=""
                                                 src="@game.icon"
                                                 width="300"><span class="FormatIcon-icon-UGfMR PostTile-icon-uu69T">
                                                <svg aria-hidden="true" class="FormatIcon-image-3oqAv" xmlns="http://www.w3.org/2000/svg"
                                                     width="60" height="60" viewBox="0 0 60 60">
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                          d="M25.7 33.8c0-.7 0-1.4.2-2a5.2 5.2 0 0 1 2-2.9 10 10 0 0 1 1.7-1l7.3-3.5v-5.7H23.4v5h-5.7v-5a5.3 5.3 0 0 1 1.7-3.9 6 6 0 0 1 4-1.6h13.5c.8 0 1.5.1 2.2.4a6 6 0 0 1 1.9 1.2 5.4 5.4 0 0 1 1.6 4v4.7c0 .7 0 1.4-.2 2l-.7 1.6a5 5 0 0 1-1.2 1.3l-1.8 1-7.4 3.4v4.7h-5.6v-3.7zm-.4 7.9H32v6.6h-6.8v-6.6z">
                                                    </path>
                                                </svg>
                                            </span>
                                        </div>
                                        <div class="PostTile-footer-2Ikw0">
                                            <span class="utils-fixBaseline-MRdHf">
                                                <span class="PostTile-title-mdmgM">@game.name</span>
                                            </span>
                                        </div>
                                    </a>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    }

}

