﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FunQuizWeb.Models;
@using FunQuizWeb.Class;
@using FunQuizWeb.Language;

@model QuizzesModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {
        Game categoryNow = Session["category-now"] as Game;
        int countGame = Model.games.games.Count();
        AccountUser profile = Session["profile"] as AccountUser;
        List<String> services = Session["packetReg"] as List<String>;

        <a class="HeroBanner-root-1IEbQ HeroBanner-responsive-2ldzK"
           href="#"
           style="background-image: url(&quot;https://images.beano.com/store/e8c75f1206ccbeb27cf94e519eb98cdb119cbd568feeecef0e5f54421cd1?auto=compress&amp;w=1440&quot;);">
            <img src="~/Content/assets/images/banner.png"
                 alt="    " style="max-height:268px;">
        </a>
        <div class="HubHeader-root-1lcEV">
            <div class="Grid-container-3utXw">
                <div class="HubHeader-textWrap-2aRn2">
                    <h1 class="HubHeader-title-3i6hM">@Lang.Quizes</h1>
                    <p class="HubHeader-subtitle-3PWnJ">
                        @categoryNow.description
                    </p>
                </div>
            </div>
        </div>

        <div class="Spotlight-root-28zaX">
            <div class="Grid-container-3utXw">
                <div class="Grid-row-2D_Ha Spotlight-containingRow-3iRiF">
                    <div class="Grid-colSm12-2SCob Grid-col-2W7mE Grid-colMd5-8GboY Grid-col-2W7mE Spotlight-imageCol-ddiSJ">
                        <a class="Spotlight-imageLink-VKjLe" href="/posts/subscribe-to-beano">
                            <div class="Spotlight-imageContainer-1za7C">
                                <img class="Spotlight-image-27z50" alt=""
                                     src="~/Content/assets/images/FunQuiz.jpeg"
                                     width="435">
                            </div>
                        </a>
                    </div>
                    <div class="Grid-colSm12-2SCob Grid-col-2W7mE Grid-colMd7-gGJFK Grid-col-2W7mE Spotlight-textCol-3j0q7">
                        <div class="Spotlight-text-2xcpN Spotlight-backgrounds-2R66F">
                            <h2 class="Spotlight-title-1CGG4">@Lang.subscriberEquiz</h2>
                            <p class="Spotlight-subtitle-sT4hF">
                                @Lang.description1
                            </p>
                            @{
                                if (profile == null)
                                {
                                    <a class="Spotlight-cta-2JuEJ animate__animated animate__bounce animate__pulse"
                                       href="/Account/Register"
                                       style="animation-iteration-count: 100000000000000;">
                                        @Lang.register
                                    </a>
                                }
                                else
                                {
                                    if (services.Count == 0)
                                    {
                                        <a class="Spotlight-cta-2JuEJ animate__animated animate__bounce animate__pulse"
                                           href="/Account/Register"
                                           style="animation-iteration-count: 100000000000000; margin:0 0 10px;">
                                            @Lang.register
                                        </a>
                                    }
                                    <a class="Spotlight-cta-2JuEJ animate__animated animate__bounce animate__pulse invite-btn"
                                       style="animation-iteration-count: 100000000000000; margin:0 0 10px;">
                                        @Lang.invite
                                    </a>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        for (int t = 0; t < Model.types.games.Count(); t++)
        {
            Game type = Model.types.games[t];
            // get all game related to this type
            List<Game> games = Model.games.games.FindAll(x => x.parentId == type.id);
            <div class="Shelf-root-2j56a">
                <div class="">
                    <div class="Shelf-titleWrap-706DQ Shelf-wrap-FTrCN">
                        <div class="BorderWrap-root-3PNCc ShelfTitleBar-wrap-29h90 ShelfTitleBar-wrap-29h90">
                            <h2 class="ShelfTitleBar-title-3pXS5">
                                <span class="utils-fixBaseline-MRdHf name-header">@type.name</span>
                            </h2>
                        </div>
                    </div>

                    <div class="Shelf-carouselWrap-22Jes Shelf-wrap-FTrCN">

                        <div class="Carousel-root-2TJcs">
                            <button class="Carousel-prevButton-2-bgw Carousel-button-20q-s horizon-prev horizon-prev-@type.id"
                                    aria-label="Previous" type="button" style="width:100px;height:100px;">
                                <img src="~/Content/assets/images/icons8-chevron-right-100.png" />
                            </button>

                            <div class="Carousel-track-3zJit Carousel-mounted-3jx_q center large-list-games content" id="content-@type.id">
                                @{
                                    for (int i = 0; i < games.Count(); i++)
                                    {
                                        Game game = games[i];
                                        <div id="box-code-ranking" class="Shelf-tileWrap-1T8aF internal">
                                            <a class="PostTile-root-1Tkuk"
                                               href="#"
                                               id="/Game?gameId=@game.id"
                                               onclick="checkForRedirect(this);">
                                                <div class="PostTile-imageContainer-1gqgX"
                                                     style="background-color: rgb(238, 221, 231);">
                                                    <img class="PostTile-image-BiNtj" alt=""
                                                         src="@game.icon"
                                                         width="255"><span class="FormatIcon-icon-UGfMR PostTile-icon-uu69T">
                                                        <svg aria-hidden="true" class="FormatIcon-image-3oqAv"
                                                             xmlns="http://www.w3.org/2000/svg" width="60"
                                                             height="60" viewBox="0 0 60 60">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                  d="M25.7 33.8c0-.7 0-1.4.2-2a5.2 5.2 0 0 1 2-2.9 10 10 0 0 1 1.7-1l7.3-3.5v-5.7H23.4v5h-5.7v-5a5.3 5.3 0 0 1 1.7-3.9 6 6 0 0 1 4-1.6h13.5c.8 0 1.5.1 2.2.4a6 6 0 0 1 1.9 1.2 5.4 5.4 0 0 1 1.6 4v4.7c0 .7 0 1.4-.2 2l-.7 1.6a5 5 0 0 1-1.2 1.3l-1.8 1-7.4 3.4v4.7h-5.6v-3.7zm-.4 7.9H32v6.6h-6.8v-6.6z">
                                                            </path>
                                                        </svg>
                                                    </span>
                                                </div>
                                                <span class="Badge-root-14CHs PostTile-sponsoredBadge-1PlnZ">@Lang.Sponsored</span>
                                                <div class="PostTile-footer-2Ikw0">
                                                    <span class="utils-fixBaseline-MRdHf">
                                                        <span class="PostTile-title-mdmgM">
                                                            @game.name
                                                        </span>
                                                    </span>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                }

                            </div>
                            <button class="Carousel-nextButton-10hqT Carousel-button-20q-s horizon-next horizon-next-@type.id"
                                    aria-label="Next" type="button" style="width:100px;height:100px;">
                                <img src="~/Content/assets/images/icons8-chevron-right-100.png" />
                            </button>
                            <script>
                                $('.horizon-prev-@type.id').click(function () {
                                    event.preventDefault();
                                    if (@countGame > 4) {
                                        var elem = document.getElementById("content-@type.id");
                                        var elmnt = document.getElementById("box-code-ranking");
                                        var offsets = document.getElementById('content-@type.id').getBoundingClientRect();
                                        var max = @countGame * ((elmnt.offsetWidth + 18));
                                        //console.log("max ", max);
                                        var pos = offsets.left;

                                        var next = pos + (elmnt.offsetWidth + 18) * 4;
                                        //console.log("next prev", next);
                                        //console.log("pos prev", pos);

                                        if (pos < 0) {
                                            var id = setInterval(frame, 1);
                                            function frame() {
                                                if (pos >= next || pos == 0 || (pos >= 0 && pos <= 5)) {
                                                    clearInterval(id);
                                                    if (pos >= 0 && pos <= 5)
                                                        elem.style.left = '0px';
                                                } else {
                                                    pos += 5;
                                                    elem.style.left = pos + 'px';
                                                }
                                            }
                                        } else {
                                            elem.style.left = '0px';
                                        }
                                    }
                                });

                                $('.horizon-next-@type.id').click(function () {
                                    event.preventDefault();
                                    if (@countGame > 4) {
                                        var elem = document.getElementById("content-@type.id");
                                        var elmnt = document.getElementById("box-code-ranking");
                                        var offsets = document.getElementById('content-@type.id').getBoundingClientRect();
                                        var max = @countGame * ((elmnt.offsetWidth + 18));
                                        //console.log("max ", max);

                                        var pos = offsets.left;

                                        var next = pos - ((elmnt.offsetWidth + 18) * 4);
                                        //console.log("next next", next);
                                        if (-next < max - (@countGame % 4) * (elmnt.offsetWidth + 18)) {
                                            var id = setInterval(frame, 1);
                                            function frame() {
                                                if (pos <= next || pos < -max) {
                                                    clearInterval(id);
                                                } else {
                                                    pos -= 5;
                                                    elem.style.left = pos + 'px';
                                                }
                                            }
                                        }
                                    }
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}




