﻿

@using FunQuizWeb.Language;
@using FunQuizWeb.Models;

@model PartialModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {

        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/modal.css" charset="utf-8" />

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
        </script>

        <div class="modal-content" style="margin:10px;">
            <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

            <div class="modal-content-feedback">
                @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                        <h1 style="text-align:center;margin:auto;">
                            <span class="desktop-view title-modal">@Lang.activeCode</span>
                        </h1>
                    </p>*@
                <div class="HubHeader-root-1lcEV">
                    <div class="Grid-container-3utXw">
                        <div class="HubHeader-textWrap-2aRn2">
                            <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.activeCode</h1>
                            @*<p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>*@
                        </div>
                    </div>
                </div>
                <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                <div class="modal-body">
                    <div>
                        <form autocomplete="on">
                            <div class="wrapper signin-wrapper">
                                <input id="active-code" class="input-form" type="password" placeholder="@Lang.enterOtp" name="psw-repeat" required>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer" style="border:none;">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn grey btn send-fault btn-accept-nav-modal button-disable" data-dismiss="modal">
                                    @Lang.accept
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                    @Lang.close
                                </button>
                            </div>
                        </div>
                    </div>
                    <script>
                        $("#active-code").on("input", function () {
                            var active = $("#active-code").val();
                            if (active.length == 0) {
                                $(".btn-accept-nav-modal").addClass("button-disable");
                            } else {
                                $(".btn-accept-nav-modal").removeClass("button-disable");
                            }
                        })

                        $(".btn-accept-nav-modal").on("click", function () {
                            var activecode = $("#active-code").val();

                            if (activecode != "") {
                                $.ajax({
                                    url: urlConfig("/Account/RegisterAction"),
                                    type: "POST",
                                    data: {
                                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                        activateCode: activecode,
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        $("#active-code-modal").modal("hide");

                                        if (data.error_code == "0") {
                                            //window.location.href = "@Model.href"
                                            $.ajax({
                                                url: urlConfig("/Partial/Response"),
                                                data: {
                                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                                    href:@Model.href,
                                                    response: data.error_content,
                                                },
                                                type: "POST"
                                            }).success(function (data) {
                                                $('#myModalContent').html(data);
                                                $('#myModal').modal({ "backdrop": "static", keyboard: true });
                                                $('#myModal').modal('show');
                                            });
                                        }
                                        else {
                                            $("#response-modal").modal("show");
                                            $("#response-modal-content").html(data.error_content);
                                        }
                                    }
                                });
                            }
                        })
                        $(".closeBtnModal").on("click", function () {
                            location.reload();
                        })
                    </script>
                </div>

            </div>
        </div>

    }
}

