﻿


@using FunQuizWeb.Language;
@using FunQuizWeb.Models;

@model PartialModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {

        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/modal.css" charset="utf-8" />

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
        </script>

        <div class="modal-content" style="margin:10px;">
            <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

            <div class="modal-content-feedback">
                @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                        <h1 style="text-align:center;margin:auto;">
                            <span class="desktop-view title-modal">@Lang.response</span>
                        </h1>
                    </p>*@

                <div class="HubHeader-root-1lcEV">
                    <div class="Grid-container-3utXw">
                        <div class="HubHeader-textWrap-2aRn2">
                            <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.buyMore</h1>
                            @*<p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>*@
                        </div>
                    </div>
                </div>

                <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                <div class="modal-body">
                    <div>
                        <div>
                            <p id="buy-code-content"></p>
                        </div>
                    </div>

                    <input type="hidden" name="captcha" id="captcha" value="" />
                    <form id="buy-code-captcha" action="?" method="POST">
                        <div id="buy_code_html_element"></div>
                        <br />
                    </form>

                    <div class="otp-buy-code hide">
                        <form autocomplete="on">
                            <div class="wrapper signin-wrapper">
                                <input id="buyCodeConfirmOtp" class="input-form Spotlight-title-1CGG4 input-style" type="number" style="font-size:20px;"
                                       placeholder="@Lang.enterOtp"
                                       name="psw-repeat" required>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer" style="border:none;">
                        <div class="row">
                            <div class="col-md-6 buy-more">
                                <button type="button" disabled class="btn grey btn send-fault btn-accept-nav-modal buyMoreBtn">
                                    @Lang.buyMore
                                </button>
                            </div>
                            <div class="col-md-6 buy-more-confirm hide">
                                <button type="button" class="btn grey btn send-fault btn-accept-nav-modal buyMoreConfirmBtn" data-dismiss="modal">
                                    @Lang.confirm
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                    @Lang.close
                                </button>
                            </div>
                        </div>
                    </div>
                    <script>
                        var onloadCallback = function () {
                            var captBuyCode = grecaptcha.render('buy_code_html_element', {
                                'sitekey': '6LfLP8QZAAAAAOt97lEBrfUNMv6SJa1igLfKitXF',
                                'callback': function (response) {
                                    document.getElementById("captcha").value = grecaptcha.getResponse(captBuyCode);
                                    $('.buyMoreBtn').prop('disabled', false);
                                },
                                'expired-callback': function (response) {
                                    document.getElementById("captcha").value = "";
                                    $('.buyMoreBtn').prop('disabled', true);

                                },
                            });
                        }
                        $(".buyMoreBtn").on("click", function () {
                            var captcha = $("#captcha").val();
                            $.ajax({
                                url: urlConfig("/Account/BuyCodeAction"),
                                type: "POST",
                                data: {
                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                    captcha: captcha
                                },
                                success: function (data) {
                                    console.log(data);
                                    if (data.error_code == "100") {
                                        console.log("code 100");
                                        $("#buy-code-modal").modal("show");
                                        $("#buy_code_html_element").addClass("hide");
                                        $(".buy-more").addClass("hide");
                                        $(".buy-more-confirm").removeClass("hide");
                                        $(".otp-buy-code").removeClass("hide");
                                    } else {
                                        $("#buy-code-modal").modal("hide");
                                        $("#response-modal").modal("show");
                                        $("#response-modal-content").html(data.error_content);
                                    }

                                }
                            });
                        })
                        $(".buyMoreConfirmBtn").on("click", function () {
                            var otp = $("#buyCodeConfirmOtp").val();
                            $.ajax({
                                url: urlConfig("/Account/BuyCodeConfirmAction"),
                                type: "POST",
                                data: {
                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                    otp: otp
                                },
                                success: function (data) {
                                    console.log(data);
                                    $("#buy-code-modal").modal("hide");
                                    $("#response-modal").modal("show");
                                    $("#response-modal-content").html(data.error_content);

                                }
                            });
                        })

                        $(".closeBtnModal").on("click", function () {
                            location.reload();
                        })
                    </script>
                </div>
            </div>
        </div>
    }
}