﻿
@using FunQuizWeb.Language;
@using FunQuizWeb.Models;

@model PartialModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {

        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/modal.css" charset="utf-8" />

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
        </script>

        <div class="modal-content" style="margin:10px;">
            <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

            <div class="modal-content-feedback">

                @*<p class="fault-title text-center title-modal-h1" style="margin-top:20px;">
                        @Lang.changeYourPassword
                    </p>*@
                @*<div class="HubHeader-root-1lcEV">
                        <div class="Grid-container-3utXw">
                            <div class="HubHeader-textWrap-2aRn2">
                                <h1 class="HubHeader-title-3i6hM">@Lang.changeYourPassword</h1>
                                <p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>
                            </div>
                        </div>
                    </div>*@
                <div class="HubHeader-root-1lcEV">
                    <div class="Grid-container-3utXw">
                        <div class="HubHeader-textWrap-2aRn2">
                            <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.changeYourPassword</h1>
                            @*<p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>*@
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form autocomplete="on">
                        <div class="wrapper signin-wrapper">
                            @*<span class="">Please enter your phone number</span>*@
                            <div class="input-field-container">
                                <div class="input-field">
                                    <input type="password" id="oldPass" aria-label="@Lang.oldPass" name="phone" aria-required="true" maxlength="99" placeholder="@Lang.oldPass" class="with-icon input-style-modal" autocomplete="on" value="">
                                    <label class="with-icon"></label>
                                </div>
                            </div>

                            <div class="input-field-container">
                                <div class="input-field">
                                    <input type="password" id="newPass" aria-label="@Lang.newPass" name="phone" aria-required="true" maxlength="99" placeholder="@Lang.newPass" class="with-icon input-style-modal" autocomplete="on" value="">
                                    <label class="with-icon"></label>
                                </div>
                            </div>

                            <div class="input-field-container">
                                <div class="input-field">
                                    <input type="password" id="confirmPass" aria-label="@Lang.confirm" name="phone" aria-required="true" maxlength="99" placeholder="@Lang.confirm" class="with-icon input-style-modal" autocomplete="on" value="">
                                    <label class="with-icon"></label>
                                </div>
                            </div>

                            <input type="hidden" name="captcha" id="captcha" value="" />
                            <form id="change-pass-captcha" action="?" method="POST">
                                <div id="ChangePass_html"></div>
                                <br />
                            </form>

                            <span id="error" style="color:#ff0000; font-size:20px;"></span>

                        </div>
                    </form>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button id="acceptChangePassBtn" disabled="true" type="button" class="btn grey btn-outline-secondary btn btn-success send-fault btn-accept-nav-modal">
                                    @Lang.accept
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn grey btn-outline-secondary btn btn-dark send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                    @Lang.close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(".closeBtnModal").on("click", function () {
                        location.reload();
                    })

                    var onloadCallback = function () {
                        var capt1 = grecaptcha.render('ChangePass_html', {
                            'sitekey': '6LfLP8QZAAAAAOt97lEBrfUNMv6SJa1igLfKitXF',
                            'callback': function (response) {
                                document.getElementById("captcha").value = grecaptcha.getResponse(capt1);
                                var oldPass = $("#oldPass").val();
                                var newPass = $("#newPass").val();
                                var confirm = $("#confirmPass").val();

                                if (oldPass != "" && newPass != "" && confirm != "")
                                    $('#acceptChangePassBtn').prop('disabled', false);
                            },
                            'expired-callback': function (response) {
                                $("#password-box").hide();
                                document.getElementById("captcha").value = "";
                                $('#acceptChangePassBtn').prop('disabled', true);
                            },
                        });
                    }
                    $("#oldPass").on("input", function () {
                        var oldPass = $("#oldPass").val();
                        var newPass = $("#newPass").val();
                        var confirm = $("#confirmPass").val();
                        var captcha = $("#captcha").val();
                        if (captcha == "1" && oldPass != "" && newPass != "" && confirm != "") {
                            $('#acceptChangePassBtn').prop('disabled', false);
                        } else {
                            $('#acceptChangePassBtn').prop('disabled', true);
                        }
                    })
                    $("#newPass").on("input", function () {
                        var captcha = $("#captcha").val();
                        var oldPass = $("#oldPass").val();
                        var newPass = $("#newPass").val();
                        var confirm = $("#confirmPass").val();
                        if (captcha == "1" && oldPass != "" && newPass != "" && confirm != "") {
                            $('#acceptChangePassBtn').prop('disabled', false);
                        } else {
                            $('#acceptChangePassBtn').prop('disabled', true);
                        }
                    })
                    $("#confirmPass").on("input", function () {
                        var oldPass = $("#oldPass").val();
                        var newPass = $("#newPass").val();
                        var confirm = $("#confirmPass").val();
                        var captcha = $("#captcha").val();

                        if (captcha == "1" && oldPass != "" && newPass != "" && confirm != "") {
                            $('#acceptChangePassBtn').prop('disabled', false);
                        } else {
                            $('#acceptChangePassBtn').prop('disabled', true);
                        }
                    })
                    $("#acceptChangePassBtn").on("click", function () {
                        var oldPass = $("#oldPass").val();
                        var newPass = $("#newPass").val();
                        var confirm = $("#confirmPass").val();
                        var captcha = $("#captcha").val();

                        if (oldPass != "" && newPass != "" && confirm != "" && newPass == confirm) {
                            $('#watingModal').modal('hide');
                            $('#watingModal').modal('show');
                            $.ajax({
                                url: urlConfig("/Account/ChangePassword"),
                                type: "POST",
                                data: {
                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                    captcha: captcha,
                                    oldPassword: oldPass,
                                    newPassword: newPass,
                                }
                            }).success(function (data) {
                                //$.ajax({
                                //    url: urlConfig("/Partial/Response"),
                                //    data: {
                                //        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                //        response: data.error_content
                                //    },
                                //    type: "POST"
                                //}).success(function (data) {
                                //    $('#watingModal').modal('hide');
                                //    $('#myModalContent').html(data);
                                //    $('#myModal').modal({ "backdrop": "static", keyboard: true });
                                //    $('#myModal').modal('show');
                                //});
                                console.log(data);
                                $('#myModal').modal('hide');
                                $('#response-modal-content').html(data.error_content);
                                $('#response-modal').modal({ "backdrop": "static", keyboard: true });
                                $('#response-modal').modal('show');
                            });
                        }
                        else {
                            $('#error').html("Please check your password");
                            $('#acceptBtn').prop('disabled', true);
                        }
                    })

                </script>
            </div>
        </div>
    }
}

