﻿
@using FunQuizWeb.Language;
@using FunQuizWeb.Models;
@using FunQuizWeb.Controllers;


@model PartialModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {
        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/modal.css" charset="utf-8" />

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
        </script>

        <div class="modal-content" style="margin:10px;">
            <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

            <div class="modal-content-feedback">
                @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                        <h1 style="text-align:center;margin:auto;">
                            <span class="desktop-view title-modal">Exchange coins</span>
                        </h1>
                    </p>*@
                @*<p class="fault-title text-center title-modal-h1" style="margin-top:20px;">
                        Exchange your points
                    </p>*@
                <div class="HubHeader-root-1lcEV">
                    <div class="Grid-container-3utXw">
                        <div class="HubHeader-textWrap-2aRn2" style=" max-width: 100%;">
                            <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.exchangeYourPoints</h1>
                            @*<p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>*@
                        </div>
                    </div>
                </div>
                <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                <style>
                    .title-modal-level-2 {
                        font-size: 20px;
                        color: black;
                        font-weight: 300;
                    }

                    .box-column {
                        margin: auto;
                        text-align: center;
                    }

                    .column-3 {
                        display: inline-block;
                        width: 30%;
                        margin: 10px 0;
                    }

                    .column-exchange {
                        display: inline-block;
                        width: 30%;
                    }

                    .box-exchange {
                        border: 1px solid #153ab0;
                        /*background: #153ab0;*/
                        border-radius: 10px;
                        margin: 5px;
                    }

                        .box-exchange:hover {
                            background: #6595ca;
                            color: #ffffff;
                        }

                    /*                    .exchange-info {
                        color: #ffffff;
                    }*/

                    .choose-package {
                        background: #6595ca;
                    }

                </style>
                <div class="modal-body">
                    <div class="box-column">

                        <div class="column-3">
                            <div>
                                <p class="fault-title text-center title-modal-level-2">@Lang.Points1</p>
                            </div>
                        </div>
                        <div class="column-3">
                            <img src="~/Content/assets/images/icons8-data-transfer-100.png" style=" max-height: 50px;" />
                        </div>

                        <div class="column-3">
                            <div>
                                <p class="fault-title text-center title-modal-level-2">@Lang.Money</p>
                            </div>
                        </div>

                        <div class="box-exchange" value="@UtilsController.Constant.ADD2">
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 10px;">
                                    10 @Lang.points
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 10px;">
                                    @Lang.to
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 10px;">
                                    2 cents
                                </p>
                            </div>
                        </div>
                        <div class="box-exchange" value="@UtilsController.Constant.ADD4">
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 10px;">
                                    20 @Lang.points
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 10px;">
                                    @Lang.to
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 10px;">
                                    4 cents
                                </p>
                            </div>
                        </div>
                        <div class="box-exchange" value="@UtilsController.Constant.ADD10">
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    50 @Lang.points
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    @Lang.to
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    10 cents
                                </p>
                            </div>
                        </div>
                        <div class="box-exchange" value="@UtilsController.Constant.ADD50">
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    250 @Lang.points
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    @Lang.to
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    50 cents
                                </p>
                            </div>
                        </div>
                        <div class="box-exchange" value="@UtilsController.Constant.ADD1000">
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    5000 @Lang.points
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    @Lang.to
                                </p>
                            </div>
                            <div class="column-exchange">
                                <p class="fault-title text-center title-modal-level-2 exchange-info" style="        margin-top: 5px;">
                                    1000 cents
                                </p>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="package" id="package" value="" />
                    <div style=" text-align: center;">
                        <p class="fault-title text-center title-modal-level-2" style="display:inline-block;">@Lang.Points1: </p>
                        <p class="fault-title text-center title-modal-level-2" style="display:inline-block;">@Model.profile.point </p>
                        <p class="fault-title text-center title-modal-level-2" style="display:inline-block;">@Lang.points</p>
                    </div>

                    <input type="hidden" name="captcha" id="captcha" value="" />
                    <form id="exchange-captcha" action="?" method="POST">
                        <div id="exchange_html_element" style="display:none;"></div>
                        <br />
                    </form>
                    @*<div>
                            <form autocomplete="on">
                                <div class="wrapper signin-wrapper">
                                    <input id="exchange-points" class="input-form" type="number" placeholder="Enter your points" name="psw-repeat" required>
                                </div>
                            </form>
                        </div>*@

                    <div class="modal-footer" style="border:none;">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn grey btn send-fault btn-accept-nav-modal button-disable exchangeBtn" data-dismiss="modal">
                                    @Lang.exchange
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                    @Lang.close
                                </button>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(".box-exchange").on("click", function () {
                            $(".box-exchange").removeClass("choose-package");
                            $(this).addClass("choose-package");

                            var package = $(this).attr("value");
                            document.getElementById("package").value = package;
                            console.log("package: ", package);
                            $("#exchange_html_element").show();
                        })

                        var onloadCallback = function () {
                            var captExchange = grecaptcha.render('exchange_html_element', {
                                'sitekey': '6LfLP8QZAAAAAOt97lEBrfUNMv6SJa1igLfKitXF',
                                'callback': function (response) {
                                    document.getElementById("captcha").value = grecaptcha.getResponse(captExchange);
                                    $(".btn-accept-nav-modal").removeClass("button-disable");
                                },
                                'expired-callback': function (response) {
                                    document.getElementById("captcha").value = "";
                                    $(".btn-accept-nav-modal").addClass("button-disable");
                                },
                            });
                        }

                        $(".exchangeBtn").on("click", function () {
                            var package = $("#package").val();
                            var captcha = $("#captcha").val();

                            console.log("package: ", package);
                            console.log("captcha: ", captcha);

                            if (package != "" && captcha != "") {
                                $.ajax({
                                    url: urlConfig("/Account/ExchangeAction"),
                                    type: "POST",
                                    data: {
                                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                        captcha: captcha,
                                        package: package,
                                    },
                                    success: function (data) {
                                        console.log(data);
                                        $("#myModal").modal("hide");
                                        $("#response-modal").modal("show");
                                        $("#response-modal-content").html(data.error_content);
                                    }
                                });
                            }
                        })
                        $(".closeBtnModal").on("click", function () {
                            location.reload();
                        })
                    </script>
                </div>
            </div>
        </div>
    }
}


