﻿

@using FunQuizWeb.Language;
@using FunQuizWeb.Models;

@model PartialModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {

        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/modal.css" charset="utf-8" />

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
        </script>


        <style>
            .input-style {
                font-size: 18px;
            }
        </style>

        <div class="modal-content" style="margin:10px;">
            <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

            <div class="modal-content-feedback">
                @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@

                <div class="HubHeader-root-1lcEV">
                    <div class="Grid-container-3utXw">
                        <div class="HubHeader-textWrap-2aRn2" style="max-width:100%">
                            <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.invite</h1>
                            @*<p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>*@
                        </div>
                    </div>
                </div>

                @*<h2 class="Spotlight-title-1CGG4 text-style-level-1">@Lang.invite</h2>*@

                @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                        <h1 style="text-align:center;margin:auto;">
                            <span class="desktop-view title-modal">Invite your friend</span>
                        </h1>
                    </p>*@
                <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                <div class="modal-body">
                    <div>
                        <form autocomplete="on">
                            <div class="wrapper signin-wrapper">
                                <input id="friendNumber" class="input-form Spotlight-title-1CGG4 input-style" type="number"
                                       placeholder="@Lang.enterFriendNumber"
                                       name="psw-repeat" required>
                            </div>
                        </form>
                    </div>
                    <input type="hidden" name="captcha" id="captcha" value="" />
                    <form id="invite-captcha" action="?" method="POST">
                        <div id="invite_html_element"></div>
                        <br />
                    </form>
                    <div class="modal-footer" style="border:none;">
                        <div class="row">
                            <div class="col-md-6">
                                <button disabled type="button" class="btn grey btn-danger send-fault btn-accept-nav-modal inviteBtn" data-dismiss="modal">
                                    @Lang.invite
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn grey send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                    @Lang.close
                                </button>
                            </div>
                        </div>
                    </div>
                    <script>
                        $("#friendNumber").on("input", function () {
                            var phonenumber = $("#friendNumber").val();
                            var captcha = $("#captcha").val();

                            if (phonenumber != "" && captcha != "")
                                $('.inviteBtn').prop('disabled', false);
                            else {
                                $('.inviteBtn').prop('disabled', true);
                            }
                        })
                        var onloadCallback = function () {
                            var captInvite = grecaptcha.render('invite_html_element', {
                                'sitekey': '6LfLP8QZAAAAAOt97lEBrfUNMv6SJa1igLfKitXF',
                                'callback': function (response) {
                                    //$("#password-box").show();
                                    document.getElementById("captcha").value = grecaptcha.getResponse(captInvite);
                                    var phonenumber = $("#friendNumber").val();
                                    if (phonenumber != "" && phonenumber != null) {
                                        $('.inviteBtn').prop('disabled', false);
                                    } else {
                                        $('.inviteBtn').prop('disabled', true);
                                    }
                                },
                                'expired-callback': function (response) {
                                    document.getElementById("captcha").value = "";
                                    $('.inviteBtn').prop('disabled', true);

                                },
                            });
                        }
                        $(".inviteBtn").on("click", function () {
                            var phonenumber = $("#friendNumber").val();
                            var captcha = $("#captcha").val();
 
                            $.ajax({
                                url: urlConfig("/Account/InviteAction"),
                                type: "POST",
                                data: {
                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                    captcha: captcha,
                                    phonenumber: phonenumber,
                                },
                                success: function (data) {
                                    console.log(data);
                                    $("#response-modal").modal("show");
                                    $("#response-modal-content").html(data.error_content);
                                }
                            });
                        })

                        $(".closeBtnModal").on("click", function () {
                            location.reload();
                        })
                    </script>
                </div>
            </div>
        </div>
    }
}