﻿
@using FunQuizWeb.Language;
@using FunQuizWeb.Models;

@model PartialModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {

        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/modal.css" charset="utf-8" />

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
        </script>

        <div class="modal-content" style="margin:10px;">
            <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

            <div class="modal-content-feedback">

                @*<p class="fault-title text-center title-modal-h1" style="margin-top:20px;">
                        @Lang.getPass
                    </p>*@
                <div class="HubHeader-root-1lcEV">
                    <div class="Grid-container-3utXw">
                        <div class="HubHeader-textWrap-2aRn2">
                            <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.getPass</h1>
                            @*<p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>*@
                        </div>
                    </div>
                </div>
                @*<div class="HubHeader-root-1lcEV">
                        <div class="Grid-container-3utXw">
                            <div class="HubHeader-textWrap-2aRn2">
                                <h1 class="HubHeader-title-3i6hM">@categoryNow.name</h1>
                                <p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>
                            </div>
                        </div>
                    </div>*@
                <div class="modal-body">
                    <div>
                        <form autocomplete="on">
                            <div class="wrapper signin-wrapper">
                                <div class="input-field-container">
                                    <div class="input-field">
                                        <input type="text" id="phoneGetPass" aria-label="@Lang.enterYourPhone" name="phone" aria-required="true" maxlength="99" placeholder="@Lang.enterYourPhone" class="with-icon input-style-modal" autocomplete="on" value="">
                                        <label class="with-icon"></label>
                                    </div>
                                    <div id="emailErrorMessage" class="error-label"></div>
                                </div>

                                <input type="hidden" name="captcha" id="captcha" value="" />
                                <form id="Get-pass-captcha" action="?" method="POST">
                                    <div id="GetPass_html"></div>
                                    <br />
                                </form>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <button id="acceptForgotPassBtn" disabled="true" type="button" class="btn grey btn-outline-secondary btn btn-success send-fault btn-accept-nav-modal" data-dismiss="modal">
                                    @Lang.accept
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button id="closeBtn" type="button" class="btn grey btn-outline-secondary btn btn-dark send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                    @Lang.close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(".closeBtnModal").on("click", function () {
                        location.reload();
                    })
                    var onloadCallback = function () {
                        var capt1 = grecaptcha.render('GetPass_html', {
                            'sitekey': '6LfLP8QZAAAAAOt97lEBrfUNMv6SJa1igLfKitXF',
                            'callback': function (response) {
                                //$("#password-box").show();
                                document.getElementById("captcha").value = grecaptcha.getResponse(capt1);
                                var phone = $("#phoneGetPass").val();
                                if (phone != "")
                                    $('#acceptForgotPassBtn').prop('disabled', false);
                            },
                            'expired-callback': function (response) {
                                $("#password-box").hide();
                                document.getElementById("captcha").value = "";
                                $('#acceptForgotPassBtn').prop('disabled', true);

                            },
                        });
                    };

                    $("#phoneGetPass").on("input", function () {
                        var captcha = $("#captcha").val();
                        var phone = $("#phoneGetPass").val();
                        if (captcha == "1" && phone != "") {
                            $('#acceptForgotPassBtn').prop('disabled', false);
                        }
                    })

                    $("#acceptForgotPassBtn").on("click", function () {
                        var phone = $("#phoneGetPass").val();
                        var captcha = $("#captcha").val();

                        if (phone != "") {
                            $('#watingModal').modal('hide');
                            $('#watingModal').modal('show');
                            $.ajax({
                                url: urlConfig("/Account/ResetPassword"),
                                data: {
                                    __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                    captcha: captcha,
                                    phonenumber: phone,
                                },
                                type: "POST"
                            }).success(function (data) {
                                $('#response-modal-content').html(data.error_content);
                                $('#response-modal').modal({ "backdrop": "static", keyboard: true });
                                $('#response-modal').modal('show');
                            });
                        }
                        else {
                            $('#response-modal-content').html(data);
                            $('#response-modal').modal({ "backdrop": "static", keyboard: true });
                            $('#response-modal').modal('show');
                            $('#acceptBtn').prop('disabled', true);
                        }
                    })
                </script>
            </div>
        </div>
    }
}

