﻿

@using FunQuizWeb.Language;
@using FunQuizWeb.Models;

@model PartialModel

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {

        <link rel="stylesheet" type="text/css" href="~/Content/assets/css/modal.css" charset="utf-8" />

        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async async= async defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer defer= defer>
        </script>

        <style>
            .title-modal-level-2 {
                font-size: 20px;
                color: black;
                font-weight: 300;
            }
        </style>
        <div class="modal-content" style="margin:10px;">
            <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

            <div class="modal-content-feedback">
                @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
                @*<p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
                        <h1 style="text-align:center;margin:auto;">
                            <span class="desktop-view title-modal">@Lang.response</span>
                        </h1>
                    </p>*@

                <div class="HubHeader-root-1lcEV">
                    <div class="Grid-container-3utXw">
                        <div class="HubHeader-textWrap-2aRn2">
                            <h1 class="HubHeader-title-3i6hM  text-style-level-1">@Lang.response</h1>
                            @*<p class="HubHeader-subtitle-3PWnJ">
                                    @categoryNow.description
                                </p>*@
                        </div>
                    </div>
                </div>

                <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
                <div class="modal-body">
                    <div>
                        <div>
                            <p id="response-modal-content" class="title-modal-level-2">@Model.response</p>
                        </div>
                    </div>

                    <div class="modal-footer" style="border:none;">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                                    @Lang.close
                                </button>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(".closeBtnModal").on("click", function () {
                            window.location.href = "@Model.href"
                        })
                    </script>
                </div>


            </div>
        </div>
    }
}

