﻿/* Account ------------------ */

@media (max-width: 812px) {
    .account-settings-container {
        width: 90%;
    }
}

@media (min-width: 813px) {
    .account-settings-container {
        width: 70%;
    }
}

.accInfo-component {
    margin-top: 50px;
}

.section-h2 {
    color: #e5e5e5 !important;
    font-weight: 400 !important;
    font-size: 25px !important;
}

.plan-info {
    font-weight: initial;
    font-size: 14px;
    letter-spacing: 0.8px;
    color: #2d3069;
    width: 50%;
    border-radius: 4px;
    background-color: #ffe300;
    padding: 11px 11px;
    border: none;
    /*    text-transform: uppercase;*/
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 14px;
    outline: none;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    margin: auto;
    width: 100%;
}

.packet {
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1.6px 3.6px 0 rgba(0,0,0,.132), 0 0.3px 0.9px 0 rgba(0,0,0,.108);
    height: 308px;
    max-width: 350px;
    margin-top: 14px;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    margin: 20px auto;
    color: #161649;
}

    .packet .title {
        font-size: 30px;
        margin: 0 0 30px 0;
    }

    .packet .price {
        font-size: 20px;
    }

    .packet .line {
        height: 1px;
        width: 80%;
        background: #c6c7c9;
        margin: 20px 0 0 0;
    }

    .packet .description {
        text-align: center;
        /*margin: 20px 5px;*/
    }

    .packet button {
        position: absolute;
        bottom: 10px;
        width: 70%;
    }

h2 {
    font-size: 20px;
}

.text-info-style {
    font-size: 18px;
    margin: 20px 0;
}

.row-info-style {
    margin: 20px 0px;
}

.row-info {
    margin: 20px;
}

.input-text {
    width: 100%;
    height: 100%;
    border: 0px;
    outline: 0px;
    padding: 0px;
    background: transparent;
    font-weight: 400;
    font-size: 18px;
    color: var(--color-default-title);
    outline: none !important;
    overflow: visible;
}

.input-line {
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background: #c6c7c9;
    transition: all 0.3s ease;
    font-weight: 400;
}

.input-line-change {
    position: absolute;
    left: 0px;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #ff7f26;
    transition: all 0.3s ease;
    font-weight: 400;
}

.birthday-box {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 0px;
    font-size: 18px;
    color: black;
}

.changePass:hover {
    color: #ff7f26;
}

.save-change {
    font-weight: initial;
    font-size: 16px;
    letter-spacing: 0.8px;
    color: #2d3069;
    width: 50%;
    border-radius: 4px;
    background-color: #ffe300;
    padding: 11px 0;
    border: none;
    text-transform: uppercase;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 14px;
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
}

.accInfo-component {
    /*width: 70%*/
}

    .accInfo-component h2 {
        /*font-family: Montserrat Medium,Verdana,Arial,sans-serif;*/
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        border-bottom: 1px solid #c6c7c9;
        color: white;
        font-size: 20px;
        margin-bottom: 15px
    }

    .accInfo-component hr {
        border: 1px solid #e5e5e5
    }

.accInfo-component-list {
    display: flex;
    flex-direction: row
}

@media (max-width:408px) {
    .accInfo-component-list {
        flex-direction: column
    }
}

@media (max-width:768px) {
    .accInfo-component {
        width: 100%;
        margin-top: 4%
    }
}

@media (min-width:480px) and (max-width:768px) {
    .accInfo-component {
        width: 100%
    }
}

@media (orientation:landscape) and (min-width:768px) and (max-width:1024px) {
    .accInfo-component {
        width: 80%
    }
}

@media (min-width:408px) and (max-width:767px) {
    .contact-info-container {
        width: 50%
    }
}

.billing-info-title {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    /*font-family: Montserrat Medium,Verdana,Arial,sans-serif*/
}

.billing-info-section {
    font-size: 12px
}

.billing-info-container {
    width: 70%
}

@media (min-width:408px) and (max-width:480px) {
    .billing-info-container {
        width: 50%
    }
}

@media (max-width:408px) {
    .billing-info-container {
        width: 100%
    }
}

@media (orientation:landscape) {
    .billing-info-container {
        width: 70%
    }
}

.billing-info-card {
    display: flex;
    flex-direction: row
}

@media (max-width:408px) {
    .billing-info-container {
        padding-left: 0;
        margin-top: 5%
    }
}

.billing-info-edit {
    background: none;
    border: none;
    color: #369;
    cursor: pointer;
    font-size: 13px;
    font: inherit;
    margin-left: 4px;
    padding-left: 1px
}

    .billing-info-edit:focus {
        outline: 0
    }

    .billing-info-edit:focus-within {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
        outline-width: 5px
    }

.billing-spinner {
    position: relative;
    left: 12%
}

.account-setting-section {
    margin-bottom: 5%
}

.account-setting-spinner .spinner.right {
    margin-top: 25vh;
    margin-left: 48vw;
    margin-bottom: 25vh
}

@media (min-width:320px) and (max-width:1024px) {
    .account-setting-spinner .spinner.right {
        margin-top: 25vh;
        margin-left: 45vw;
        margin-bottom: 25vh
    }
}

@media (min-width:1024px) and (max-width:1440px) {
    .account-setting-spinner .spinner.right {
        margin: 25vh 25vw 25vh 35vw
    }
}

@media (min-width:1440px) {
    .account-setting-spinner .spinner.right {
        margin-top: 25vh;
        margin-bottom: 25vh;
        margin-left: 25vw
    }
}

main {
    display: block
}

.list-component-wrapper ul {
    padding: 0;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0
}

.list-component-wrapper li {
    list-style-type: none;
    font-size: 13px
}

    .list-component-wrapper li input {
        background: none;
        border: none;
        color: #369;
        cursor: pointer;
        font-size: 13px;
        padding: 0;
        /*font-family: Montserrat Medium,Verdana,Arial,sans-serif*/
    }

        .list-component-wrapper li input:focus {
            outline: 0
        }

        .list-component-wrapper li input:focus-within {
            outline-color: -webkit-focus-ring-color;
            outline-style: auto;
            outline-width: 5px
        }

.list-component-wrapper a {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer
}

.list-component-wrapper h2 {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /*font-family: Montserrat Medium,Verdana,Arial,sans-serif;*/
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    border-bottom: 1px solid #c6c7c9;
    color: #181512;
    font-size: 20px;
    margin-bottom: 10px
}

.success-message-container {
    margin-top: 20px;
    display: flex
}

.green-confirmation-tick {
    width: 20px;
    margin-right: 1vmin;
    object-fit: contain
}

.update-success-msg {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #73a500
}

.promos-component-wrapper ul {
    -webkit-margin-before: 0;
    margin-block-start: 0;
    -webkit-margin-after: 0;
    margin-block-end: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%
}

.promos-component-wrapper li {
    list-style-type: none;
    font-size: 13px;
    width: 40%
}

.promos-component-wrapper a {
    color: #369;
    text-decoration: none;
    cursor: pointer
}

.promos-component-wrapper h2 {
    font-size: 16px;
    border-bottom: 1px solid #c6c7c9;
    margin-bottom: 10px;
    white-space: nowrap;
    padding-bottom: 2px;
    color: #181512;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    /*font-family: Montserrat Medium,Verdana,Arial,sans-serif*/
}

.spinner .spinner-xs {
    box-sizing: unset
}

@media (max-width:408px) {
    .promos-component-wrapper ul {
        display: flex;
        flex-direction: column
    }

    .promos-component-wrapper li {
        width: 100%
    }
}

@media (max-width:768px) {
    .promos-component-wrapper {
        margin-top: 4%
    }
}

@media (min-width:408px) and (max-width:458px) {
    .promos-component-wrapper li {
        width: 50%
    }
}

.error-component-wrapper {
    color: #c00;
    /*font-family: Montserrat Medium,Verdana,Arial,sans-serif;*/
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
    width: 407px
}

    .error-component-wrapper ul {
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        margin-block-start: 1em;
        -webkit-margin-after: 1em;
        margin-block-end: 1em;
        -webkit-margin-start: 0;
        margin-inline-start: 0;
        -webkit-margin-end: 0;
        margin-inline-end: 0;
        -webkit-padding-start: 40px;
        padding-inline-start: 40px
    }

        .error-component-wrapper ul li {
            padding: 0 !important;
            color: #c00;
            list-style-type: disc
        }

.contact-info-form-fields-error {
    margin-top: 0 !important
}

.contact-info-page-container .contact-info-page-spinner .spinner.right {
    margin-top: 25vh;
    margin-left: 48.5vw;
    margin-bottom: 25vh
}

@media (min-width:320px) and (max-width:480px) {
    .contact-info-page-container .contact-info-page-spinner .spinner.right {
        margin-top: 25vh;
        margin-left: 40vw;
        margin-bottom: 25vh
    }
}

.contact-info-page-container .contact-info-page-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    border-radius: 4px;
    margin: 45px auto;
    padding-left: 15px;
    padding-right: 15px
}

    .contact-info-page-container .contact-info-page-wrapper .contact-info-header {
        display: block;
        border-bottom: 1px solid #dcdee1;
        padding: 5px 0;
        color: #58595b;
        /*font-family: Montserrat Medium,Verdana,Arial,sans-serif;*/
        font-size: 18px;
        font-weight: 500;
        letter-spacing: .23px;
        line-height: 19px
    }

    .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields {
        display: flex;
        flex-direction: column;
        align-self: center;
        position: relative;
        margin-top: 41px
    }

        .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .wide-input-fields {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content
        }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .wide-input-fields .input-box .input-field {
                min-width: 407px;
                margin-bottom: 9px
            }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .wide-input-fields .input-box label[for="Street Address 2"] {
                display: none
            }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .wide-input-fields .input-box #street-address-2.filled + label, .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .wide-input-fields .input-box #street-address-2:focus + label {
                display: block
            }

        .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row {
            box-sizing: border-box;
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 407px
        }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .postal-code-wrapper .input-box {
                max-width: 152px
            }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-box {
                max-width: 255px;
                width: 100%
            }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-box .input-field {
                    margin-bottom: 9px
                }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-box #city {
                    max-width: 255px;
                    width: 100%
                }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-box #postal-code {
                    max-width: 152px
                }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-state-field, .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-state-field-dropdown {
                position: relative;
                padding-left: 10px !important;
                max-width: 140px;
                width: 100%;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content
            }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-state-field-dropdown {
                margin-top: 12px
            }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-state-field-dropdown #state-dropdown {
                    max-width: 140px
                }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-country-field {
                margin-top: 12px;
                position: relative;
                padding-left: 10px !important;
                max-width: 243px;
                width: 100%;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content
            }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .input-country-field #country-dropdown {
                    max-width: 243px
                }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .selected-value {
                width: 100%;
                border-radius: 4px;
                background-color: #fff;
                border: 1px solid #dcdee1;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                display: block;
                padding: 6px 0;
                color: #58595b
            }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .selected-value:active, .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .selected-value:focus, .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .selected-value:hover {
                    border-color: #97999b !important;
                    outline: none !important
                }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .selected-value .caret {
                    position: absolute;
                    top: 13px
                }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .selected-value div {
                    padding: 4px 20px
                }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .dropdown-list {
                position: absolute;
                top: -2px;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 500;
                line-height: 1.5;
                list-style: none
            }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .dropdown-list .caret {
                    position: absolute;
                    top: 14px
                }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row .styled-dropdown .dropdown-list .dropdown-item {
                    color: #58595b
                }

        .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row-button-spinner {
            box-sizing: border-box;
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            flex-wrap: nowrap;
            max-width: 407px;
            margin-top: 31px
        }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row-button-spinner .uig-secondary-button {
                font-size: 14px;
                padding: 11px 22px
            }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row-button-spinner .uig-primary-button {
                margin-left: 20px;
                font-size: 14px;
                padding: 11px 22px
            }

            .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row-button-spinner .saving-changes-spinner {
                display: flex;
                flex: 0 1 auto;
                flex-direction: row;
                align-items: center;
                margin-left: 18px
            }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row-button-spinner .saving-changes-spinner .spinner {
                    margin-top: 0 !important;
                    margin-left: 0 !important
                }

                .contact-info-page-container .contact-info-page-wrapper .contact-info-form-fields .row-button-spinner .saving-changes-spinner .saving-changes-text {
                    height: 15px;
                    width: 99px;
                    color: #ff4300;
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 15px;
                    text-align: center
                }

@media (min-width:320px) and (max-width:480px) {
    .contact-info-form-fields {
        width: 100%
    }

        .contact-info-form-fields .wide-input-fields {
            width: 100% !important
        }

            .contact-info-form-fields .wide-input-fields .input-box {
                width: 100%
            }

                .contact-info-form-fields .wide-input-fields .input-box .input-field {
                    min-width: 100% !important
                }
}

.contact-info-title {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 5px;
    /*font-family: Montserrat Medium,Verdana,Arial,sans-serif*/
}

.contact-info-section {
    font-size: 12px
}

.contact-info-container {
    width: 32%
}

@media (min-width:408px) and (max-width:480px) {
    .contact-info-container {
        width: 50%
    }

    .postal-code-wrapper .label-text.lt_validation-error {
        width: calc(100% - 45px) !important
    }
}

@media (orientation:landscape) {
    .contact-info-container {
        width: 32%
    }
}

@media (max-width:408px) {
    .contact-info-container {
        width: 100%
    }
}

@media (orientation:landscape) and (min-width:768px) and (max-width:1024px) {
    .contact-info-container {
        width: 50%
    }
}

.contact-info-edit {
    color: #369;
    background: none;
    border: none;
    font: inherit;
    margin-left: 4px;
    padding-left: 1px;
    cursor: pointer;
    font-size: 13px
}

    .contact-info-edit:focus {
        outline: 0
    }

    .contact-info-edit:focus-within {
        outline-color: -webkit-focus-ring-color;
        outline-style: auto;
        outline-width: 5px
    }

.contact-spinner {
    position: relative;
    left: 12%
}

.postal-code-wrapper .label-text.lt_validation-error {
    width: calc(100% - 85px) !important
}

.account-settings-container {
    position: relative;
    margin: auto;
    max-width: 1000px;
}

    .account-settings-container h1 {
        /*font-family: Montserrat Medium,Verdana,Arial,sans-serif;*/
        font-weight: 300;
        font-style: bold;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #181512;
        font-size: 18px;
        margin-bottom: 15px
    }

    .account-settings-container hr {
        border: 1px solid #e5e5e5
    }

.account-setting-table {
    display: flex;
    width: 70%;
    flex-direction: row
}

.account-setting-left {
    padding-right: 20px;
    width: 30%
}

.account-setting-right {
    width: 70%
}

.account-setting-section {
    /*width: 70%;*/
    margin-top: 2%
}

.account-setting-content {
    width: 100%
}

@media screen and (max-width:408px) {
    .account-setting-section {
        margin-top: 5%
    }
}

@media screen and (max-width:768px) {
    .App {
        margin: 0 auto;
        width: inherit;
        padding-left: 5px
    }

    .account-setting-table {
        display: flex;
        flex-direction: column;
        width: 100%
    }

    .account-setting-left {
        padding-right: 0;
        width: 100%
    }

    .account-setting-right, .account-setting-section {
        width: 100%
    }
}

@media (orientation:landscape) and (min-width:768px) and (max-width:1024px) {
    .account-setting-left {
        width: 40%
    }

    .account-setting-table {
        width: 80%
    }

    .account-setting-right {
        width: 100%;
        width: 60%
    }

    .account-setting-section {
        width: 80%
    }
}

@media screen and (min-width:768px) {
    .App {
        padding-left: 5px
    }
}

/*ul {
    padding: 0
}

    ul li {
        list-style: none;
        padding: 3px;
        color: #181512
    }*/

h1.account-setting-title {
    color: #181512;
    font-size: 18px;
    line-height: 22px;
    padding: 20px 0 10px;
    border-bottom: 1px solid #c6c7c9;
    border-spacing: 0 30px;
    font-weight: 400
}
/*# sourceMappingURL=accountsettingsclient.18bbf082a0.css.map */

.register-btn {
    background-color: #161649;
    width: 100%;
}


.picture-container {
    height: 30px;
    position: relative;
}

.pituer-account {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


.box-detail-score-style {
    border: 1px solid;
    border-radius: 5px;
    height: 50px;
    justify-content: center;
    text-align: center;
    /* font-size: 26px; */
    padding: 5px;
    background: #ffe300;
}

.detail-score-style {
    font-size: 25px;
    /*color: #2d3069;*/
    padding: 5px 15px;
}

.button-score-style {
    font-size: 20px;
    color: #2d3069;
    margin: 0;
}

