﻿.nav-header {
    font-size: 1.5rem !important;
}

.question-circle {
    width: 25px;
    height: 25px;
    background: #fbaa2b;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 2px;
    border: 1px solid #353434;
    padding: 2px;
}

    .question-circle:hover {
        background: #b49166;
    }


.not-answer {
    background: #d4d3d2;
}

.now-answer {
    background: #45aa1a;
}
    .now-answer a {
        color: white;
    }

.right-answer {
    background: #54c633;
}

    .right-answer a {
        color: white;
    }

    .right-answer div {
        color: white;
    }

.wrong-answer {
    background: #ee1d1d;
}

    .wrong-answer a {
        color: white;
    }

    .wrong-answer div {
        color: white;
    }

.question-circle-content {
    font-size: 12px;
}

.name-game {
    font-size: 3rem;
}

.description-game {
    font-size: 2rem;
}

.name-header {
    font-size: 2rem;
}

.container-minigame {
    margin: auto;
    text-align: center;
}

/*.time-box-display {
    display: inline-block;
    background: #342a2a;
    color: white;
    min-width: 150px;
    border: 1px solid #f2a9a9;
    margin: 0 10px;
}

.time-display {
    font-size: 80px;
    margin: 0;
}

.time-des-display {
    font-size: 20px;
}

.time-title {
    font-size: 100px;
    font-weight: 1000;
}

.time-detail {
    font-size: 50px;
    text-transform: uppercase;
}*/

.time-box-display {
    display: inline-block;
    /*background: #342a2a;*/
    color: white;
    min-width: 150px;
    border: 1px solid #ffffff;
    margin: 10px 10px;
}

.time-display {
    font-size: 80px;
    margin: 0;
}

.time-des-display {
    font-size: 20px;
}

.time-title {
    font-size: 80px;
    font-weight: 1000;
}

.time-detail {
    font-size: 50px;
    /*text-transform: uppercase;*/
}

.partial-container {
    max-width: 1000px;
    margin: auto;
}

.question-partial-content {
    font-size: 20px;
    padding: 0 20px;
}

.question-des-parital {
    margin: 50px 0px 30px 0;
}

.answer-content-partial {
    margin: 10px 0;
}

.description-game {
    margin: 10px;
}

@media (max-width: 700px) {
    .question-partial-content {
        font-size: 14px;
        padding: 0 10px;
    }
}


/* Register */
.register-container {
    margin: auto;
    max-width: 500px;
    margin-bottom: 50px;
    padding: 10px;
}

.model-containter {
    margin-top: 100px;
    color: #0e0d0d;
    font-size: 1.75rem;
}

.packet {
    border: 1px solid #d4d3d2;
    /*background: linear-gradient(45deg, #ffe300, transparent);*/
    background: darkgrey;
    padding: 10px;
}

/* Full-width input fields */
.input-form {
    width: 100% !important;
    max-width: 100% !important;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    color: #0e0d0d;
    font-weight: 300;
}

.input-font-size-20 {
    font-size: 20px;
}

/*    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }*/

hr {
    /*border: 1px solid #f1f1f1;*/
    /*margin-bottom: 25px;*/
}

/* Set a style for all buttons */
button {
    background-color: #161649;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    button:hover {
        opacity: 1;
        color: white;
        /*background: #ffe300;*/
    }


.title {
    font-size: 25px;
}

.title-modal {
    font-size: 30px;
}

.price {
    font-size: 22px;
}

.column-info {
    padding: 0 5px;
}

.row-info-style {
    /*margin: 20px 0 30px 0;*/
}

.description {
    font-size: 20px;
}


/* Extra styles for the cancel button */
.acceptbtn {
    padding: 14px 20px;
    background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .acceptbtn {
    float: left;
    width: 50%;
    font-size: 16px;
}

/* Add padding to container elements */
.container {
    padding: 16px;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.form-title {
    font-size: 20px;
    font-weight: 300;
}

.form-title-header {
    font-size: 22px;
}


.button-disable {
    background-color: #D7DBDD;
    pointer-events: none;
}


.check-sub-dim {
    pointer-events: none;
    filter: brightness(70%);
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

    #customers td, #customers th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #customers tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #customers tr:hover {
        background-color: #ddd;
    }

    #customers th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #ff7f26;
        color: white;
    }

.name-title {
    font-size: 16px;
    color: #2d3069;
}

.nav-pointer {
    font-size: 16px;
}

.pagination-style {
    margin-top: 20px;
    text-align: center;
}


.row-ranking-style {
    background: #c6bfbf;
}


.button-header-small {
    width: 100%;
    text-align: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.large-list-games {
    min-width: 30158px;
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    margin: 0 10px;
}

.small-list-games {
    transform: translate3d(0px, 0px, 0px);
    position: relative;
    margin: 0 10px;
    overflow: auto;
}



input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}


.title-footer-level-2 {
    font-size: 1.475rem;
    font-weight: 400;
}

.title-footer-level-3 {
    font-size: 1.275rem;
    font-weight: 300;
}

.title-footer-level-1 {
    font-size: 1.675rem;
    font-weight: 500;
}

.text-style-level-1 {
    text-align: center;
    color: #2d3069;
}
