﻿.header-view {
    color: #ff6a00;
    font-size: 25px;
    text-align: center;
}

.input-style-modal {
    max-width: 100%;
    color: #808080;
    font-size: 18px;
    height: 50px;
}

.btn-accept-nav-modal {
    font-size: 16px;
}

.btn-cancel-nav-modal {
    font-size: 16px;
    max-width: 300px;
}

.title-modal-level-2 {
    font-size: 20px;
    color: black;
    font-weight: 300;
}

.title-modal-h1 {
    font-size: 25px;
    color: #161649;
    font-weight: 500;
}

.HubHeader-textWrap-2aRn2 {
    max-width: 100%;
}
