﻿.ranking-dialog {
    width: 100%;
    max-width: 1200px;
    padding-right: 15px;
}

    .ranking-dialog .modal-content {
        border-radius: 4px;
        width: 100%;
        max-width: 1200px;
    }

.ranking-title {
    font-size: 20px;
    text-transform: uppercase;
}

.subtitle {
    margin-bottom: 10px;
    color: var(--color-main-orange);
    margin-top: 40px;
}

.ranking-subtitle {
    font-size: 25px;
    /*margin-top: -15px;*/
    /*width: 50px;*/
    /*background: #fff;*/
}

.line-orange {
    border: 1px solid var(--color-main-orange);
}

.line-green {
    border: 1px solid var(--color-main-green);
}

    .line-green + .ranking-subtitle {
        color: var(--color-main-green);
    }

.user-ranking-subtitle {
    font-size: 25px;
    /*margin-top: -15px;*/
    /*width: 190px;*/
    /*background: #fff;*/
    color: var(--color-blue-text);
    text-transform: uppercase;
}

.line-blue {
    border: 1px solid var(--color-blue-text);
}

.close-box {
    margin-right: -35px;
    cursor: pointer;
}

.ranking-item {
    background: #ddd;
    height: 50px;
    border-radius: 30px 0px 0px 30px;
    margin-bottom: 10px;
}

.ranking-item-bright {
    background: #f2f2f2;
}

.user-ranking-item {
    height: 56px;
    background: #E8F7F9;
}

.ranking-item-rank {
    height: 50px;
    text-align: center;
    font-size: 25px;
    font-family: opensansbold;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 0px;
}

.user-item-rank-number {
    color: var(--color-blue-text);
}

.user-ranking-item .ranking-item-rank {
    padding-top: 15px;
    font-size: 20px;
}

.user-ranking-item .ranking-item-rank-user {
    font-size: 18px;
    padding-left: 5px;
    padding-top: 17px;
}

.ranking-item-info p {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 50px;
    margin-bottom: 0px;
    line-height: 50px;
}

.user-ranking-item .ranking-item-info p {
    line-height: 56px;
}

.ranking-item-info p span {
    margin-left: 5px;
    color: #555;
}

.ranking-item-info p a span:hover {
    color: #4c87ed;
}

.ranking-item-info img {
    width: 40px;
    height: 40px;
    border-radius: 2px;
}

.ranking-item-word {
    height: 35px;
    margin-top: 8px;
    border-left: 1px solid #bbb;
    padding-left: 5px;
    padding-right: 5px;
}

.user-ranking-item .ranking-item-word {
    margin-top: 10px;
}

.word-number {
    text-align: center;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: opensansbold;
}

.word-text {
    font-size: 11px;
    text-align: center;
}

.top-rank-group {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -4px;
}

.top-ranking-item {
    padding-left: 5px;
    padding-right: 5px;
}

.top-rank {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background: #fff;
    padding: 3px;
    display: inline-block;
    font-size: 30px;
    text-align: center;
    color: #555;
}

    .top-rank p {
        font-size: 30px;
        font-family: opensansbold;
        line-height: 50px;
        width: 50px;
        height: 50px;
        background: #f49600;
        border-radius: 50%;
        text-align: center;
        color: #fff;
    }

.top-rank-second p {
    background: #659a28;
}

.top-rank-third p {
    background: #4b76e6;
}

.top-rank-info {
    height: 300px;
    background: #ffb600;
    margin-top: -30px;
    border-radius: 5px 5px 0px 0px;
    padding-top: 40px;
    /*border-radius: 10px;*/
}

.top-rank-info-second {
    height: 300px;
    /*padding-top: 90px;*/
    background: #75b924;
}

.top-rank-info-third {
    height: 300px;
    padding-top: 50px;
    background: #4c87ed;
}

.top-rank-info-small {
    background: #ffb600;
    margin-top: -30px;
    /*border-radius: 5px 5px 0px 0px;*/
    padding-top: 40px;
    border-radius: 10px;
}

.top-rank-info-first-small {
    /*padding-top: 150px;*/
}

.top-rank-info-second-small {
    padding-top: 90px;
    background: #75b924;
}

.top-rank-info-third-small {
    padding-top: 50px;
    background: #4c87ed;
}

.cup-img-group {
    display: inline-block;
    background: #f49600;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 10px 15px;
}

.cup-img {
    width: 45px;
}

.rank-avatar {
    width: 100%;
    height: 44px;
    display: inline-block;
    margin-top: 10px;
    /*background: #fff;*/
    padding: 2px;
    border-radius: 4px;
    text-align: center;
}

    .rank-avatar img {
        width: 40px;
        height: 40px;
        border-radius: 4px;
    }

.rank-name {
    color: #fff;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 15px;
}

    .rank-name a {
        color: #fff;
        font-size: 20px;
    }

.rank-number-group {
    background: #f49600;
    /*height: 45px;*/
    /*padding-top: 5px;*/
    border-radius: 10px;
    margin-top: 25px;
}

.rank-number-group-second {
    background: #659a28;
}

.rank-number-group-third {
    background: #4b76e6;
}

.top-rank-word {
    /*    height: 35px;
    width: 31%;*/
    display: inline-block;
    padding: 5px;
}

.top-rank-time {
    height: 35px;
    width: 50%;
    display: inline-block;
    padding-top: 5px;
    border-left: 1px solid #fff;
    /*border-right: 1px solid #fff;*/
}

.top-rank-times {
    /*height: 35px;*/
    /*width: 31%;*/
    display: inline-block;
    padding-top: 5px;
}

    .top-rank-word p,
    .top-rank-time p,
    .top-rank-times p {
        font-size: 16px;
        color: #fff;
        margin-bottom: 0px;
        margin: 0;
    }

    .top-rank-word .top-rank-number,
    .top-rank-time .top-rank-number,
    .top-rank-times .top-rank-number {
        font-size: 11px;
    }

.ranking-msg {
    font-size: 20px;
    color: var(--color-blue-text);
    margin-top: 10px;
}

.img-msg {
    padding-right: 30px;
    margin-top: -15px;
}

.text-avatar {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
}

.ranking-item-info .text-avatar {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    text-transform: uppercase;
    color: #fff;
    line-height: 40px;
    border-radius: 2px;
    margin-left: 0px;
    margin-top: 5px;
}

.user-ranking-item .ranking-item-info .text-avatar {
    margin-top: 8px;
}


.rank-box {
    max-width: 250px;
    margin: auto;
    border-radius: 10px;
    width: 200px;
}
