﻿span, a, input, button, div, h1, select, button, div, p {
    text-decoration: none;
    font-family: "Montserrat Medium", Verdana, Arial, sans-serif !important;
}

.btn-cancel-nav-modal {
    background: #f05323;
    color: #ffffff;
    border: none;
    margin: 10px 0;
    width: 100%;
}

.btn-accept-nav-modal {
    background: #00A5B5;
    color: #ffffff;
    border: none;
    margin: 10px 0;
    width: 100%;
}

.thead-inverse {
    background: #373a3c;
    color: white;
}

.btn-add {
    float: left;
    font-size: 16px;
}

.menu-title {
    font-size: 15px;
    margin-left: 5px;
}

.normal-icon {
    height: 25px;
    width: 25px;
    margin: 0 auto;
}

.admin-menu-icon:hover {
    height: 30px;
    width: 30px;
    margin: 0 auto;
    margin-bottom: 5px;
    /*    background: #ff6a00;*/
    /*    margin-right: 10px;*/
}

.admin-menu-icon {
    height: 25px;
    width: 25px;
    margin: 0 auto;
    margin-bottom: 5px;
    /*    margin-right: 10px;*/
}

.title-action {
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.title-action-box {
    background: #cf6620;
    border-radius: 5px;
    color: #ffffff;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.show {
    display: block;
}




.icon-edit {
    cursor: pointer;
}

.icon-edit {
    cursor: pointer;
}

.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

    .input-group [data-toggle="datetimepicker"] {
        cursor: pointer;
    }

    .input-group > .custom-file,
    .input-group > .custom-select,
    .input-group > .form-control {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
    }

.input-group-append {
    margin-left: -1px;
}

.input-group-append,
.input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}

.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
