﻿.option-box {
    width: 80%;
    height: 35px;
    border-radius: 5px;
    display: inline;
}

.next-btn {
    height: 35px;
    width: 10%;
    border-radius: 5px;
    border: none;
    display: inline-block;
    background: #00ff21;
}
