﻿.img-icon {
    max-height: 300px;
    max-width: 100%;
    margin: 10px auto;
}

.pass {
    color: #27AE60;
}

.fail {
    color: #FF3A01;
}

.hide {
    display: none;
}

.option-box {
    width: 100%;
    height: 35px;
    border-radius: 5px;
}