﻿.form-simple input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-simple input[type="mail"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-simple input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.help-block ul {
    margin: 0 !important;
    padding: 0 !important;
}

    .help-block ul li {
        list-style: none;
    }

.body-login {
    margin: auto;
}

.has-icon-left {
    width: 100%;
    margin: auto !important;
    padding: 10px 0px;
}

.input-lg {
    padding: 0px 10px !important;
    font-size: 20px !important;
    height: 50px !important;
}

.card-title {
    text-align: center;
    margin: auto;
    font-size: 30px;
    margin: 20px;
}
