﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@using FunQuizWeb.Models;
@using FunQuizWeb.Language;
@using System.Globalization;


@model MinigamesModel

<link data-chunk="main" rel="stylesheet" href="~/Content/assets/css/clock_countdown.css">

@{
    if (Model == null)
    {
        <script>
            window.location.href = "/Home";
        </script>
    }
    else
    {
        <div id="gameModal" class="modal login fade model-containter" tabindex="-1" role="dialog">
            <div class="modal-dialog fault-dialog">
                <div id='gameModalContent'>
                </div>
            </div>
        </div>

        if (Model.game != null && Model.timeLeft > -Int64.Parse(BaseController.timeCountDown))
        {

            string todate = Model.game.toDate;
            long total = Model.timeLeft;
            long days = total / (3600 * 24);
            long hour = (total - days * (3600 * 24)) / 3600;
            long minute = (total - days * (3600 * 24) - hour * 3600) / 60;
            long second = total - days * (3600 * 24) - hour * 3600 - minute * 60;

            <style>
                .center-style {
                    text-align: center;
                    margin: auto;
                }
            </style>
            <div class="row" style="max-width:1280px;margin:auto;">
                <div class="@(Model.timeLeft > 0 ? "" : "col-md-8")" style="padding:0;">
                    <div class="HubHeader-root-1lcEV">
                        <div class="Grid-container-3utXw">
                            <div class="HubHeader-textWrap-2aRn2 @(Model.timeLeft > 0 ? "center-style" : "")">
                                <h1 class="HubHeader-title-3i6hM">@Lang.circleMinigame</h1>
                                <p class="HubHeader-subtitle-3PWnJ">
                                    @Lang.descriptionMinigame
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                @{
                    if (Model.timeLeft < 0)
                    {
                        <script>
                            const TIME_LIMIT = @(Int64.Parse(BaseController.timeCountDown) + Model.timeLeft);
                        </script>
                        <div class="col-md-4" style="padding:0;">
                            <div id="app-clock"></div>
                        </div>
                    }
                }
            </div>

            if (Model.timeLeft >= 0)
            {
                <div class="container-minigame">
                    @{
                        if (Model.games.games.Count > 0)
                        {
                            string deadline = Model.game.toDate;

                            <div class="" style="margin-bottom:100px">
                                <div class="time-box-display animate__animated animate__bounce animate__fadeInLeft">
                                    <div class="HubHeader-root-1lcEV">
                                        <div class="Grid-container-3utXw">
                                            <div class="HubHeader-textWrap-2aRn2" style="max-width:100%;padding:0px;">
                                                <h1 id="days-display" class="HubHeader-title-3i6hM time-display">1</h1>
                                                <p class="HubHeader-subtitle-3PWnJ" style=" margin: 0px 0px 10px 0px;">
                                                    @Lang.days
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    @*<h1 id="days-display" class="time-display">1</h1>
                                        <h1 class="time-des-display">days</h1>*@
                                </div>
                                <div class="time-box-display animate__animated animate__bounce animate__fadeInLeft">
                                    <div class="HubHeader-root-1lcEV">
                                        <div class="Grid-container-3utXw">
                                            <div class="HubHeader-textWrap-2aRn2" style="max-width:100%;padding:0px;">
                                                <h1 id="hours-display" class="HubHeader-title-3i6hM time-display">1</h1>
                                                <p class="HubHeader-subtitle-3PWnJ" style=" margin: 0px 0px 10px 0px;">
                                                    @Lang.hours
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    @*<h1 id="hours-display" class="time-display">1</h1>
                                        <h1 class="time-des-display">hours</h1>*@
                                </div>
                                <div class="time-box-display animate__animated animate__bounce animate__fadeInRight">
                                    <div class="HubHeader-root-1lcEV">
                                        <div class="Grid-container-3utXw">
                                            <div class="HubHeader-textWrap-2aRn2" style="max-width:100%;padding:0px;">
                                                <h1 id="minutes-display" class="HubHeader-title-3i6hM time-display">1</h1>
                                                <p class="HubHeader-subtitle-3PWnJ" style=" margin: 0px 0px 10px 0px;">
                                                    @Lang.minutes
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    @*<h1 id="minutes-display" class="time-display">1</h1>
                                        <h1 class="time-des-display">minutes</h1>*@
                                </div>
                                <div class="time-box-display animate__animated animate__bounce animate__fadeInRight">
                                    <div class="HubHeader-root-1lcEV">
                                        <div class="Grid-container-3utXw">
                                            <div class="HubHeader-textWrap-2aRn2" style="max-width:100%;padding:0px;">
                                                <h1 id="seconds-display" class="HubHeader-title-3i6hM time-display">1</h1>
                                                <p class="HubHeader-subtitle-3PWnJ" style=" margin: 0px 0px 10px 0px;">
                                                    @Lang.seconds
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    @*<h1 id="seconds-display" class="time-display">1</h1>
                                        <h1 class="time-des-display">seconds</h1>*@
                                </div>
                            </div>

                            @*<h1 id="hourCount" class="display-3 text-warning">@hour</h1>
                                <h1 id="minuteCount" class="display-3 text-warning">@minute</h1>
                                <h1 id="demo" class="display-3 text-light" style="display:inline-block;">@Model.timeLeft</h1>*@

                            @*<span id="timerLabel" runat="server">60</span>*@
                        }
                        else
                        {
                            <h1>@Lang.noGame</h1>
                        }
                    }
                </div>
            }
            if (Model.timeLeft < 0)
            {
                @*<div class="container-minigame" style="margin-top:20px;">
                        <div class="time-box-display">
                            <h1 id="countdown" class="time-display">60</h1>
                        </div>
                    </div>*@
                @*<div style="text-align: center;">
                        <div class="time-box-display animate__animated animate__bounce animate__fadeInRight">
                            <div class="HubHeader-root-1lcEV">
                                <div class="Grid-container-3utXw">
                                    <div class="HubHeader-textWrap-2aRn2" style="max-width:100%;padding:0px;">
                                        <h1 id="countdown" class="HubHeader-title-3i6hM time-display">1</h1>
                                        <p class="HubHeader-subtitle-3PWnJ" style=" margin: 0px 0px 10px 0px;">
                                            seconds
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            }
            <div class="PostLayout-containerBg-Y1mrY">
                <div class="Grid-container-3utXw">
                    <div class="Grid-row-2D_Ha">
                        <div class="Grid-colSm12-2SCob Grid-col-2W7mE Grid-colLg8-2K5_b Grid-col-2W7mE PostLayout-videoWrap-2Fhe5">
                            <div id="minigames">
                            </div>
                        </div>
                        <div class="Grid-colSm12-2SCob Grid-col-2W7mE Grid-colLg4-2gUpB Grid-col-2W7mE PostLayout-playlistWrap-2hkeT">
                            <div class="PostLayout-inner-4q1CV">
                                <h3><span class="utils-fixBaseline-MRdHf">@Lang.rank</span></h3>
                                <div class="PostButtons-buttonWrapOuter-1Q8rm">
                                    <div class="PostButtons-buttonWrapInner-ZV4LT">
                                        @{
                                            for (int g = 0; g < Model.accounts.Count(); g++)
                                            {
                                                AccountUser user = Model.accounts[g];
                                                <a class="PostButtons-link-13wpb">
                                                    <button class="PostButtons-postButton-3li_z"
                                                            type="button">
                                                        <div class="PostButtons-buttonInner-36BLE">
                                                            <div class="PostButtons-postButtonImageWrap-2JJvk"
                                                                 style="background-color: rgb(205, 18, 56);">

                                                                <img class="PostButtons-postButtonImage-2MF74" alt=""
                                                                     src="@user.picture"
                                                                     width="195">
                                                                <span class="FormatIcon-icon-UGfMR PostButtons-icon-36vOS">
                                                                    <svg aria-hidden="true" class="FormatIcon-image-3oqAv"
                                                                         xmlns="http://www.w3.org/2000/svg" width="60" height="60"
                                                                         viewBox="0 0 60 60">
                                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                                              d="M25.7 33.8c0-.7 0-1.4.2-2a5.2 5.2 0 0 1 2-2.9 10 10 0 0 1 1.7-1l7.3-3.5v-5.7H23.4v5h-5.7v-5a5.3 5.3 0 0 1 1.7-3.9 6 6 0 0 1 4-1.6h13.5c.8 0 1.5.1 2.2.4a6 6 0 0 1 1.9 1.2 5.4 5.4 0 0 1 1.6 4v4.7c0 .7 0 1.4-.2 2l-.7 1.6a5 5 0 0 1-1.2 1.3l-1.8 1-7.4 3.4v4.7h-5.6v-3.7zm-.4 7.9H32v6.6h-6.8v-6.6z">
                                                                        </path>
                                                                    </svg>
                                                                </span>
                                                            </div>
                                                            <div>
                                                                <p class="PostButtons-postButtonText-RMxf0" style=" padding: 5px 0;">@user.msisdn.Remove(user.msisdn.Length - 3)***</p>
                                                                <p class="PostButtons-postButtonText-RMxf0" style=" padding: 5px 0;">@user.fullname</p>
                                                                <p class="PostButtons-postButtonText-RMxf0" style=" padding: 5px 0;">
                                                                    @DateTime.ParseExact(user.birthday, "yyyy-MM-dd HH:mm:ss.f", CultureInfo.InvariantCulture).ToString("MM/dd/yyyy")
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </button>
                                                </a>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
            if ( @Model.timeLeft <= 0) {

                timerInterval = setInterval(() => {
                    timePassed = timePassed += 1;
                    timeLeft = TIME_LIMIT - timePassed;
                    document.getElementById("base-timer-label").innerHTML = formatTime(
                        timeLeft
                    );
                    setCircleDasharray();
                    setRemainingPathColor(timeLeft);
                    //console.log("timeLeft ", timeLeft);

                    if (timeLeft === 0) {

                        $(".container-minigame").addClass("hide");
                        console.log("timeup");
                        onTimesUp();
                        window.location.href = "/MiniGames";
                        @*$.ajax({
                            url: urlConfig("/Minigames/PlayGame"),
                            type: "POST",
                            data: {
                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                gameId: @Model.game.id,
                            },
                            success: function (data) {
                                $('#minigames').html(data);
                            }
                        });*@
                    }
                }, 1000);

                @*var seconds = @Model.timeLeft + 326178,
                    $seconds = document.querySelector('#countdown');
                (function countdown() {
                    $seconds.textContent = seconds;
                    if (seconds-- > 0) setTimeout(countdown, 1000);
                    else {
                        $.ajax({
                            url: urlConfig("/Minigames/PlayGame"),
                            type: "POST",
                            data: {
                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                gameId: @Model.game.id,
                            },
                            success: function (data) {
                                $('#minigames').html(data);
                            }
                        });
                    }
                })();*@

                $.ajax({
                    url: urlConfig("/Minigames/PlayGame"),
                    type: "POST",
                    data: {
                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                        gameId: @Model.game.id,
                    },
                    success: function (data) {
                        $('#minigames').html(data);
                    }
                });
            } else {
                var countDownDate = new Date('@Model.timeExpired').getTime();
                var now = new Date('@Model.timeNow').getTime();

                console.log("countDownDate: ", countDownDate);
                console.log("now: ", now);
                // Update the count down every 1 second
                var x = setInterval(function () {

                    // Get today's date and time
                    //var now = new Date().getTime();

                    // Find the distance between now and the count down date
                    var distance = countDownDate - now;
                    console.log("dis: ", distance);

                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Display the result in the element with id="demo"
                    document.getElementById("days-display").innerHTML = days
                    document.getElementById("hours-display").innerHTML = hours
                    document.getElementById("minutes-display").innerHTML = minutes
                    document.getElementById("seconds-display").innerHTML = seconds

                    // If the count down is finished, write some text
                    if (distance < 0) {
                        clearInterval(x);
                        //document.getElementById("demo").innerHTML = "EXPIRED";

                        $.ajax({
                            url: urlConfig("/Minigames/PlayGame"),
                            type: "POST",
                            data: {
                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                gameId: @Model.game.id,
                            },
                            success: function (data) {
                                $('#minigames').html(data);
                            }
                        });
                    }
                    now += 1000;
                }, 1000);
                setTimeout("countdown()", 1000);
            }
            </script>
            <script src="~/Content/assets/js/clock_countdown.js"></script>
        }
        else
        {
            <div class="HubHeader-root-1lcEV">
                <div class="Grid-container-3utXw">
                    <div class="HubHeader-textWrap-2aRn2" style=" text-align: center; margin: auto;">
                        <h1 class="HubHeader-title-3i6hM">@Lang.noGame</h1>
                        <p class="HubHeader-subtitle-3PWnJ">
                            @Lang.comebackNextTime
                        </p>
                    </div>
                </div>
            </div>
        }
    }
}


