﻿
@{
    Layout = null;
}
@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;
@using FunQuizWeb.Models;

<link data-chunk="main" rel="stylesheet" href="~/Content/assets/css/client.css">
<link data-chunk="main" rel="stylesheet" href="~/Content/assets/css/client.css">


@model MinigamePartialModel

<form action="/Minigames/PlayGame" method="post" id="game-form">
    @*<input type="hidden" name="gameId" class="gameId" value="@Model.game.id" />*@
    <input type="hidden" name="questionNow" class="questionNow" value="@Model.questionNow" />
    <input type="hidden" name="questionId" class="questionId" value="" />
    <input type="hidden" name="answerId" class="answerId" value="" />
</form>

@{
    if (Model.result == null)
    {
        <div class="partial-container">
            @*<h3 class="name-game">Good luck</h3>*@
            @{
                Game question = Model.question;
                // get al questions of it's content
                List<Game> answers = Model.answers.games.FindAll(x => x.parentId == question.id);

                <div style="margin-top:20px;">
                    <section class="QuizQuestion-question-wPrZR">
                        <div class="QuizQuestionMedia-root-1Ja_2">
                            <div class="QuizQuestionMedia-counterWrap-1XKnX">
                                <span class="QuizQuestionCounter-root-8IwyW">
                                    <span class="utils-fixBaseline-MRdHf">@(int.Parse(Model.questionNow) + 1 + "/" + Model.questions.games.Count())</span>
                                </span>
                            </div>
                            <div class="VideoWithFallbackImage-imageWrap-1t_Jo AspectRatioPaddingWrap-root-1xKVH"
                                 style="padding-top: @(question.contentType == UtilsController.GetContentType.TEXT_TYPE ? "20px" : "65.25%"); background-color: rgb(199, 190, 181);">
                                @{
                                    if (int.Parse(Model.questionNow) > 0)
                                    {
                                        <button class="Carousel-prevButton-2-bgw Carousel-button-20q-s horizon-prev"
                                                aria-label="Previous" type="button">
                                            <img src="~/Content/assets/images/icons8-chevron-right-100.png" />
                                        </button>
                                    }
                                }

                                @{
                                    if (question.contentType == UtilsController.GetContentType.TEXT_TYPE)
                                    {
                                        <p class="question-partial-content">@question.content</p>
                                    }
                                    else if (question.contentType == UtilsController.GetContentType.PICTURE_FILE)
                                    {
                                        <img class="QuizQuestionMediaSingleImage-image-3uGu9"
                                             alt=""
                                             src="@question.content"
                                             width="780">
                                    }
                                    else if (question.contentType == UtilsController.GetContentType.VIDEO_FILE || question.contentType == UtilsController.GetContentType.VIDEO_LINK)
                                    {
                                        <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                               src="@question.content"
                                               loop="" autoplay="">
                                        </video>
                                    }
                                    else if (question.contentType == UtilsController.GetContentType.AUDIO_FILE || question.contentType == UtilsController.GetContentType.AUDIO_LINK)
                                    {
                                        <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                               src="@question.content"
                                               loop="" autoplay="">
                                        </video>
                                    }
                                }

                                @{
                                    if (int.Parse(Model.questionNow) < Model.questions.games.Count() - 1)
                                    {
                                        <button class="Carousel-nextButton-10hqT Carousel-button-20q-s horizon-next"
                                                aria-label="Next" type="button">
                                            <img src="~/Content/assets/images/icons8-chevron-right-100.png" />
                                        </button>
                                    }
                                }
                            </div>

                            <script>
                                $('.horizon-prev').click(function () {
                                    console.log("prev")
                                    @*if (@int.Parse(Model.questionNow) > 0) {
                                        $(".questionNow").val("@(int.Parse(Model.questionNow)-1)")
                                        $("#game-form").submit();
                                    }*@
                                    if (@int.Parse(Model.questionNow) > 0) {
                                        $.ajax({
                                            url: urlConfig("/Minigames/PlayGame"),
                                            type: "POST",
                                            data: {
                                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                                gameId: @Model.game.id,
                                                questionNow: @(int.Parse(Model.questionNow)-1),
                                            },
                                            success: function (data) {
                                                $('#minigames').html(data);
                                            }
                                        });
                                    }
                                });

                                $('.horizon-next').click(function () {
                                    console.log("next")

                                    @*if (@int.Parse(Model.questionNow) < @Model.questions.games.Count()) {
                                        $(".questionNow").val("@(int.Parse(Model.questionNow)+1)")
                                        $("#game-form").submit();
                                    }*@
                                    if (@int.Parse(Model.questionNow) < @Model.questions.games.Count()) {
                                        $.ajax({
                                            url: urlConfig("/Minigames/PlayGame"),
                                            type: "POST",
                                            data: {
                                                __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                                gameId: @Model.game.id,
                                                questionNow: @(int.Parse(Model.questionNow)+1),
                                            },
                                            success: function (data) {
                                                $('#minigames').html(data);
                                            }
                                        });
                                    }
                                });
                            </script>
                        </div>
                        <div class="QuizQuestionText-root-2LppL question-des-parital" style=" margin: 50px 20px 20px 20px;">
                            <div class="QuizQuestionText-text-3exbC">
                                <p class="description-game">
                                    @question.description
                                </p>
                            </div>
                        </div>

                        <div class="QuizQuestion-answers-wMhTA">
                            @{
                                for (int a = 0; a < answers.Count(); a++)
                                {
                                    Game answer = answers[a];
                                    if (answer.typeOf != UtilsController.Constant.ANSWER_RIGHT)
                                    {
                                        <button type="button"
                                                class="QuizAnswer-root-uv88q answer-next answer-content-partial" value="@answer.id" style="padding: 20px;">
                                            <div class="QuizAnswer-text-xkC2H">
                                                @{
                                                    if (answer.contentType == UtilsController.GetContentType.TEXT_TYPE)
                                                    {
                                                        @answer.content
                                                    }
                                                    else if (answer.contentType == UtilsController.GetContentType.PICTURE_FILE)
                                                    {
                                                        //QuizQuestionMediaSingleImage - image - 3uGu9
                                                        <img class=""
                                                             alt=""
                                                             src="@(answer.content)"
                                                             width="780">
                                                    }
                                                    else if (answer.contentType == UtilsController.GetContentType.VIDEO_FILE || question.contentType == UtilsController.GetContentType.VIDEO_LINK)
                                                    {
                                                        <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                                               src="@(answer.content)"
                                                               loop="" autoplay="">
                                                        </video>
                                                    }
                                                    else if (answer.contentType == UtilsController.GetContentType.AUDIO_FILE || question.contentType == UtilsController.GetContentType.AUDIO_LINK)
                                                    {
                                                        <video class="VideoWithFallbackImage-hidden-20i7E QuizQuestionMediaSingleImage-image-3uGu9"
                                                               src="@(answer.content)"
                                                               loop="" autoplay="">
                                                        </video>
                                                    }
                                                }
                                            </div>
                                        </button>
                                    }
                                }
                            }
                        </div>
                        <script>
                            $(".answer-next").on("click", function () {
                                var answer = $(this).attr("value");
                                @*$(".answerId").val(answer);
                                $(".questionId").val("@Model.question.id");
                                $(".questionNow").val("@(int.Parse(Model.questionNow)+1)");
                                $("#game-form").submit();*@

                                $.ajax({
                                    url: urlConfig("/Minigames/PlayGame"),
                                    type: "POST",
                                    data: {
                                        __RequestVerificationToken: $('input[name=__RequestVerificationToken]').val(),
                                        gameId: @Model.game.id,
                                        questionNow: @(int.Parse(Model.questionNow)+1),
                                        answerId: answer,
                                        questionId: @Model.question.id,
                                    },
                                    success: function (data) {
                                        if (@int.Parse(Model.questionNow) + 1 >= @Model.questions.games.Count()) {
                                            console.log("finished");
                                            $('#gameModalContent').html(data);
                                            $('#gameModal').modal({ "backdrop": "static", keyboard: true });
                                            $('#gameModal').modal('show');
                                        } else {
                                            console.log("continued  ");
                                            $('#minigames').html(data);
                                        }
                                    }
                                });

                            })
                        </script>
                    </section>
                </div>
            }
        </div>
    }
    else
    {
        <div>
            <h3 class="name-game">@Model.question.name</h3>
            <div>
                <div class="QuizResult-root-S5m6U QuizResult-animationComplete-117FV">
                    <div class="QuizResult-wrap-1HUV7">
                        <div class="QuizResult-animateIn-1au_Y">
                            <div class="QuizResult-imageWrap-3S5e2">
                                <img class="QuizResult-image-3KQrH"
                                     src="https://images.beano.com/store/5bd9c0472d38f414a27378750b1162978467803494867c87eb9d26df4be5?auto=compress&amp;w=752&amp;h=423&amp;fit=min"
                                     alt="Princess Jasmine">
                                <div class="QuizResult-attributionContainer-1Fan-">
                                    <div class="Attribution-root-3Fbi6 Attribution-light-213sN">
                                        <div class="Attribution-attribution-1DCl5">
                                            @Model.result.introduction
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="QuizResult-title-1lATT name-game">
                                @Model.result.name
                            </h3>
                            <div class="QuizResult-description-ndVuw description-game">
                                <p>@Model.result.description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="Quiz-restartWrap-2-GqJ">
                <button class="Button-largeButton-3Cey_ retake-quiz" type="button">
                    <span class="utils-fixBaseline-MRdHf">@FunQuizWeb.Language.Lang.retake</span>
                    <img class="Button-icon-2cTsv"
                         src="/images/icon--quiz-retake.43c86d3957dd3920faa551949eb8224a.svg"
                         alt="">
                </button>
            </div>
            <script>
                $(".retake-quiz").on("click", function () {
                    $(".questionNow").val("0");
                    $("#game-form").submit();
                })
            </script>
        </div>
    }
}