﻿


@using FunQuizWeb.Language;
@using FunQuizWeb.Models;
@using FunQuizWeb.Class;
@using FunQuizWeb.Controllers;


@model ResultPopupModel

@{
    int right = 0;
    for (int i = 0; i < Model.listAnswers.Count; i++)
    {
        Answer answer = Model.listAnswers[i];
        if (answer.answer.content == answer.rightAnswer.content)
        {
            right++;
        }
    }
}

<div class="modal-content" style="margin:10px;">
    <a class="modal-button-close" href="javascript:void(0)" data-dismiss="modal"></a>

    <div class="modal-content-feedback">
        @*<input type="hidden" name="choosePlan" id="choosePlan" value=""/>*@
        <p class="fault-title text-center" style="margin: 20px 5px 0 5px;">
            <h1 style="text-align:center;margin:auto;">
                <span class="desktop-view title-modal">@Lang.result</span>
            </h1>
        </p>
        <div style="background: #e5e5e5;height: 1px; margin: 0 15px 0 15px;"></div>
        <div class="modal-body">
            @*<div>
            <h2>@Lang.result</h2>
            <h3>@right / @Model.questions.games.Count</h3>
        </div>*@

            @{
                if (Model.finished == true && Model.result == true && Model.charge == UtilsController.Constant.SUCCESS)
                {
                    <div class="QuizResult-root-S5m6U QuizResult-animationComplete-117FV">
                        <div class="QuizResult-wrap-1HUV7">
                            <div class="QuizResult-animateIn-1au_Y">
                                <div class="QuizResult-imageWrap-3S5e2">
                                    <img class="QuizResult-image-3KQrH" style="max-height: 400px;"
                                         src="~/Content/assets/images/winnerWeekly.jpg"
                                         alt="Oh no">
                                    <div class="QuizResult-attributionContainer-1Fan-"></div>
                                </div>
                                <h3 class="QuizResult-title-1lATT">@Lang.congratulation</h3>
                                <div class="QuizResult-description-ndVuw">
                                    <p>@Lang.receiveReward</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.finished == true && Model.result == true && Model.charge == UtilsController.Constant.ALREADY_ANSWERED)
                {
                    <div class="QuizResult-root-S5m6U QuizResult-animationComplete-117FV">
                        <div class="QuizResult-wrap-1HUV7">
                            <div class="QuizResult-animateIn-1au_Y">
                                <div class="QuizResult-imageWrap-3S5e2">
                                    <img class="QuizResult-image-3KQrH" style="max-height: 400px;"
                                         src="~/Content/assets/images/next_time.png"
                                         alt="Oh no">
                                    <div class="QuizResult-attributionContainer-1Fan-"></div>
                                </div>
                                <h3 class="QuizResult-title-1lATT">@Lang.answeredMinigame</h3>
                                <div class="QuizResult-description-ndVuw">
                                    <p>@Lang.schedule</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else if (Model.finished == true && Model.result == true)
                {
                    <div class="QuizResult-root-S5m6U QuizResult-animationComplete-117FV">
                        <div class="QuizResult-wrap-1HUV7">
                            <div class="QuizResult-animateIn-1au_Y">
                                <div class="QuizResult-imageWrap-3S5e2">
                                    <img class="QuizResult-image-3KQrH" style="max-height: 400px;"
                                         src="~/Content/assets/images/nextTimeLucky.jpg"
                                         alt="Oh no">
                                    <div class="QuizResult-attributionContainer-1Fan-"></div>
                                </div>
                                <h3 class="QuizResult-title-1lATT">@Lang.tooLate</h3>
                                <div class="QuizResult-description-ndVuw">
                                    <p>@Lang.schedule</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="QuizResult-root-S5m6U QuizResult-animationComplete-117FV">
                        <div class="QuizResult-wrap-1HUV7">
                            <div class="QuizResult-animateIn-1au_Y">
                                <div class="QuizResult-imageWrap-3S5e2">
                                    <img class="QuizResult-image-3KQrH" style="max-height: 400px;"
                                         src="~/Content/assets/images/looser.jpg"
                                         alt="Oh no">
                                    <div class="QuizResult-attributionContainer-1Fan-"></div>
                                </div>
                                <h3 class="QuizResult-title-1lATT">@Lang.luckyNextTime</h3>
                                <div class="QuizResult-description-ndVuw">
                                    <p>@Lang.schedule</p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <div class="modal-footer" style="border:none;">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn grey btn send-fault btn-cancel-nav-modal closeBtnModal" data-dismiss="modal">
                            @Lang.close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".closeBtnModal").on("click", function () {
                window.location.href = "/Home"
            })
        </script>
    </div>
</div>